<table class="table table-striped">

    <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#createModel">
        Add new filter
    </button>

    <div class="modal fade" id="createModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">New filter</h4>
                </div>
                <div class="modal-body" ng-init="new_filter">

                    <div class="input-group">
                        <input type="text" ng-model="new_filter.name" class="form-control"  placeholder="Filter name">

                        <select ng-model="update_filter.valid_data" class="form-control"  placeholder="Filter мфдшв">
                            <option value="false">Валидировать</option>
                            <option value="true"> Не валидировать</option>
                        </select>

                        <select ng-model="new_filter.type_value" ng-options="option.name for option in type_options" class="form-control">
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="addNewFilter()" >Create filter</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myUpdateLabel">Update filter</h4>
                </div>
                <div class="modal-body" ng-init="update_filter">

                    <div class="input-group">

                        <input type="hidden" ng-model="update_filter.id" class="form-control"  placeholder="Filter name">

                        <input type="text" ng-model="update_filter.name" class="form-control"  placeholder="Filter name">

                        <select ng-model="update_filter.valid_data" class="form-control"  placeholder="Filter мфдшв">
                            <option value="false">Валидировать</option>
                            <option value="true"> Не валидировать</option>
                        </select>

                        <select ng-model="update_filter.type_value" ng-options="option.name for option in type_options" class="form-control">
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="_edit()" >Create filter</button>
                </div>
            </div>
        </div>
    </div>


    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>Type Value</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Remove</th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="filter in filters">
        <td>{{ filter.id }}</td>
        <td>{{ filter.name }}</td>
        <td>{{ filter.type_value | filterType }}</td>
        <td><button type="button" class="btn btn-info btn-sm"   ng-click="show(filter)">Show</button></td>
        <td><button type="button" class="btn btn-warning btn-sm"  ng-click="showEdit(filter)">Edit</button></td>
        <td><button type="button" class="btn btn-danger btn-sm"   ng-click="_remove(filter)">Remove</button></td>

    </tr>
    </tbody>
</table>