<ul class="nav nav-tabs">
    <li role="presentation" ng-class="getClass(0)"><a ng-click="setTab(0)" >Свойства</a></li>
    <li role="presentation" ng-class="getClass(1)"><a ng-click="setTab(1)">Значения для языков</a></li>
</ul>
<br>

<div ng-show="props">
    <table class="table table-striped">

        <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#createModel">
            Add new value for filter
        </button>

        <div class="modal fade" id="createModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">New filter</h4>
                    </div>
                    <div class="modal-body" ng-init="new_value">

                        <div class="input-group">
                            <input type="text" ng-model="new_value.title" class="form-control"  placeholder="Title">
                            <input type="text" ng-model="new_value.color" class="form-control"  placeholder="Color">
                            <input type="file" id="file_val" ng-model="new_value.image" class="form-control"  placeholder="Image">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="_create()" >Create filter</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="updateModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myUpdateLabel">Update filter</h4>
                    </div>
                    <div class="modal-body" ng-init="update_filter">

                        <div class="input-group">

                            <div class="input-group">
                                <input type="text" ng-model="update_value.title" class="form-control"  placeholder="Title">
                                <input type="text" ng-model="update_value.color" class="form-control"  placeholder="Color">
                                <input type="file" id="file_val_update" class="form-control"  placeholder="Image">
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="_edit()" >Create filter</button>
                    </div>
                </div>
            </div>
        </div>



        <thead>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>color</th>
            <th>img</th>
            <th>Show</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="filter_val in filter_vals">
            <td>{{ filter_val.id }}</td>
            <td>{{ filter_val.title }}</td>
            <td>{{ filter_val.color }}</td>
            <td><img ng-src="{{filter_val.image}}"></td>
            <td><button type="button" class="btn btn-info btn-sm"   ng-click="show(filter_val)">Show</button></td>
            <td><button type="button" class="btn btn-warning btn-sm"  ng-click="showEdit(filter_val)">Edit</button></td>
            <td><button type="button" class="btn btn-danger btn-sm"   ng-click="_remove(filter_val)">Remove</button></td>

        </tr>
        </tbody>
    </table>
</div>



<div ng-show="langs">
    <table class="table table-striped">

        <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#createModel">
            Add new value for filter
        </button>

        <div class="modal fade" id="createModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">New filter</h4>
                    </div>
                    <div class="modal-body" ng-init="new_value">

                        <div class="input-group">
                            <input type="text" ng-model="new_value.title" class="form-control"  placeholder="Title">
                            <input type="text" ng-model="new_value.color" class="form-control"  placeholder="Color">
                            <input type="file" id="file_val" ng-model="new_value.image" class="form-control"  placeholder="Image">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="_create()" >Create filter</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="updateModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myUpdateLabel">Update filter</h4>
                    </div>
                    <div class="modal-body" ng-init="update_filter">

                        <div class="input-group">

                            <div class="input-group">
                                <input type="text" ng-model="update_value.title" class="form-control"  placeholder="Title">
                                <input type="text" ng-model="update_value.color" class="form-control"  placeholder="Color">
                                <input type="file" id="file_val_update" class="form-control"  placeholder="Image">
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="_edit()" >Create filter</button>
                    </div>
                </div>
            </div>
        </div>



        <thead>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>color</th>
            <th>img</th>
            <th>Show</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="filter_val in filter_vals">
            <td>{{ filter_val.id }}</td>
            <td>{{ filter_val.title }}</td>
            <td>{{ filter_val.color }}</td>
            <td><img ng-src="{{filter_val.image}}"></td>
            <td><button type="button" class="btn btn-info btn-sm"   ng-click="show(filter_val)">Show</button></td>
            <td><button type="button" class="btn btn-warning btn-sm"  ng-click="showEdit(filter_val)">Edit</button></td>
            <td><button type="button" class="btn btn-danger btn-sm"   ng-click="_remove(filter_val)">Remove</button></td>

        </tr>
        </tbody>
    </table>
</div>


