 <%= javascript_include_tag 'app/apps/app', 'data-turbolinks-track' => false %>
<%= javascript_include_tag 'control/control.js', 'data-turbolinks-track' => false %>


<!--
<nav class="navbar navbar-inverse" role="navigation">
  &lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
      <span class="sr-only">Toggle navigation</span>
      <i class="fa-bars"></i>
    </button>
    <a class="navbar-brand" href="">Auto</a>
  </div>

  &lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
    <ul class="nav navbar-nav">

    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href=""><%= current_user.email %></a></li>

      <% if user_signed_in? %>
          <li><%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></li>
      <% else %>
          <li><%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
  &lt;!&ndash; /.navbar-collapse &ndash;&gt;
</nav>-->
<div class="page-body" ng-controller="MenuCtrl" ng-class="{'settings-pane-open': layoutOptions.settingsPane.isOpen, 'chat-open': layoutOptions.chat.isOpen, 'login-page': isLoginPage && isMainPage == false, 'login-light': isLightLoginPage && isMainPage == false, 'lockscreen-page': isLockscreenPage && isMainPage == false, 'right-sidebar': layoutOptions.sidebar.isRight, 'boxed-container': layoutOptions.container.isBoxed}">


  <settings-pane></settings-pane>

  <horizontal-menu ng-if="layoutOptions.horizontalMenu.isVisible"></horizontal-menu>

  <div class="page-container" ui-view></div>

  <!-- Remove this code if you want to disable Loading Overlay in the beginning of document loading -->
  <div class="page-loading-overlay">
    <div class="loader-2"></div>
  </div>

  </div>
</div>


<!-- Remove this code if you want to disable Loading Overlay in the beginning of document loading -->
<div class="page-loading-overlay">
  <div class="loader-2"></div>
</div>





<div class="container-fluid">

  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <div class="table-responsive">

      <div class="view-container">
        <div ng-view class="view-frame">

        </div>
      </div>

    </div>
  </div>
</div>
</div>


