<%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track' => true %>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#">Авто</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href=""><%= current_user.email %></a></li>

        <% if user_signed_in? %>
            <li><%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></li>
        <% else %>
            <li><%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row" ng-controller="MenuCtrl">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li ng-class="getClass('/filters')"><a href="#filters"> Фильтры </a></li>
        <li  ng-class="getClass('/languages')"><a href="#languages"> Языки </a></li>
        <li  ng-class="getClass('/groups')"><a href="#groups"> Группы </a></li>
        <li  ng-class="getClass('/adverts')"><a href="#adverts"> Объявления </a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <div class="table-responsive">

        <div class="view-container">
          <div ng-view class="view-frame">

          </div>
        </div>

      </div>
    </div>
  </div>
</div>


