<link rel="stylesheet" href="/assets/user_admin.css">

<div class="animate_bg"  data-ng-if="!showContent">
    <img src="/assets/712.GIF">
</div>
<div data-ng-if="showContent">

    <header></header>
    <div style="overflow: hidden">

       <user-menu></user-menu>

        <div class="content col-sm-10">
            <h2 class="sub-header col-sm-12">Объявления</h2>

            <div class="table-responsive col-sm-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Название</th>
                        <th>Цена</th>
                        <th>Описание</th>
                        <th>Подключена до</th>
                        <th>Действие</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-if="my_services.length == 0">
                        <td colspan="5">У вас нет подключенных услуг</td>

                    </tr>
                    <tr ng-repeat="service in my_services">
                        <td>{{service.name }}</td>
                        <td>{{service.price }}</td>
                        <td>{{service.desc }}</td>
                        <td>{{service.duration }}</td>
                        <td><button class="btn btn-danger" data-ng-click="remove_advert(advert)">Удалить</button></td>
                    </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>

    <footer></footer>

</div>
