<link rel="stylesheet" href="/assets/user_admin.css">

<div class="animate_bg"  data-ng-if="!showContent">
    <img src="/assets/712.GIF">
</div>
<div data-ng-if="showContent">

    <header></header>
    <div style="overflow: hidden">

        <user-menu></user-menu>

        <div class="content col-sm-10">
            <h2 class="sub-header col-sm-12">Объявления</h2>

            <div class="table-responsive col-sm-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Изображение</th>
                        <th>Модель</th>
                        <th>Цена</th>
                        <th>Просмотры</th>
                        <th>Дата создания</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-if="adverts.length == 0">
                        <td colspan="5">У Вас нет созданных объявлений</td>

                    </tr>
                    <tr ng-repeat="advert in adverts">
                        <td class="link"><img ng-click="getAdvert(advert)" src="{{advert.icon }}"></td>
                        <td class="link"><a data-ng-click="getAdvert(advert)">{{advert.mark}} {{advert.model}}</a></td>
                        <td>{{ advert.price }}</td>
                        <td>10</td>
                        <td><button class="btn btn-danger" data-ng-click="remove_advert(advert)">Удалить</button></td>
                    </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>

    <footer></footer>

</div>
