<link rel="stylesheet"  href="/assets/home.scss">
<link rel="stylesheet"  href="/assets/last/slick.css">
<link rel="stylesheet"  href="/assets/last/slick-theme.css">
<header></header>
<div class="home-slider-sec aw-home-slider-sec aw-ag-slider">
    <div class="container">
        <div class="home-page-super-text row">
            <div class="col-lg-6 col-sm-6 col-sm-12">
                <div class="slider-form-sec">
                    <div class="home_all_form_top_icon">
                        <div class="home_all_form_top_icon_box">
                            <div class="home_all_form_top_icon_img">
                                <a href="#" >
                                    <svg class="image_box" width="100%" height="100%" viewbox="0 0 74 74">
                                        <image  xlink:href="/assets/icons/svg/sedan3.svg" width="60%" height="60%" x="20%" y="20%" />
                                        <rect height="100%" width="100%" style="fill:blue;fill-opacity:0.01;"></rect>
                                    </svg>
                                </a>
                            </div>
                            <div class="home_all_form_top_icon_img">
                                <a href="#" >
                                    <svg class="image_box" width="100%" height="100%" viewbox="0 0 74 74">
                                        <image  xlink:href="/assets/icons/svg/motorbike6.svg"width="60%" height="60%" x="20%" y="20%" />
                                        <image  xlink:href="/assets/icons/svg/motorbike6.svg"width="60%" height="60%" x="20%" y="20%" />
                                        <rect height="100%" width="100%" style="fill:blue;fill-opacity:0.01;"></rect>
                                    </svg>
                                </a>
                            </div>
                            <div class="home_all_form_top_icon_img">
                                <a href="#" >
                                    <svg class="image_box" width="100%" height="100%" viewbox="0 0 74 74">
                                        <image  xlink:href="/assets/icons/svg/delivery13.svg"width="60%" height="60%" x="20%" y="20%" />
                                        <rect height="100%" width="100%" style="fill:blue;fill-opacity:0.01;"></rect>
                                    </svg>
                                </a>
                            </div>
                            <div class="home_all_form_top_icon_img">
                                <a href="#" >
                                    <svg class="image_box" width="100%" height="100%" viewbox="0 0 74 74">
                                        <image  xlink:href="/assets/icons/svg/tractor5.svg"width="60%" height="50%" x="20%" y="25%" />
                                        <rect height="100%" width="100%" style="fill:blue;fill-opacity:0.01;"></rect>
                                    </svg>
                                </a>
                            </div>
                            <div class="home_all_form_top_icon_img">
                                <a href="#" >
                                    <svg class="image_box" width="100%" height="100%" viewbox="0 0 74 74">
                                        <image  xlink:href="/assets/icons/svg/jet3.svg"width="60%" height="60%" x="20%" y="20%" />
                                        <rect height="100%" width="100%" style="fill:blue;fill-opacity:0.01;"></rect>
                                    </svg>
                                </a>
                            </div>
                            <div class="home_all_form_top_icon_img">
                                <a href="#" >
                                    <svg class="image_box" width="100%" height="100%" viewbox="0 0 74 74">
                                        <image  xlink:href="/assets/icons/svg/vehicle18.svg"width="60%" height="50%" x="20%" y="25%" />
                                        <rect height="100%" width="100%" style="fill:blue;fill-opacity:0.01;"></rect>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div  class="row">
                        <div class="col-lg-6 col-sm-6 col-sm-12">
                            <div class="form-group--combobox">
                                <select-main action="change" filtr="filter.mark"></select-main>
                            </div>
                            <div class="form-group--combobox">
                                <select-main action="change" filtr="filter.country"></select-main>
                            </div>
                            <div class="form-group--combobox">
                                <custom-select filtr="filter.year" action="setSelect"></custom-select>
                            </div>
                            <div class="form-control-toggle-checkbox form-group--combobox">
                                <div class="ycheck1   form-control-toggle">
                                    <input type="checkbox" id="check-1" name="" ng-model="filter.state._selected"  ng-change="setState(filter.state, filter.state.prop_vals[0])">

                                    <label for="check-1">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        <p>{{filter.state.prop_vals[0].title}}</p>
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-sm-12">
                            <div class="form-group--combobox">
                                <select-sub action="_change" filtr="filter.mark"></select-sub>
                            </div>
                            <div class="form-group--combobox">
                                <select-sub action="_change" filtr="filter.country"></select-sub>
                            </div>
                            <div class="form-group--combobox  ">
                                <custom-select filtr="filter.body" action="setSelect"></custom-select>
                            </div>
                            <div class="form-control-toggle-checkbox form-group--combobox">

                                <div class="ycheck1   form-control-toggle">
                                    <input type="checkbox" id="check-2" name="" ng-model="filter.state.__selected"  ng-change="setState(filter.state, filter.state.prop_vals[1])">

                                    <label for="check-2">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        <p>{{filter.state.prop_vals[1].title}}</p>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 nopadding">
                            <div class="col-lg-6">
                                <div class="home-search-btn"> <a href="" data-ng-click="openSearch()"> Найдено:	{{ adverts_by_search.length  }}</a> </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="home-search-btn2"> <a href="#"> Расширеный поиск </a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-sm-12">
                <div class="home_slider_text">
                    <h1>ЭТО КАКОЙ НИБУДЬ <br>
                        КРАСИВЫЙ СЛОГАН КОМПАНИИ</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sedincididunt ut labore et dolore

                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                </div>
            </div>

        </div>
    </div>
</div>
<!----------Home Slider images End----------->

<!----------Content area start----------->

<div class="home-content-area aw-home-page-slider">
    <div class="container">
        <div class="inner-home-content-area">
            <h1>Последние объявления</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
            <span class="yellow_home_sep"></span>
            <slick class="responsive" settings="responsiveConfig">
                <div class="slider-post-1" ng-repeat="advert in adverts">
                    <a href="/search/{{advert.id}}">
                        <slick-small-image></slick-small-image>
                    </a>
                </div>
            </slick>
        </div>
    </div>
</div>


<div class="gray_slider_outer">
    <div class="container">
        <div class="inner-gray-sec aw-inner-gray-sec">
            <h1>Последние объявления</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
            <span class="yellow_home_sep"></span>
            <div class="outer_home_slider_sec">
                <div class="col-lg-6 col-sm-12 col-xs-12 outer_sider_one">

                    <slick class="one-time" settings="slickConfig">
                        <div class="slider-post-1"  ng-repeat="advert in adverts">
                            <a href="/search/{{advert.id}}">
                                <slick-image></slick-image>
                            </a>
                        </div>
                    </slick>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 pro_thumnail_outer_sec">
                    <div class="home_thumnail_slider">
                        <div class="inner_home_thum_sec inner_home_thum_sec1">
                            <div class="col-lg-6 col-sm-4 col-xs-12" ng-if="adverts"   ng-repeat="advert in adverts">
                                <div class="inner-thumnail-sec">
                                    <div class="thum_img thumbnail"> <img ng-src="{{ advert.medium }}" alt=""> </div>
                                    <div class="thum_product_info">
                                        <div class="col-lg-6 col-sm-6 col-xs-12 ptitle_info">{{ advert.mark}} <br>
                                            {{ advert.model}}</div>
                                        <div class="col-lg-6 col-sm-6 col-xs-12 pprice_info"> <strong>{{ advert.price}} €</strong> <span>{{ advert.year }} · {{ advert.mileage }}  км</span> </div>
                                    </div>
                                </div>
                            </div>

                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!----------Home 2nd slider start----------->
<div class="home_widget_sec footer-sec1">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="widget"></div>
            </div>
            <div class="col-lg-4">
                <div class="widget"></div>
            </div>
            <div class="col-lg-4">
                <div class="widget"></div>
            </div>
        </div>
    </div>
</div>
<footer></footer>

<svg width="400" height="300" viewbox="0 0 400 300" style="position: absolute; top: -400px; left: -400px">
    <defs>
        <filter id="myFilter1">
            <feColorMatrix in=""
                           type="matrix"
                           values="0 0 0 0.914 0
              0 0 0 0.335 0
              0 0 0 0.11 0
              0 0 0 1 0" />
        </filter>
    </defs>
</svg>

<!----------Footer area end----------->

<script type="text/javascript">

    $('.image_box').mousemove(function(){
        this.setAttribute('filter' , 'url(#myFilter1)')
    })
    $('.image_box').mouseout(function(){
        this.removeAttribute('filter')
    })

</script>