<%= form_for resource, as: resource_name, url: registration_path(resource_name) , :html => { :class =>"login-form fade-in-effect ng-pristine ng-valid in" }  do |f| %>

    <div class="row">
      <div class="whole-width-column form-input">
        <label for="email">
          E-Mail </label>
        <%= f.email_field :email , autofocus: true, :class => "form-control"  %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="whole-width-column form-input">
        <label for="registerPassword">
          Passwort </label>
        <%= f.password_field :password,   autocomplete: "off" , :class => "form-control" %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="whole-width-column form-input">
        <label for="registerPassword">
          Passwort confirmation</label>
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control"  %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="private-policy-text">
      </div>
    </div>
    <div class="row button-row">
      <div class="whole-width-column submit-form">
        <button class="btn btn-orange btn-xl">
          Зарегистрироваться </button>
      </div>
    </div>
<% end %>