
<link rel="stylesheet" href="/assets/slick.css">
<header></header>
<!----------Top Header----------->

<!----------Navigation Bar End----------->

<!----------Inner Slider images start----------->

<div id="burgerNav" class="burger-nav"></div>
<div class="main_carousel">
    <div id="siteWrap" class="site-wrap">
        <section class="om-offer">
            <div class="om-offer-top">
                <slick class="om-offer-photos om-offer-photos-slick  rel"  ng-if="numberLoaded" settings="slickConfig">
                    <div class="photo-item"   ng-repeat="image in advert.images" ng-init="i = 0">
                        <figure>
                            <div class="photo-handler" ng-click="showBigImage(i)">
                                <img class="bigImage" ng-src="{{ image.big_image }}">
                                <span class="zoom-overlay">
                                    <span class="zoom-photo icon-zoom"></span>
                                </span>
                            </div>
                        </figure>
                    </div>
                </slick>
            </div>
        </section>
    </div>
</div>

<div class="big_image_carousel fix hidden" ng-show="bigImage">
    <div class="layertitle"> {{ advert.mark }} {{ advert.mark }} Trend1.6 TDCi95KM,1 właści.,bezwypadkowy,rej.2012Gw.12m- cy,KRAJOWY! </div>
    <div class="right-group" ng-click="hideBigImage()"> <a id="overgalleryclose" href="" class="layerbutton icon-zamknij layerclose"></a> </div>
    <slick class="slider-for"  ng-if="numberLoaded" settings="slickConfigBig">
        <div class=""   ng-repeat="image in advert.images">
            <img class="bigImage" data-nr="2"  ng-src="{{ image.image }}">
        </div>
    </slick>
    <slick class="slider-nav"  ng-if="numberLoaded" settings="slickConfigNav">
        <div class=""   ng-repeat="image in advert.images">
            <img class="bigImage" data-nr="2"  ng-src="{{ image.thumb }}">
        </div>
    </slick>
</div>

<!----------Inner Slider images End----------->

<!----------Content area start----------->

<div class="content-area inner-pages-content">
    <div class="container breadkrum-container">
        <div class="breadkrum">
            <ul>
                <li><a href="#">Главная</a></li>
                <li><i class="fa fa-angle-right"></i></li>
                <li><a href="#">Поиск</a></li>
                <li><i class="fa fa-angle-right"></i></li>
                <li><a href="#">{{advert.mark}}</a></li>
                <li><i class="fa fa-angle-right"></i></li>
                <li><a href="#">{{advert.model}}</a></li>
                <li><i class="fa fa-angle-right"></i></li>
                <li><a href="#">{{advert.country}}</a></li>
                <li><i class="fa fa-angle-right"></i></li>
                <li><a href="#">{{advert.city}}</a></li>
                <li><i class="fa fa-angle-right"></i></li>
                <li><span class="breadcrum-last"> {{ advert.mark.base }} {{ advert.mark.last }} </span></li>
            </ul>
        </div>
    </div>
    <div class="post-data">
        <div class="container">
            <div class="outer-row">
                <div class="col-sm-2 col-build col-build-2">
                    <div class="post-sec">
                        <p>Цена</p>
                        <h3>{{ advert.price }} €</h3>
                    </div>
                </div>
                <div class="col-sm-2 col-build col-build-2">
                    <div class="post-sec">
                        <p>Тип кузова <i title="Help" data-toggle="tooltip" data-placement="top" class="fa fa-commenting"></i> </p>
                        <h3 title=" {{ advert.color.title }} {{ advert.body }}"><img src="assets/images/cars-icon.png">  </h3>
                    </div>
                </div>
                <div class="col-sm-2 col-build">
                    <div class="post-sec">
                        <p>Марка</p>
                        <h3>{{ advert.mark }} </h3>
                        <p>Модель</p>
                        <h3>{{ advert.model }}</h3>
                    </div>
                </div>
                <div class="col-sm-2 col-build">
                    <div class="post-sec">
                        <p>Год</p>
                        <h3>{{ advert.year }} г.</h3>
                        <p>Пробег</p>
                        <h3> {{ advert.mileage  }} км.</h3>
                    </div>
                </div>
                <div class="col-sm-2 col-build">
                    <div class="post-sec">
                        <p>Коробка передач</p>
                        <h3> {{ advert.transmission }}</h3>
                        <p>Тип топлива</p>
                        <h3>{{ advert.fuel_type }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="outer_row">
            <div class="col-sm-3 left-area">
                <div class="left-page-form">
                    <div class="move-form"> <span class="first-left-title">Состояние транспортного средства:</span>
                        <p>{{ advert.created_at }}</p>
                        <hr class="hr">
                        <div class="left-head-section"> <span><sub>Страна</sub>
              <p> {{ advert.country }}</p>
              </span> <span><sub>Город</sub>
              <p>{{ advert.city }}</p>
              </span> </div>
                        <hr class="hr">
                        <div class="left-head-section"> <span><sub>Дилер</sub>
              <p>Auto Group</p>
              </span> </div>
                        <hr class="hr">
                        <div class="logo-diler"><a href="#">Logo Diler</a></div>
                        <hr class="hr">
                        <div class="left-contact"> <span class="contact-content"><img src="assets/images/phone-icon.png"><span class="mysub-btn"><a class="hide-a" onClick="hide();">Показать номер</a> <span id="show-number">6289168491</span> </span></span> </div>
                        <hr class="hr">
                    </div>
                    <div class="left-form-section">
                        <h3>Отправить сообение</h3>
                        <form name="" action="" method="post" onsubmit="return sendmail(this)">
                            <input id="slct1 qsprc" value="" name="u_name" type="text"  placeholder="Имя *" class="form-control input-field">
                            <input id="slct1 qsprc" value="" name="u_phone" type="text"  placeholder="Телефон" class="form-control input-field">
                            <input id="slct1 qsprc" value="" name="u_email" type="email"  placeholder="E-mail *" class="form-control input-field" >
                            <textarea id="slct1 qsprc"  name="u_msg" type="text"  class="form-control input-field text-area"></textarea>
                            <div class="search-form-left text-center submit-buton">
                                <button type="submit" name="submit" value="submit">Отправить</button>
                            </div>
                            <div class="left-botom">
                                <div class="ycheck1">
                                    <input id="check1" type="checkbox" name="">
                                    <label for="check1" class="checkbox-label">Принимаю <span style="color:rgb(255,102,0); text-decoration:underline;">условия использования</span> <br/>
                                        и <span style="color:rgb(255,102,0); text-decoration:underline;">политику конфиденциальности<span></label>
                                </div>
                            </div>
                            <hr class="hr">
                            <span class="text-right left-btoom">Подать жалобу на это объявление</span>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="right-content-area inner-right-area bottom-content">
                    <div class="inner-heading">
                        <h3>Технические данные</h3>
                        <hr/>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 right-content"> <sub>Состояние</sub>
                            <div>{{ advert.state }}</div>
                            <sub>Кузов</sub>
                            <div> {{ advert.body }}</div>
                            <sub>Мощность</sub>
                            <div>{{ advert.power }} лс.</div>
                            <sub>Количество дверей</sub>
                            <div>{{ advert.number_of_doors }}</div>
                        </div>
                        <div class="col-sm-4 right-content"> <sub>Категория</sub>
                            <div>Автомобили</div>
                            <sub>Цвет</sub>
                            <div>{{ advert.color.title }}</div>
                            <sub>Привод</sub>
                            <div>{{ advert.drive }}</div>
                            <sub>Была в аварии</sub>
                            <div>{{ advert.accident }}</div>
                        </div>
                        <div class="col-sm-4 right-content"> <sub>Первая регистрация</sub>
                            <div>{{ advert.created_at }}</div>
                            <sub>Металик</sub>
                            <div>{{ advert.metalik}}</div>
                            <sub>Объем двигателя</sub>
                            <div>{{ advert.volume }} л.</div>
                            <sub>Требует ремонта</sub>
                            <div>{{ advert.requires_repair }}</div>
                        </div>
                    </div>
                    <div class="inner-heading">
                        <h3>Дополнительные характеристики</h3>
                        <hr/>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 ">
                            <div class="right-bttom col-sm-6  ng-scope"  >      </div>      <div class="right-bttom col-sm-6  ng-scope"  >      </div>     <div class="right-bttom col-sm-6 " style="  " ng-repeat="prop in advert.additional track by $index"> <span class="bg-img">{{ prop }}</span> </div>
                        </div>
                    </div>
                    <div class="inner-heading" style="margin-top:20px;">
                        <h3>Описание</h3>
                        <hr/>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">

                            {{ advert.description }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!----------Content area end----------->

<!----------Footer area start----------->
<div class="resp_sec">
    <div class="col-sm-3 left-area">
        <div class="left-page-form">
            <div class="move-form"> <span class="first-left-title">Состояние транспортного средства:</span>
                <p>12.09.2015</p>
                <hr class="hr">
                <div class="left-head-section"> <span><sub>Страна</sub>
              <p>Испания</p>
              </span> <span><sub>Страна</sub>
              <p>Испания</p>
              </span> </div>
                <hr class="hr">
                <div class="left-head-section"> <span><sub>Дилер</sub>
              <p>Auto Group</p>
              </span> </div>
                <hr class="hr">
                <div class="logo-diler"><a href="#">Logo Diler</a></div>
                <hr class="hr">
                <div class="left-contact"> <span class="contact-content"><img src="assets/images/phone-icon.png"><span class="mysub-btn"><a class="hide-a" onClick="hide();">Показать номер</a> <span id="show-number">6289168491</span> </span></span> </div>
                <hr class="hr">
            </div>
            <div class="left-form-section">
                <h3>Отправить сообение</h3>
                <form name="" action="" method="post" onsubmit="return sendmail(this)">
                    <input id="slct1 qsprc" value="" name="u_name" type="text"  placeholder="Имя *" class="form-control input-field">
                    <input id="slct1 qsprc" value="" name="u_phone" type="text"  placeholder="Телефон" class="form-control input-field">
                    <input id="slct1 qsprc" value="" name="u_email" type="email"  placeholder="E-mail *" class="form-control input-field" >
                    <textarea id="slct1 qsprc"  name="u_msg" type="text"  class="form-control input-field text-area"></textarea>
                    <div class="search-form-left text-center submit-buton">
                        <button type="submit" name="submit" value="submit">Отправить</button>
                    </div>
                    <div class="left-botom">
                        <div class="ycheck1">
                            <input id="check1" type="checkbox" name="">
                            <label for="check1" class="checkbox-label">Принимаю <span style="color:rgb(255,102,0); text-decoration:underline;">условия использования</span> <br/>
                                и <span style="color:rgb(255,102,0); text-decoration:underline;">политику конфиденциальности<span></label>
                        </div>
                    </div>
                    <hr class="hr">
                    <span class="text-right left-btoom">Подать жалобу на это объявление</span>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<!----------Footer area end----------->

<footer></footer>