<link rel="stylesheet"  href="/assets/last/search.scss">
<header></header>
<!----------Inner Slider images start----------->
<div class="slider-sec">
    <div class="container">
        <div class="inner-page-super-text">
            <div class="inner-snumber-sec">
                <h3>{{ advert_count }} <span>СМОТРЕТЬ ВСЕ</span></h3>
            </div>
        </div>
    </div>
</div>




<div class="content-area pg_2_content">
    <div class="filert-sec">
        <button id="Show-Filters" class="btn btn-default">Search Filters</button>
    </div>
    <div class="container">
        <div class="outer_row pg_2">
            <div class="col-sm-3">
                <div class="left-page-form ">
                    <p>Состояние транспортного средства:</p>
                    <form>
                        <div class="all_form_top_icon">
                                 <div class="home_all_form_top_icon_img">
                                    <a href="#" >
                                        <svg class="image_box" width="100%" height="100%" viewbox="0 0 40 40">
                                            <image  xlink:href="/assets/icons/svg/sedan3.svg" width="80%" height="80%" x="10%" y="10%" />
                                            <rect height="100%" width="100%" style="fill:blue;fill-opacity:0.01;"></rect>
                                        </svg>
                                    </a>
                                </div>
                                <div class="home_all_form_top_icon_img">
                                    <a href="#" >
                                        <svg class="image_box" width="100%" height="100%" viewbox="0 0 74 74">
                                            <image  xlink:href="/assets/icons/svg/motorbike6.svg"width="80%" height="80%" x="10%" y="10%" />
                                            <rect height="100%" width="100%" style="fill:blue;fill-opacity:0.01;"></rect>
                                        </svg>
                                    </a>
                                </div>
                                <div class="home_all_form_top_icon_img">
                                    <a href="#" >
                                        <svg class="image_box" width="100%" height="100%" viewbox="0 0 74 74">
                                            <image  xlink:href="/assets/icons/svg/delivery13.svg"width="80%" height="80%" x="10%" y="10%" />
                                            <rect height="100%" width="100%" style="fill:blue;fill-opacity:0.01;"></rect>
                                        </svg>
                                    </a>
                                </div>


                                <div class="home_all_form_top_icon_img">
                                    <a href="#" >
                                        <svg class="image_box" width="100%" height="100%" viewbox="0 0 74 74">
                                            <image  xlink:href="/assets/icons/svg/tractor5.svg"width="80%" height="70%" x="10%" y="15%" />
                                            <rect height="100%" width="100%" style="fill:blue;fill-opacity:0.01;"></rect>
                                        </svg>
                                    </a>
                                </div>
                                <div class="home_all_form_top_icon_img">
                                    <a href="#" >
                                        <svg class="image_box" width="100%" height="100%" viewbox="0 0 74 74">
                                            <image  xlink:href="/assets/icons/svg/jet3.svg"width="80%" height="80%" x="10%" y="10%" />
                                            <rect height="100%" width="100%" style="fill:blue;fill-opacity:0.01;"></rect>
                                        </svg>
                                    </a>
                                </div>
                                <div class="home_all_form_top_icon_img">
                                    <a href="#" >
                                        <svg class="image_box" width="100%" height="100%" viewbox="0 0 74 74">
                                            <image  xlink:href="/assets/icons/svg/vehicle18.svg"width="80%" height="70%" x="10%" y="15%" />
                                            <rect height="100%" width="100%" style="fill:blue;fill-opacity:0.01;"></rect>
                                        </svg>
                                    </a>
                                </div>

                        </div>
                        <div class="form-group ui-combobox" id="qsprcwrp" style="right: 0px;"><a class="ui-combobox-toggle gicon-menu-toggle"></a>
                            <div class="delt-field">
                                <select-main action="change" filtr="filter.mark"></select-main>
                            </div>
                            <div class="delt-field">
                                <select-sub action="_change" filtr="filter.mark"></select-sub>
                            </div>
                            <div class="yellow-checkbox-form">
                                <div class="col-lg-6 nopadding">
                                    <div class="form-control-toggle-checkbox form-group--combobox">
                                        <div class="ycheck1   form-control-toggle">
                                            <input type="checkbox" id="check-1" name="" ng-model="filter.state._selected" ng-change="setState(filter.state, filter.state.prop_vals[0])">
                                            <label for="check-1">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                <p>{{filter.state.prop_vals[0].title}}</p>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 nopadding">
                                    <div class="form-control-toggle-checkbox form-group--combobox">
                                        <div class="ycheck1   form-control-toggle">
                                            <input type="checkbox" id="check-2" name="" ng-model="filter.state.__selected" ng-change="setState(filter.state, filter.state.prop_vals[1])">
                                            <label for="check-2">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                <p>{{filter.state.prop_vals[1].title}}</p>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="yellow-checkbox-form yellow-checkbox-form2">
                                <div class="col-lg-6 nopadding">
                                    <div class="form-control-toggle-checkbox form-group--combobox">
                                        <div class="ycheck1   form-control-toggle">
                                            <input type="checkbox" id="check-{{filter.seller.id}}" name="" ng-model="filter.seller._selected" ng-change="setState(filter.seller, filter.seller.prop_vals[0])">
                                            <label for="check-{{filter.seller.id}}">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                <p>{{filter.seller.prop_vals[0].title}}</p>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 nopadding">
                                    <div class="form-control-toggle-checkbox form-group--combobox">
                                        <div class="ycheck1   form-control-toggle">
                                            <input type="checkbox" id="check-2{{filter.seller.id}}" name=""  ng-model="filter.seller.__selected" ng-change="setState(filter.seller, filter.seller.prop_vals[1])">
                                            <label for="check-2{{filter.seller.id}}">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                <p>{{filter.seller.prop_vals[1].title}}</p>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="delt-field">
                                <select-main action="change" filtr="filter.country"></select-main>
                            </div>
                            <div class="delt-field">
                                <select-sub action="_change" filtr="filter.country"></select-sub>
                            </div>
                            <div class="six-box-yellow">
                                <div class="col-lg-6 noleftpadding">
                                    <div class="form-group--combobox">
                                        <custom-select filtr="year.before" action="setSelect"></custom-select>
                                    </div>
                                </div>
                                <div class="col-lg-6 norightpadding">
                                    <div class="form-group--combobox">
                                        <custom-select filtr="year.after" action="setSelect"></custom-select>
                                    </div>
                                </div>
                                <div class="col-lg-6 noleftpadding">
                                    <div class="form-group--combobox">
                                        <custom-select filtr="mileage.before" action="setSelect"></custom-select>
                                    </div>
                                </div>
                                <div class="col-lg-6 norightpadding">
                                    <div class="form-group--combobox">
                                        <custom-select filtr="mileage.after" action="setSelect"></custom-select>
                                    </div>
                                </div>
                            </div>
                            <div class="yellow-checkbox-form yellow-checkbox-form3 ">
                                <div class="col-lg-12 norightpadding">
                                    <div class="form-group--combobox">
                                        <custom-select filtr="filter.body" action="setSelect"></custom-select>
                                    </div>
                                </div>
                                <div class="col-lg-12 norightpadding">
                                    <div class="form-group--combobox">
                                        <custom-select filtr="filter.fuel_type" action="setSelect"></custom-select>
                                    </div>
                                </div>
                                <div class="col-lg-12 norightpadding">
                                    <div class="form-group--combobox">
                                        <custom-select filtr="filter.transmission" action="setSelect"></custom-select>
                                    </div>
                                </div>
                            </div>
                            <div class="yellow-checkbox-form yellow-checkbox-form3 ">
                                <div class="multi-color-check">
                                    <div class="form-control-toggle-checkbox form-group--combobox form-group--combobox_color" ng-repeat="prop_val in filter.color.prop_vals">
                                        <div class="ycheck1   form-control-toggle">
                                            <input type="checkbox" id="check-2{{prop_val.id}}" name="" ng-model="prop_val.selected" ng-change="setState( filter.color , prop_val)">
                                            <label for="check-2{{prop_val.id}}">
                                                <span></span>
                                                <span class="check" style="  border:1px solid {{ prop_val.color }};border-top:none;border-left:none;"></span>
                                                <span class="box" style="background: {{ prop_val.color }}"></span>
                                                <p></p>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="bluetooth-check">
                                <p>{{ filter.additional.title }}</p>
                                <ul>
                                    <li ng-repeat="prop_val in filter.additional.prop_vals">
                                        <div class="form-control-toggle-checkbox form-group--combobox">
                                            <div class="ycheck1   form-control-toggle">
                                                <input type="checkbox" id="check-2{{prop_val.id}}" name="" ng-model="prop_val.selected" ng-change="setState( filter.additional, prop_val)">
                                                <label for="check-2{{prop_val.id}}">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    <p>{{prop_val.title}}</p>
                                                </label>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="load-more">
                                        <p>Еще...</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="search-form-left"> <a href="#"><i class="fa fa-search"></i> Найдено:	{{adverts.length }}</a> </div>
                            <div class="play-video"> <a href="#"><i class="fa fa-play-circle"></i> <span>Расширенный поиск</span></a> </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="right-content-area">
                    <div class="right-content-heading">
                        <div class="col-sm-8">
                            <h2>{{ adverts.length }} результата(ов)</h2>
                            <h4>Эти транспортные средства соответствуют<br /> Вашим критериям поиска</h4>
                        </div>
                        <div class="col-sm-4">
                            <div class="sort-listing">
                                <div class="form-group--combobox">
                                    <select class="form-control form-control--combobox"
                                            ng-options="item as item.title for item in orders" data-ng-model="order_desc" ng-change="changrDesc()">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="outer-list-post" ng-repeat="advert  in adverts">
                        <div class="row  yellow-post" ng-if="advert.service == 1">

                            <div class="col-lg-4">
                                <div class="product-image-sec">
                                    <img src="{{ advert.medium }}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6 marg-icon-sec">
                                <div class="product-detail-sec">
                                    <div class="pro-detail-text1">
                                        <span>{{ advert.props['Марка'] }}</span>
                                        <span>Megane 1.5 dCi Turbo</span>
                                    </div>
                                    <div class="pro-detail-text2">
                                        <span>Новое</span>
                                        <span>Внедорожник</span>
                                        <span>2009</span>
                                    </div>
                                    <div class="pro-icon-sec">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <span class="picon1"><i class="fa fa-ticket"></i></span> Красный - метал
                                            </div>
                                            <div class="col-lg-6">
                                                <span class="picon2"><i class="fa fa-bar-chart-o"></i></span> Механика
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <span class="picon3"><i class="fa fa-align-left"></i></span> Бензин, 2.4 л.
                                            </div>
                                            <div class="col-lg-6">
                                                <span class="picon4"><i class="fa fa-clock-o"></i></span> 237000 км
                                            </div>
                                        </div>
                                    </div>
                                    <p>ABS, Электростеклоподъёмник, Люк в крыше, Подушка безопасности,  Радио/CD, Диски, Фаркоп, Сидения...</p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="product-pric-sec">
                                    <span>2.300€</span><a href="#"><img ng-src="/images/start-icon.png" alt=""></a>
                                    <div class="prict-text2">Германия <br />Мюнхен</div>
                                    <div class="prict-text3">Частник</div>
                                    <div class="prict-text4">Размещено: <span>07 Авг</span>.</div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="advert.service == 0">
                            <div class="col-lg-4">
                                <div class="product-image-sec">
                                    <img src="{{advert.medium }}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6 marg-icon-sec">
                                <div class="product-detail-sec">
                                    <div class="pro-detail-text1">
                                        <a href="/search/{{ advert.id }}"><span>{{ advert.mark }}</span>
                                            <span>{{ advert.model }}</span></a>
                                    </div>
                                    <div class="pro-detail-text2">
                                        <span>{{ advert.state }} </span>
                                        <span> &nbsp {{ advert.body }} </span>
                                        <span> &nbsp {{ advert.year }}</span>
                                    </div>
                                    <div class="pro-icon-sec">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <span class="picon1"><i class="fa fa-ticket" style="color: {{ advert.color.color }}"></i></span> {{ advert.color.title }}
                                            </div>
                                            <div class="col-lg-6">
                                                <span class="picon2"><i class="fa fa-bar-chart-o"></i></span> {{ advert.transmission }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <span class="picon3"><i class="fa fa-align-left"></i></span> {{ advert.fuel_type }}, {{ advert.volume }} л.
                                            </div>
                                            <div class="col-lg-6">
                                                <span class="picon4"><i class="fa fa-clock-o"></i></span> {{ advert.mileage }} км
                                            </div>
                                        </div>
                                    </div>
                                    <p> <span ng-repeat="add in advert.additional track by $index">{{ add }}<span ng-if="$index != advert.additional.length -1">,</span> </span></p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="product-pric-sec">
                                    <span>{{ advert.price }}€</span><a href="#"><img ng-src="/images/start-icon.png" alt=""></a>
                                    <div class="prict-text2">{{ advert.country.base }} <br />{{ advert.country.last }}</div>
                                    <div class="prict-text3">Частник</div>
                                    <div class="prict-text4">Размещено: <span>07 Авг</span>.</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pagi_new" ng-if="adverts.length > 10 ">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="active_pagi"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>














<!----------Content area end----------->
<!----------Footer area start----------->
<div class="footer-sec1">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="widget"></div>
            </div>
            <div class="col-lg-4">
                <div class="widget"></div>
            </div>
            <div class="col-lg-4">
                <div class="widget"></div>
            </div>
        </div>
       </div>
</div>
<footer></footer>