<select  class="form-control form-control--combobox slct2" ng-class="{'no_valid' : filtr.valid}"  ng-model="filter.mark.__selected" ng-change="_change(filter.mark)" >
    <option value="0" ng-if="filter.mark.selected_sub">Все</option>
    <option  ng-repeat="prop_val in filter.mark.selected_sub.prop_vals" value="{{ prop_val.id }}">
        {{ prop_val.title }}
    </option>
</select>