<select class="form-control form-control--combobox slct2" ng-class="{'no_valid' : filtr.valid}"  ng-model="filter.mark._selected" ng-change="change(filter.mark)">
    <option value="0">Выберите вашу модель</option>
    <option  ng-repeat="prop_val in  filter.mark.prop_vals" value="{{ prop_val }}" >
        {{ prop_val.title }}
    </option>

</select>