
<link rel="stylesheet"  href="/assets/poster.css">
<header></header>
<page-title ng-if="layoutOptions.pageTitles" title="Новое объявление" description="Здесь вы можете добавить свое объявление"></page-title>






<div style="overflow: hidden">
    <div class="row col-sm-9 " style="margin-left: 12.5%; margin-top: 10px;">




        <div class="panel panel-default">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">ВАШ АВТОМОБИЛЬ</h3>
                </div>
                <div class="panel-body">
                    <div class="  col-sm-12 nopadding">
                        <div class="form-group--combobox col-sm-6">
                            <select-main action="change" filtr="filter.mark"></select-main>
                        </div>
                        <div class="form-group--combobox col-sm-6 ">
                            <select-sub action="_change" filtr="filter.mark"></select-sub>
                        </div>
                    </div>

                    <div class="col-sm-12 nopadding">
                        <div class="form-group--combobox col-sm-6">
                            <custom-select action="setSelect"filtr="filter.year"></custom-select>
                        </div>
                        <div class="col-sm-6 delt-field form-group--combobox">
                            <input type="number" class="form-control no_valid" id="field-6" placeholder="{{ filter.mileage.title }}" ng-model="filter.mileage.selected" ng-change="setInput(filter.mileage)" ng-class="{'no_valid' : filter.mileage.valid}">
                        </div>
                    </div>
                </div>

            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">ДОБАВИТЬ ФОТОГРАФИИ</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12 ">


                        <div class="panel  delt-field panel-default col-sm-12" style="background: none; border: none">



                            <div class="">

                                <div class="row">
                                    <div class="text-center dropzone-templete">

                                        <div class="droppable-area_poster">

                                            <div    class="droppable-area_poster_item advancedDropzone"><span class="icon-plus advancedDropzone"></span></div>
                                            <div    class="droppable-area_poster_item advancedDropzone"><span class="icon-plus advancedDropzone"></span></div>
                                            <div    class="droppable-area_poster_item advancedDropzone"><span class="icon-plus advancedDropzone"></span></div>
                                            <div    class="droppable-area_poster_item advancedDropzone"><span class="icon-plus advancedDropzone"></span></div>
                                            <div    class="droppable-area_poster_item advancedDropzone"><span class="icon-plus advancedDropzone"></span></div>
                                            <div    class="droppable-area_poster_item advancedDropzone"><span class="icon-plus advancedDropzone"></span></div>
                                            <div    class="droppable-area_poster_item advancedDropzone"><span class="icon-plus advancedDropzone"></span></div>
                                            <div    class="droppable-area_poster_item advancedDropzone"><span class="icon-plus advancedDropzone"></span></div>
                                            <div    class="droppable-area_poster_item advancedDropzone"><span class="icon-plus advancedDropzone"></span></div>
                                            <div    class="droppable-area_poster_item advancedDropzone"><span class="icon-plus advancedDropzone"></span></div>


                                        </div>

                                    </div>
                                    <!--<div class="col-sm-9">

                                        <table class="table table-bordered table-striped" style="font-size: 12px" id="example-dropzone-filetable">
                                            <thead>
                                            <tr>
                                                <th class="text-center">#</th>
                                                <th>Name</th>
                                                <th>Progress</th>
                                                <th>Size</th>
                                                <th>Action</th>
                                                <th>Status</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <td colspan="6">Files list will appear here</td></td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>-->
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">ДОБАВИТЬ ОПИСАНИЕ</h3>
                </div>
                <div class="panel-body">

                    <div class="col-sm-12 ">
                        <div class="form-group">
                            <div>
                                <textarea type="text" class="form-control"  ng-model="advert.desc" ng-class="{'no_valid' : descValid}" ng-click="descValid = false"></textarea>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">СПЕЦИФИКАЦИИ</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12 nopadding">
                        <div class="form-group--combobox col-sm-6">
                            <custom-select action="setSelect"filtr="filter.fuel_type"></custom-select>
                        </div>
                        <div class="col-sm-3 delt-field form-group--combobox">
                            <input type="text"   placeholder="{{ filter.volume.title }}" ng-model="filter.volume.selected" ng-change="setInput(filter.volume)" ng-class="{'no_valid' : filter.volume.valid}">
                        </div>

                        <div class="col-sm-3 delt-field form-group--combobox">
                            <input type="text"     placeholder="{{ filter.power.title }}" ng-model="filter.power.selected" ng-change="setInput(filter.power)" ng-class="{'no_valid' : filter.power.valid}">
                        </div>
                    </div>
                    <div class="form-group--combobox col-sm-6">
                        <custom-select action="setSelect"filtr="filter.transmission"></custom-select>
                    </div>

                    <div class="form-group--combobox col-sm-6">
                        <custom-select action="setSelect"filtr="filter.drive"></custom-select>
                    </div>
                    <div class="form-group--combobox col-sm-12">

                        <div class="field_fblock field_fblock_right field_fblock_left col-sm-6">

                            <label  class="control-label">{{ filter.partic_filter.title }}</label>
                            <div class="switch_box"><div>Да</div><input type="checkbox" class="iswitch iswitch-orange iswitch-lg"  ng-model="filter.partic_filter.selected"><div>Нет</div></div>

                        </div>

                        <div class="field_fblock col-sm-6 field_fblock_right">

                            <label  class="control-label">{{ filter.accident.title }}</label>
                            <div class="switch_box"><div>Да</div><input type="checkbox" class="iswitch iswitch-orange iswitch-lg" ng-model="filter.accident.selected"><div>Нет</div></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">КУЗОВ</h3>
                </div>
                <div class="panel-body">

                    <div class="form-group--combobox col-sm-6">
                        <custom-select action="setSelect"filtr="filter.body"></custom-select>
                    </div>
                    <div class="form-group--combobox col-sm-6">
                        <custom-select action="setSelect"filtr="filter.number_of_doors"></custom-select>
                    </div>
                    <div class="col-sm-6 delt-field form-group--combobox">
                        <input type="text" class="form-control no_valid" id="field-5" placeholder="{{ filter.number_of_seats.title }}" ng-model="filter.number_of_seats.selected" ng-change="setInput(filter.number_of_seats)" ng-class="{'no_valid' : filter.number_of_seats.valid}">
                    </div>
                    <div class="form-group--combobox col-sm-6">
                        <custom-select action="setSelect"filtr="filter.color"></custom-select>
                    </div>
                    <div class="col-sm-12 form-group--combobox">

                        <div class="field_fblock field_fblock_right field_fblock_left col-sm-6">

                            <label  class="control-label">{{ filter.metalik.title }}</label>
                            <div class="switch_box"><div>Да</div><input type="checkbox" class="iswitch iswitch-orange iswitch-lg"  ng-model="filter.metalik.selected"><div>Нет</div></div>

                        </div>

                        <div class="field_fblock field_fblock_right col-sm-6">

                            <label  class="control-label">{{ filter.pearl.title }}</label>
                            <div class="switch_box"><div>Да</div><input type="checkbox" class="iswitch iswitch-orange iswitch-lg" ng-model="filter.pearl.selected"><div>Нет</div></div>

                        </div>

                        <div class="field_fblock field_fblock_right field_fblock_left col-sm-6">

                            <label  class="control-label">{{ filter.unpolished.title }}</label>
                            <div class="switch_box"><div>Да</div><input type="checkbox" class="iswitch iswitch-orange iswitch-lg"  ng-model="filter.unpolished.selected"><div>Нет</div></div>

                        </div>

                        <div class="field_fblock col-sm-6 field_fblock_right">

                            <label  class="control-label">{{ filter.akryl.title }}</label>
                            <div class="switch_box"><div>Да</div><input type="checkbox" class="iswitch iswitch-orange iswitch-lg" ng-model="filter.akryl.selected"><div>Нет</div></div>

                        </div>
                        <div class="field_fblock col-sm-12 field_fblock_right field_fblock_left" style="width: 100%">
                            <label  class="control-label">{{ filter.wheel.title }}</label>
                            <div class="switch_box"><div>Да</div><input type="checkbox" class="iswitch iswitch-orange iswitch-lg"  ng-model="filter.wheel.selected"><div>Нет</div></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">ДОПОЛНИТЕЛЬНОЕ ОБОРУДОВАНИЕ</h3>
                </div>
                <div class="panel-body">

                    <div class="col-sm-12 form-group--combobox">

                        <div class="col-sm-4 form-control-toggle-checkbox" ng-repeat="prop_val in filter.additional.prop_vals">
                            <div class="ycheck1   form-control-toggle">
                                <input type="checkbox" id="check-{{prop_val.id}}" ng-model="prop_val.selected" ng-change="setCheckbox(filter.additional, prop_val)">

                                <label for="check-{{prop_val.id}}">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    <p>{{ prop_val.title }}</p>
                                </label>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">ЦЕНА</h3>
                </div>
                <div class="panel-body">


                    <div class="col-sm-3 delt-field form-group--combobox">
                        <input type="text" class="form-control" id="field-7" placeholder="Цена" ng-model="advert.price" ng-class="{'no_valid' : priceValid}" ng-click="priceValid = false">
                    </div>
                    <div class="form-group--combobox col-sm-3" ng-init="advert.currency = '0'">
                        <select id="currency" class="form-control form-control--combobox slct2" ng-model="advert.currency" >

                            <option value="0">Валюта</option>
                            <option value="1">RUB</option>
                            <option value="2">EUR</option>
                            <option value="3">USD</option>

                        </select>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">ИСТОРИЯ</h3>
                </div>
                <div class="panel-body">


                    <div class="form-group--combobox col-sm-4">
                        <select-main action="change" filtr="filter.country"></select-main>
                    </div>
                    <div class="form-group--combobox col-sm-4">
                        <select-sub action="_change" filtr="filter.country"></select-sub>
                    </div>
                    <div class="col-sm-4 delt-field form-group--combobox">
                        <custom-select action="setSelect"filtr="filter.state"></custom-select>
                    </div>
                    <div class="col-sm-12 form-group--combobox">


                        <div class="field_fblock  field_fblock_left col-sm-6">

                            <label  class="control-label">На учете в Испании</label>
                            <div class="switch_box"><div>Да</div><input type="checkbox" class="iswitch iswitch-orange iswitch-lg" ><div>Нет</div></div>

                        </div>

                        <div class="field_fblock field_fblock_right field_fblock_left col-sm-6">

                            <label  class="control-label">Первый владелец</label>
                            <div class="switch_box"><div>Да</div><input type="checkbox" class="iswitch iswitch-orange iswitch-lg" ><div>Нет</div></div>

                        </div>
                        <div class="field_fblock field_fblock_right field_fblock_left col-sm-6">

                            <label  class="control-label">{{ filter.accident.title}}</label>
                            <div class="switch_box"><div>Да</div><input type="checkbox" class="iswitch iswitch-orange iswitch-lg"  ng-model="filter.accident.selected"><div>Нет</div></div>

                        </div>
                        <div class="field_fblock field_fblock_right col-sm-6">

                            <label  class="control-label">{{ filter.requires_repair.title}}</label>
                            <div class="switch_box"><div>Да</div><input type="checkbox" class="iswitch iswitch-orange iswitch-lg"  ng-model="filter.requires_repair.selected"><div>Нет</div></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">РЕГИСТРАЦИЯ</h3>
                </div>
                <div class="panel-body" ng-init="user">



                    <div class="col-sm-4 delt-field form-group--combobox">

                        <input type="email" name="email" placeholder="Email" ng-model="user.email" ng-class="{ success: advertForm.email.$dirty }">

                    </div>
                    <div class="col-sm-4 delt-field form-group--combobox">
                        <input type="password" name="pass" placeholder="Пароль" ng-model="user.pass">
                    </div>
                    <div class="col-sm-4 delt-field form-group--combobox">
                        <input type="password" name="passConf" placeholder="Повторите пароль" ng-model="user.passConf">
                    </div>

                    <div class="col-sm-4 form-group--combobox" style="float: right">
                        <div class="nav-yellow-btn aw_yellow_btn" style="float: right;" ng-click="create('def')"> <a>Опубликовать</a> </div>
                    </div>

                </div>





            </div>
        </div>


    </div>
</div>
</div>
<footer></footer>




