
@media all and (min-width:1171px) and (max-width:1199px) {
  .aw_yellow_btn {
    margin-top: 7px;
  }
  .aw_yellow_btn a {
    padding-top: 18px !important;
    padding-bottom: 18px !important;
  }
  .aw-nav-menu #navbar ul li a {
    padding: 27px 9px 22px;
  }
  .top-links ul li {
    margin-left: 30px;
  }
  .nav.navbar-nav {
    margin-left: 13px;
  }
  .norightpadding {
    padding-left: 0;
    padding-right: 0;
  }
  .noleftpadding {
    padding-left: 0;
    padding-right: 0;
  }
  .right-content-area .col-sm-4 .sort-listing .form-group--combobox select {
    padding-left: 8px !important;
    text-align: left !important;
    width: 91%;
  }
  .right-content-area h2 {
    font-size: 25px;
  }
  .right-content-area h4 {
    font-size: 13px;
  }
  .form-group--combobox input {
    width: calc(96.5% - 32px);
  }
  .footer-sec1 .widget {
    margin-bottom: 10px;
  }
  .aw-nav-menu #navbar ul li a {
    border-right: 1px solid #ccc;
    padding: 25px 6px 22px;
  }
  .aw-nav {
    margin-left: 0% !important;
  }
  .aw-nav-menu .aw-container #navbar .nav .new_yellow_cls a {
    padding-bottom: 18px !important;
    padding-top: 21px !important;
    width: auto !important;
    text-align: center;
    padding-left: 14px !important;
    padding-right: 15px !important;
  }
  .all_form_top_icon img {
    height: auto;
    width: 15%;
  }
  .outer-list-post {
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    padding: 5px 0;
  }
  .outer-list-post .col-lg-4 {
    float: none;
    width: inherit;
  }
  .outer-list-post .col-lg-6.marg-icon-sec {
    border: medium none;
    float: none;
    width: inherit;
  }
  .outer-list-post {
    border: 1px solid #dddddd;
    float: left;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 10px 10px 0;
    position: relative;
    width: 48.6%;
  }
  .yellow-post {
    background: #ffd9bf none repeat scroll 0 0;
    border: none;
    padding: 0;
  }
  .pro-icon-sec .row {
    float: none;
    width: inherit;
  }
  .pro-icon-sec {
    line-height: 35px;
    overflow: hidden;
  }
  .product-detail-sec > p {
    margin-bottom: 10px;
  }
  .product-detail-sec {
    margin-top: 10px;
  }
  .product-pric-sec {
    border-top: 1px solid;
    padding: 0;
    margin-bottom: 10px;
  }
  .product-pric-sec span {
    float: right;
  }
  .prict-text2 {
    float: left;
    margin-left: 0;
    margin-right: 15px;
  }
  .prict-text4 {
    clear: both;
    float: left;
    margin-left: 0;
  }
  .product_price {
    font-size: 28px !important;
    font-weight: bold;
  }
  .product-pric-sec span {
    float: right;
  }
  .outer-list-post:nth-child(2n) {
    margin-right: 18px;
  }
  .prict-text3 {
    display: none;
  }
  .footer-sec1 {
    overflow: hidden;
  }
  .product-pric-sec > a {
    display: none;
  }
  .prict-text3 {
    float: left;
    padding-top: 0;
  }
  .prict-text4 span {
    margin-right: 10px;
  }
  .all_form_top_icon img {
    width: 14.7%;
  }
  .groupslct1 {
    width: 100%;
  }
  .marg-icon-sec {
    border: none;
  }
  .delt-field {
    background: rgba(0, 0, 0, 0) url("images/delte-icon.png") no-repeat scroll 95% center;
  }
  .footer-sec2 {
    overflow: hidden;
  }
  .prict-btn a {
    float: left;
    margin-top: 0;
  }
  .thum_img.thumbnail > img {
    height: auto;
    width: 100%;
  }
}
@media all and (min-width:1025px) and (max-width: 1170px) {

  .outer-list-post:nth-child(2n) {
    margin-right: 18px;
  }
  .outer-list-post {
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    padding: 5px 0;
  }
  .outer-list-post .col-lg-4 {
    float: none;
    width: inherit;
  }
  .outer-list-post .col-lg-6.marg-icon-sec {
    border: medium none;
    float: none;
    width: inherit;
  }
  .outer-list-post {
    border: 1px solid #dddddd;
    float: left;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 10px 10px 0;
    position: relative;
    width: 48.6%;
  }
  .yellow-post {
    background: #ffd9bf none repeat scroll 0 0;
    border: none;
    padding: 0;
  }
  .pro-icon-sec .row {
    float: none;
    width: inherit;
  }
  .pro-icon-sec {
    line-height: 35px;
    overflow: hidden;
  }
  .product-detail-sec > p {
    margin-bottom: 10px;
  }
  .product-detail-sec {
    margin-top: 10px;
  }
  .product-pric-sec {
    border-top: 1px solid;
    padding: 0;
    margin-bottom: 10px;
  }
  .product-pric-sec span {
    float: right;
  }
  .prict-text2 {
    float: left;
    margin-left: 0;
    margin-right: 15px;
  }
  .prict-text4 {
    clear: both;
    float: left;
    margin-left: 0;
  }
  .product_price {
    font-size: 28px !important;
    font-weight: bold;
    float: right !important;
  }
  .product-pric-sec span {
    float: none;
  }
  .prict-text3 {
    display: none;
  }
  .aw-nav-menu #navbar ul li a {
    padding: 25px 10px 22px;
  }
  .aw_yellow_btn {
    margin: 7px 0 0 !important;
  }
  .header-logo2 {
    margin-left: 0px;
  }
  .aw-home-page-slider .container .slick-next {
    right: -39px;
  }
  .top-links ul li {
    margin-left: 30px;
  }
  .nav-yellow-btn {
    margin: 17px 0 0;
  }
  .nav.navbar-nav {
    margin-left: 13px;
  }
  .norightpadding {
    padding-left: 0;
    padding-right: 0;
  }
  .noleftpadding {
    padding-left: 0;
    padding-right: 0;
  }
  .right-content-area .col-sm-4 .sort-listing .form-group--combobox select {
    padding-left: 8px !important;
    text-align: left !important;
    width: 91%;
  }
  .right-content-area h2 {
    font-size: 25px;
  }
  .right-content-area h4 {
    font-size: 13px;
  }
  .form-group--combobox input {
    width: calc(96.5% - 32px);
  }
  .footer-sec1 .widget {
    margin-bottom: 10px;
  }
  .aw-nav {
    margin-left: 3% !important;
  }
  .aw-nav-menu .aw-container #navbar .nav .new_yellow_cls a {
    padding-bottom: 18px !important;
    padding-top: 21px !important;
    width: auto !important;
    text-align: center;
    padding-left: 14px !important;
    padding-right: 15px !important;
  }
  .header-icon i {
    display: none;
  }
  .product-pric-sec > a {
    display: none;
  }
  .prict-text3 {
    float: left;
    padding-top: 0;
  }
  .product-pric-sec {
    border-top: 1px solid;
    clear: both;
    padding: 5px 0;
  }
  .prict-text4 span {
    margin-right: 10px;
  }
  .all_form_top_icon img {
    width: 14.8%;
  }
  .groupslct1 {
    width: 100%;
  }
  .marg-icon-sec {
    border: none;
  }
  .delt-field {
    background: rgba(0, 0, 0, 0) url("images/delte-icon.png") no-repeat scroll 94% center;
  }
  .marg-icon-sec {
    border: none !important;
  }
  .prict-btn {
    display: none;
  }
  .thum_img.thumbnail > img {
    height: auto;
    width: 100%;
  }
}

@media all and (min-width:901px) and (max-width: 1024px) {
  .outer-list-post:nth-child(2n) {
    margin-right: 18px;
  }
  .outer-list-post {
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    padding: 5px 0;
  }
  .outer-list-post .col-lg-4 {
    float: none;
    width: inherit;
  }
  .outer-list-post .col-lg-6.marg-icon-sec {
    border: medium none;
    float: none;
    width: inherit;
  }
  .outer-list-post {
    border: 1px solid #dddddd;
    float: left;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 10px 10px 0;
    position: relative;
    width: 48.5%;
  }
  .yellow-post {
    background: #ffd9bf none repeat scroll 0 0;
    border: none;
    padding: 0;
  }
  .pro-icon-sec .row {
    float: none;
    width: inherit;
  }
  .pro-icon-sec {
    line-height: 35px;
    overflow: hidden;
  }
  .product-detail-sec > p {
    margin-bottom: 10px;
  }
  .product-detail-sec {
    margin-top: 10px;
  }
  .product-pric-sec {
    border: medium none;
    padding: 0;
    margin-bottom: 10px;
  }
  .product-pric-sec span {
    float: right;
  }
  .prict-text2 {
    float: left;
    margin-left: 0;
    margin-right: 15px;
  }
  .prict-text4 {
    clear: both;
    float: left;
    margin-left: 0;
  }
  .product_price {
    font-size: 28px !important;
    font-weight: bold;
    float: right !important;
  }
  .product-pric-sec span {
    float: none;
  }
  .prict-text3 {
    display: none;
  }
  .top-links ul li {
    margin-left: 30px;
  }
  .nav.navbar-nav {
    margin-left: 13px;
  }
  .norightpadding {
    padding-left: 0;
    padding-right: 0;
  }
  .noleftpadding {
    padding-left: 0;
    padding-right: 0;
  }
  .right-content-area .col-sm-4 .sort-listing .form-group--combobox select {
    padding-left: 8px !important;
    text-align: left !important;
    width: 91%;
  }
  .right-content-area h2 {
    font-size: 25px;
  }
  .right-content-area h4 {
    font-size: 13px;
  }
  .form-group--combobox input {
    width: calc(96.5% - 32px);
  }
  .footer-sec1 .widget {
    margin-bottom: 10px;
  }
  .nav-yellow-btn {
    float: left;
  }
  .ficon1 > img {
    height: auto;
  }
  .nav-yellow-btn {
    display: none;
    float: left;
  }
  .navbar-nav > li > a {
    font-size: 14px;
    padding: 16px 18px 17px;
  }
  .all_form_top_icon img {
    height: auto;
    width: 14.8%;
  }
  .footer-links {
    text-align: center;
  }
  .copy-write-text {
    margin-bottom: 5px;
  }
  .top-links ul li {
    margin-left: 6px;
    float: none;
  }
  .top-links {
    padding-top: 0;
  }
  .float-right {
    float: right;
  }
  .pro-icon-sec {
    overflow: hidden;
  }
  .product-pric-sec {
    border-top: 1px solid;
    clear: both;
    padding: 5px 0;
  }
  .prict-btn > a {
    display: none;
  }
  .product-pric-sec > a {
    display: none;
  }
  .noleftpadding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .norightpadding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .search-form-left a {
    padding: 10px 6px 14px 20px;
  }
  .outer-list-post .col-lg-2 {
    overflow: hidden;
    clear: both;
  }
  .home_all_form_top_icon img {
    height: auto;
    width: 15%;
  }
  .home-search-btn2 a {
    font-size: 14px;
  }
  .header-logo2 {
    margin-top: 30px;
  }
  .inner-gray-sec .slick-prev.slick-arrow.slick-disabled, .inner-gray-sec .slick-prev.slick-arrow {
    left: 81%;
  }
  .home-slct1 .form-group--combobox select {
    padding-right: 37px;
  }
  .gray_slides img {
    width: 101%;
  }
  .thum_img.thumbnail > img {
    height: auto;
  }
  .ptitle_info {
    font-size: 11px;
  }
  .pprice_info > span {
    font-size: 9px;
  }
  .inner_home_thum_sec.inner_home_thum_sec1 {
    min-height: 225px;
    padding-top: 8px !important;
  }
  .inner_home_thum_sec2 {
    min-height: 230px;
    overflow: hidden;
    padding-top: 12px;
  }
  .gray_slider_outer {
    padding-bottom: 30px;
  }
  .inner-home-content-area .flip-slider-img > img {
    width: 97%;
  }
  .thum_product_info {
    padding: 7px 0;
  }
  .form-group--combobox select {
    padding-right: 38px;
  }
  .aw-home-page-slider .container .slick-prev {
    left: -36px !important;
  }
  .aw-nav-home-page .aw-container .navbar-header {
    display: inline-flex;
    float: none;
    width: 100%;
  }
  .aw-container {
    width: 100%;
    padding-left: 0px;
  }
  .aw-nav-home-page .aw-container .navbar-header a {
    margin: 0 auto !important;
  }
  .aw-nav-home-page .aw-container #navbar {
    display: inline-flex !important;
    float: none !important;
    padding-left: 0;
    width: 100%;
    background: rgb(224,225,226) !important;
  }
  .aw-nav-home-page .aw-container #navbar ul {
    float: none !important;
    margin: 0 auto !important;
  }
  .aw-nav-home-page .aw-container #navbar ul li index2-aw-buton {
    display: block !important;
  }
  .aw-home-page .col-sm-3 {
    width: 100%;
    text-align: center;
  }
  .aw-home-page .aw-header-liniks {
    padding-left: 0;
    text-align: center;
    width: 100%;
  }
  .aw-home-page .aw-header-liniks .top-links {
    float: none !important;
  }
  .aw_yellow_btn {
    margin-top: 10px !important;
    margin-left: 20px !important;
    margin-right: 15px;
  }
  .aw-nav {
    margin-left: 0px !important;
  }
  .aw_yellow_btn a {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  .aw-container .navbar-header {
    margin-top: 11px;
  }
  .aw_yellow_btn {
    display: block;
  }
  .home-slider-sec {
    padding: 0 0 45px !important;
  }
  .left-area {
    padding: 25px 25px 114px !important;
  }
  .contact-buton a {
    font-size: 15px;
  }
  .header-links {
    margin: 0px;
  }
  .header-links {
  }
  .user-icon {
    margin: 0px;
  }
  .contact-buton {
    display: block;
    margin-top: 10px;
  }
  .aw-nav-menu .aw-container #navbar .nav .new_yellow_cls a {
    display: none;
  }
  .aw-nav-menu #navbar ul li a {
    border-right: 1px solid #ccc;
    padding: 27px 7px 22px;
  }
  .pg_2_content .container, .pg_2_header .container {
    width: auto;
  }
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
  }
  .groupslct1 {
    width: 100%;
  }
  .delt-field {
    background: rgba(0, 0, 0, 0) url("images/delte-icon.png") no-repeat scroll 95% center;
  }
  .footer-sec1 {
    overflow: hidden;
  }
  .pg_2 .col-sm-3 {
    display: block !important;
  }
  .pg_2 .container.aw-container, .aw-responsive .container.aw-container, .aw-nav-menu .container.aw-container {
    padding-right: 0;
  }
}
@media all and (min-width:901px) and (max-width:956px) {
  .outer-list-post {
    border: 1px solid #dddddd;
    float: left;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 10px 10px 0;
    position: relative;
    width: 48%;
  }
  .outer-list-post:nth-child(2n) {
    margin-right: 23px;
  }
  .pg_2_content {
    margin-top: 40px;
  }
  .pg_2 .col-sm-3 {
    display: block;
  }
  .slider-form-sec .gender-sec label {
    font-size: 12px;
    line-height: 17px !important;
    min-height: 32px;
    padding-top: 7px;
  }
}
@media (max-width: 980px) {
  .aw-slider .container .col-sm-12 .single-item .slick-prev {
    background-size: 85% auto;
    left: 85px !important;
    top: 90px;
  }
  .aw-slider .container .col-sm-12 .single-item .slick-next {
    background-size: 85% auto;
    right: 70px !important;
    top: 90px;
  }
  .checkbox-label {
    padding-left: 37px !important;
  }
  .search-form-left a {
    padding: 14px 0 13px 0px;
  }
  .half-section {
    width: 100%;
  }
  .second-half-section {
    width: 100%;
  }
  .pg_2_content {
    margin-top: 40px;
  }
  .pg_2 .col-sm-3 {
    display: block;
  }
}
@media all and (min-width:900px) and (max-width:927px) {
  .all_form_top_icon img {
    width: 14.5%;
  }
  .pg_2 .col-sm-3 {
    display: block;
  }
}
@media all and (min-width:769px) and (max-width: 900px) {
  .slider-form-sec{
    padding-bottom:13px;
  }
  .top-links ul li {
    margin-left: 30px;
  }
  .top-links ul li {
    float: none !important;
  }
  .nav-yellow-btn {
    margin: 17px 0 0;
  }
  .nav.navbar-nav {
    margin-left: 13px;
  }
  .norightpadding {
    padding-left: 0;
    padding-right: 0;
  }
  .noleftpadding {
    padding-left: 0;
    padding-right: 0;
  }
  .right-content-area .col-sm-4 .sort-listing .form-group--combobox select {
    padding-left: 8px !important;
    text-align: left !important;
    width: 91%;
  }
  .right-content-area h2 {
    font-size: 25px;
  }
  .right-content-area h4 {
    font-size: 13px;
  }
  .form-group--combobox input {
    width: calc(96.5% - 32px);
  }
  .footer-sec1 .widget {
    margin-bottom: 10px;
  }
  .nav-yellow-btn {
    float: left;
  }
  .ficon1 > img {
    height: auto;
  }
  .nav-yellow-btn {
    display: none;
    float: left;
  }
  .navbar-nav > li > a {
    font-size: 15px;
    padding: 16px 18px 17px;
  }
  .all_form_top_icon img {
    height: auto;
    width: 14.5%;
  }
  .footer-links {
    text-align: center;
  }
  .copy-write-text {
    margin-bottom: 5px;
  }
  .top-links ul li {
    margin-left: 6px;
    float: none !important;
  }
  .top-links {
    padding-top: 0;
  }
  .float-right {
    float: right;
  }
  .right-content-area .col-sm-4 .sort-listing .form-group--combobox select {
    font-size: 9px;
    padding-left: 8px !important;
    text-align: left !important;
    width: 100%;
  }
  .copy-write-text {
    text-align: center;
  }
  .form-group--combobox input {
    width: calc(98.5% - 34px);
  }
  .pro-icon-sec {
    overflow: hidden;
  }
  .aw-nav-menu #navbar ul li a {
    padding: 27px 6px 22px !important;
  }
  .aw-nav {
    margin-left: 5px !important;
  }
  .home_all_form_top_icon img {
    height: auto;
    width: 15%;
  }
  .slider-form-sec .form-group--combobox select {
    padding-right: 38px;
  }
  .gender-sec label {
    font-size: 8px;
  }
  .slider-form-sec .gender-sec label {
    font-size: 12px;
    line-height: 17px !important;
    min-height: 32px;
    padding-top: 7px;
  }
  .reset-pass > a {
    font-size: 11px;
  }
  .home-search-btn a {
    font-size: initial;
    padding: 14px 0 14px 10px;
  }
  .home-search-btn2 a {
    font-size: initial;
    padding: 14px 0 14px 10px;
  }
  .inner-home-content-area .flip-slider-img > img {
    width: 97%;
  }
  .inner-home-content-area .slick-next.slick-arrow {
    right: -24px;
  }
  .inner-home-content-area .slick-next.slick-arrow {
    right: -24px;
  }
  .inner-home-content-area .slick-prev.slick-arrow {
    left: -32px;
  }
  .inner-gray-sec .outer_sider_one {
    width: 100%;
  }
  .pro_thumnail_outer_sec {
    width: 100%;
  }
  .inner_home_thum_sec.inner_home_thum_sec1 {
    min-height: 330px;
  }
  .inner_home_thum_sec2 {
    min-height: 330px;
  }
  .header-logo2 {
    margin-top: 30px;
  }
  .aw-home-page-slider .container .slick-prev {
    left: -35px;
  }
  .aw-home-page-slider .container .slick-next {
    right: -28px;
  }
  .aw-index-two .col-sm-3 {
    width: 100%;
    text-align: center;
  }
  .aw-index-two .aw-header-liniks {
    width: 100%;
    text-align: center;
  }
  .aw-index-two .aw-header-liniks .top-links {
    float: none !important;
    margin-top: 10px;
  }
  .aw-home-page .col-sm-3 {
    width: 100%;
    text-align: center;
  }
  .aw-home-page .aw-header-liniks {
    width: 100%;
    text-align: center;
  }
  .aw-home-page .aw-header-liniks .top-links {
    float: none !important;
    margin-top: 10px;
  }
  .aw-nav-home-page .aw-container {
    width: 100%;
  }
  .aw-nav-home-page .aw-container #navbar ul {
    display: inline-block;
    float: none !important;
    margin: 0 auto !important;
  }
  .aw-nav-home-page .aw-container #navbar {
    display: inline-flex !important;
  }
  .aw-nav-header .aw-container #navbar {
    display: inline-flex !important;
    float: none !important;
    padding-left: 0 !important;
    width: 100%;
  }
  .aw-nav-header .aw-container #navbar ul {
    margin: 0 auto !important;
  }
  .aw-container .navbar-header {
    padding: 13px 0;
    text-align: center;
  }
  .aw-container .navbar-header .navbar-brand {
    float: none;
  }
  .aw-nav-menu .aw-container .navbar-header {
    width: 100%;
    padding-left: 20px;
  }
  .aw-nav-menu .aw-container #navbar {
    background-color: rgb(226, 227, 228);
    float: left;
    margin-top: 13px;
    padding-left: 20px;
    width: 100%;
  }
  .aw-nav-menu .aw-container #navbar ul li .aw_yellow_btn {
    display: inline-block;
    margin-left: 0 !important;
    margin-top: 0;
  }
  .aw-container {
    padding-left: 0px !important;
  }
  .aw-nav-home-page .aw-container #navbar ul li a {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .left-area {
    text-align: center;
  }
  .left-area {
    padding: 25px 25px 379px !important;
  }
  .contact-buton a {
    font-size: 14px;
  }
  .user-icon {
    margin: 0;
  }
  .aw-nav-menu .aw-container #navbar .nav .new_yellow_cls a {
    display: none;
  }
  .aw-nav-menu #navbar ul li a {
    border-right: 1px solid #ccc;
    padding: 27px 14px 22px !important;
  }
  .aw-nav {
    margin-left: 3% !important;
  }
  nav {
    background: #fff !important;
  }
  .pg_2 .container.aw-container {
    width: auto;
  }
  .pg_2_header .container, .pg_2_content .container {
    width: auto;
  }
  .flag-sec {
    margin-top: 10px;
  }
  .groupslct1 {
    width: 100%;
  }
  .delt-field {
    background: rgba(0, 0, 0, 0) url("images/delte-icon.png") no-repeat scroll 94% center;
  }
  .footer-sec1 {
    overflow: hidden;
  }
  .all_form_top_icon {
    margin-bottom: 10px;
    text-align: center;
  }
  .all_form_top_icon img {
    width: 22%;
    margin-bottom: 5px;
  }
  .ficon3 > img {
    clear: both;
    display: inline-block;
  }
  .all_form_top_icon > span {
    display: block;
    text-align: center;
  }
  .outer-list-post:nth-child(2n) {
    margin-right: 18px;
  }
  .outer-list-post {
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    padding: 5px 0;
  }
  .outer-list-post .col-lg-4 {
    float: none;
    width: inherit;
  }
  .outer-list-post .col-lg-6.marg-icon-sec {
    border: medium none;
    float: none;
    width: inherit;
  }
  .outer-list-post {
    border: 1px solid #dddddd;
    float: left;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 10px 10px 0;
    position: relative;
    width: 48%;
  }
  .yellow-post {
    background: #ffd9bf none repeat scroll 0 0;
    border: none;
    padding: 0;
  }
  .pro-icon-sec .row {
    float: none;
    width: inherit;
  }
  .pro-icon-sec {
    line-height: 35px;
    overflow: hidden;
  }
  .product-detail-sec > p {
    margin-bottom: 10px;
  }
  .product-detail-sec {
    margin-top: 10px;
  }
  .product-pric-sec {
    border-top: 1px solid;
    padding: 0;
    margin-bottom: 10px;
  }
  .product-pric-sec span {
    float: right;
  }
  .prict-text2 {
    float: left;
    margin-left: 0;
    margin-right: 15px;
  }
  .prict-text4 {
    clear: both;
    float: left;
    margin-left: 0;
  }
  .product_price {
    font-size: 28px !important;
    font-weight: bold;
    float: right !important;
  }
  .product-pric-sec span {
    float: none;
  }
  .prict-text3 {
    display: none;
  }
  .product-pric-sec img {
    display: none;
    float: right;
    padding-right: 8px;
  }
  .prict-btn > a {
    display: none;
  }
  .pg_2 .col-sm-3 {
    display: block;
  }
  .pg_2_content {
    margin-top: 40px;
  }
  .pg_2 .container.aw-container, .aw-responsive .container.aw-container, .aw-nav-menu .container.aw-container {
    padding-right: 0;
  }

  html[data-useragent*='MSIE 10.0'] .aw-nav-menu .aw-container #navbar {
    background-color: rgb(226, 227, 228);
    float: none;
    margin-top: 13px;
    padding-left: 20px;
    text-align: center;
    width: 100%;
  }
  html[data-useragent*='MSIE 10.0'] .aw-nav-header .aw-container #navbar ul {
    display: inline-block;
    margin: 0 auto !important;
  }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .aw-nav-header .aw-container #navbar ul {
      display: inline-block;
      margin: 0 auto !important;
    }
    .aw-nav-menu .aw-container #navbar {
      background-color: rgb(226, 227, 228);
      float: none;
      margin-top: 13px;
      padding-left: 20px;
      text-align: center;
      width: 100%;
    }
  }
}
@media all and (min-width:769px) and (max-width:785px){
  .pg_2 .col-sm-9{
    width:100%;
  }
  .pg_2 .col-sm-3{
    display:none;
    width:100%;
  }
  .filert-sec {
    display: block;
    text-align: center;
  }
  .all_form_top_icon img {
    margin-bottom: 5px;
    width: auto;
  }
  .all_form_top_icon > span {
    display: inline;
    text-align: center;
  }
  .aw-nav-header #navbar ul li a{
    padding:27px 13px 22px !important;
  }
}
@media all and (max-width:768px) {
  .new_yellow_cls a {
    display: none !important;
  }
  .aw-container .navbar-header .navbar-toggle {
    margin-right: 45px !important;
  }
  .top-links ul li {
    margin-left: 30px;
  }
  .nav-yellow-btn {
    margin: 17px 0 0;
  }
  .nav.navbar-nav {
    margin-left: 0;
  }
  .norightpadding {
    padding-left: 0;
    padding-right: 0;
  }
  .noleftpadding {
    padding-left: 0;
    padding-right: 0;
  }
  .right-content-area .col-sm-4 .sort-listing .form-group--combobox select {
    padding-left: 8px !important;
    text-align: left !important;
    width: 91%;
  }
  .right-content-area h2 {
    font-size: 25px;
  }
  .right-content-area h4 {
    font-size: 13px;
  }
  .form-group--combobox input {
    width: calc(96.5% - 32px);
  }
  .footer-sec1 .widget {
    margin-bottom: 10px;
  }
  .nav-yellow-btn {
    float: left;
  }
  .ficon1 > img {
    height: auto;
  }
  .nav-yellow-btn {
    display: none;
    float: left;
  }
  .navbar-nav > li > a {
    font-size: 15px;
    padding: 16px 18px 17px;
  }
  .all_form_top_icon img {
    height: auto;
    width: auto;
  }
  .footer-links {
    text-align: center;
  }
  .copy-write-text {
    margin-bottom: 5px;
  }
  .top-links ul li {
    margin-left: 6px;
    float: none;
  }
  .top-links {
    padding-top: 0;
  }
  .float-right {
    float: right;
  }
  .right-content-area .col-sm-4 .sort-listing .form-group--combobox select {
    font-size: inherit;
    padding-left: 8px !important;
    text-align: left !important;
    width: 100%;
  }
  .copy-write-text {
    text-align: center;
  }
  .form-group--combobox input {
    width: calc(98.5% - 34px);
  }
  .footer-sec2, .footer-sec1 {
    overflow: hidden;
  }
  .aw-nav-menu #navbar ul li a {
    padding: 27px 10px 22px !important;
  }
  .aw-nav {
    margin-left: 5px !important;
  }
  .inner-gray-sec .outer_sider_one {
    width: 100%;
  }
  .pro_thumnail_outer_sec {
    width: 100%;
  }
  .inner_home_thum_sec.inner_home_thum_sec1 {
    min-height: 330px;
    margin-top: 20px;
  }
  .inner_home_thum_sec2 {
    min-height: 330px;
  }
  .header-logo2 {
    margin-top: 30px;
  }
  .home-page-super-text .col-lg-6.col-sm-6.col-sm-12 {
    width: 100%;
  }
  .home-slider-sec {
    background-position: center top;
    background-size: 100% 78%;
  }
  .home_slider_text {
    padding: 50px 0 0;
  }
  .inner-home-content-area .flip-slider-img > img {
    width: 96%;
  }
  .inner-home-content-area .slick-prev.slick-arrow {
    left: -20px;
  }
  .home-search-btn {
    margin: 10px 0;
  }
  .aw-home-page-slider .container .slick-prev {
    left:0;
  }
  .aw-home-page-slider .container .slick-next {
    right:10px;
  }
  .aw-container .navbar-header {
    padding: 2px 0 10px 0;
    text-align: center;
  }
  .aw-container .navbar-header .navbar-brand {
    float: none;
  }
  .aw-nav-menu .aw-container .navbar-header {
    width: 100%;
    padding-left: 20px;
  }
  .aw-nav-menu .aw-container #navbar {
    background-color: rgb(226, 227, 228);
    float: left;
    margin-top: 13px;
    padding-left: 20px;
    width: 100%;
  }
  .aw-nav-menu .aw-container #navbar ul li .aw_yellow_btn {
    display: inline-block;
    margin-left: 0 !important;
    margin-top: 0;
  }
  .aw-nav-menu .aw-container #navbar ul {
    float: left !important;
    margin-left: 0 !important;
  }
  .aw-container {
    padding-left: 0px !important;
  }
  .user-icon {
    margin: 0 !important;
  }
  .contact-buton a {
    font-size: 12px;
  }
  .footerr-content a {
    display: block;
  }
  .left-area {
    text-align: center;
    padding-bottom: 379px !important;
  }
  .footerr-content {
    margin-bottom: 10px;
  }
  .right-bttom {
    margin-bottom: 10px;
  }
  .aw-index-two .col-sm-3 {
    width: 100%;
    text-align: center;
  }
  .aw-index-two .aw-header-liniks {
    width: 100%;
    text-align: center;
  }
  .aw-index-two .aw-header-liniks .top-links {
    float: none !important;
    margin-top: 10px;
  }
  .aw-nav-header .aw-container .navbar-header {
    float: none !important;
    width: 100%;
  }
  .aw-nav-header .aw-container .navbar-header a {
    margin: 0 auto !important;
  }
  .aw-nav-header .aw-container #navbar {
    float: none !important;
    padding-left: 0;
    width: 100% !important;
  }
  .aw-nav-header .aw-container #navbar ul {
    margin: 0 auto !important;
  }
  .aw-home-page .col-sm-3 {
    width: 100%;
    text-align: center;
  }
  .aw-home-page .aw-header-liniks {
    width: 100%;
    text-align: center;
  }
  .aw-home-page .aw-header-liniks .top-links {
    float: none !important;
    margin-top: 10px;
  }
  .aw-nav-home-page .aw-container .navbar-header {
    display: inline-flex;
    float: none !important;
    width: 100%;
  }
  .aw-nav-home-page .aw-container {
    width: 100%;
  }
  .aw-nav-home-page .aw-container .navbar-header a {
    margin: 0 auto !important;
  }
  .aw-nav-home-page .aw-container #navbar {
    display: inline-flex !important;
    float: none !important;
    padding-left: 0;
    width: 100% !important;
  }
  .aw-nav-home-page .aw-container #navbar ul {
    margin: 0 auto !important;
  }
  nav {
    background: #fff !important;
  }
  .delt-field {
    background: rgba(0, 0, 0, 0) url("images/delte-icon.png") no-repeat scroll 98.3% center;
  }
  .filert-sec {
    display: block;
    text-align: center;
  }
  .pg_2 .col-sm-3 {
    display: none;
  }
  .pg_2_content {
    margin-top: 10px;
  }
  .groupslct1 {
    width: 100%;
  }
  .pro-icon-sec {
    overflow: hidden;
  }
  .left-page-form p {
    text-align: center;
  }
  .all_form_top_icon {
    text-align: center;
  }
  .all_form_top_icon {
    margin-bottom: 10px;
    text-align: center;
  }
  .all_form_top_icon img {
    width: 25%;
    margin-bottom: 5px;
  }
  .ficon3 > img {
    clear: both;
    display: inline-block;
  }
  .outer-list-post:nth-child(2n) {
    margin-right: 18px;
  }
  .outer-list-post {
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    padding: 5px 0;
  }
  .outer-list-post .col-lg-4 {
    float: none;
    width: inherit;
  }
  .outer-list-post .col-lg-6.marg-icon-sec {
    border: medium none;
    float: none;
    width: inherit;
  }
  .outer-list-post {
    border: 1px solid #dddddd;
    float: left;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 10px 10px 0;
    position: relative;
    width: 48%;
  }
  .yellow-post {
    background: #ffd9bf none repeat scroll 0 0;
    border: none;
    padding: 0;
  }
  .pro-icon-sec .row {
    float: none;
    width: inherit;
  }
  .pro-icon-sec {
    line-height: 35px;
    overflow: hidden;
  }
  .product-detail-sec > p {
    margin-bottom: 10px;
  }
  .product-detail-sec {
    margin-top: 10px;
  }
  .product-pric-sec {
    border-top: 1px solid;
    padding: 0;
    margin-bottom: 10px;
  }
  .product-pric-sec span {
    float: right;
  }
  .prict-text2 {
    float: left;
    margin-left: 0;
    margin-right: 15px;
  }
  .prict-text4 {
    clear: both;
    float: left;
    margin-left: 0;
  }
  .product_price {
    font-size: 28px !important;
    font-weight: bold;
    float: right !important;
  }
  .product-pric-sec span {
    float: none;
  }
  .prict-text3 {
    display: none;
  }
  .product-pric-sec img {
    display: none;
    float: right;
    padding-right: 8px;
  }
  .prict-btn > a {
    display: none;
  }
  .pg_2 .col-sm-3 {
    display: none;
  }
  .all_form_top_icon img {
    margin-bottom: 5px;
    width: auto;
  }
  .pg_2 .col-sm-9 {
    width: 100%;
  }
  .inner-gray-sec .slick-prev.slick-arrow, .inner-gray-sec .slick-prev.slick-arrow.slick-disabled {
    left: auto;
    right:60px;
  }
  .inner-gray-sec .slick-prev.slick-arrow.slick-disabled, .inner-gray-sec .slick-prev.slick-arrow {
    left: auto;
    right: 62px;
  }
  .inner_home_thum_sec1 > .col-lg-6:first-child, .inner_home_thum_sec1 > .col-lg-6:nth-child(2) {
    display: block;
  }
  .inner_home_thum_sec .col-sm-4 {
    width: 100%;
  }
  .thumbnail a > img, .thumbnail > img {
    height:auto !important;
  }
  .aw-container {
    padding-left: 0 !important;
    padding-right: 0;
    width: auto;
  }
}
@media all and (min-width:641px) and (max-width:767px) {
  .aw-nav-header .aw-container .navbar-header {
    float: none !important;
    width: 100%;
  }
  .aw-nav-menu .aw-container .navbar-header a {
    display: block;
  }
  .aw-nav-menu .aw-container .navbar-header button {
    left: -26%;
    position: relative;
  }
  .aw-nav-menu .aw-container .navbar-header {
    text-align: center;
  }
  .aw-nav-menu #navbar ul li a {
    border: none !important;
  }
  .index2-aw-buton {
    padding: 0 !important;
    width: 100%;
  }
  .aw-nav-menu #navbar ul {
    width: 100%;
    margin-right: 0px;
    text-align: center;
  }
  .aw-nav-menu #navbar {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 7px !important;
  }
  .aw-responsive .navigate_new{
    padding-right: 7px !important;
  }
  .aw-container #navbar ul {
    float: none !important;
  }
  .aw-container #navbar ul li a {
    padding-left: 15px !important;
  }
  .index2-aw-buton {
    margin-left: 0 !important;
    padding-left: 10px;
    padding-right: 40px;
  }
  .col-build-2, .col-build-3, .col-build-4, .col-build-5, .col-build-6 {
    border-bottom: 2px dashed #ccc;
    width: 100%;
    text-align: center;
  }
  .post-data {
    margin-bottom: 10px;
  }
  .left-head-section span:first-child {
    display: block;
    text-align: center;
    width: 100%;
  }
  .left-area {
    margin-bottom: 10px;
    padding-bottom: 45px !important;
  }
  .left-btoom {
    text-align: center !important;
  }
  .bottom-content h3 {
    text-align: center;
  }
  .right-content {
    text-align: center !important;
  }
  .right-content > div {
    border-bottom: 2px dashed #ccc;
  }
  .half-section {
    float: left;
    width: 50%;
  }
  .col-aw-3, .col-aw-4, .col-aw-5, .col-aw-6 {
    float: left;
    width: 50%;
  }
  .footer-icon-sec {
    padding-left: 15px;
  }
  .aw-nav-home-page .aw-container #navbar ul {
    margin-left: 0px !important;
  }
  .top-links {
    float: none !important;
    text-align: center !important;
  }
  .aw-header-liniks {
    text-align: center !important;
  }
  .norightpadding, .noleftpadding {
    padding-left: 0;
    padding-right: 0;
  }
  .right-content-heading {
    min-height: 150px;
    overflow: initial !important;
  }
  .right-content-area .col-sm-4 {
    text-align: left;
  }
  .right-content-area .col-sm-4 .sort-listing .form-group--combobox select {
    width: 100%;
  }
  .copy-write-text {
    text-align: center;
  }
  .flag-sec {
    text-align: center;
  }
  .top-links {
    display: inline-block;
    float: none;
    overflow: hidden;
    padding-top: 13px;
  }
  .navbar-header button {
    background: #333 none repeat scroll 0 0 !important;
  }
  .form-group--combobox input {
    width: calc(98.5% - 34px);
  }
  .product-image-sec {
    margin: 0 0 10px;
  }
  .footer-sec1 .widget {
    margin-bottom: 20px;
  }
  .footer-links {
    margin: 10px 0 0;
    text-align: center;
  }
  #navbar {
    padding: 0;
  }
  .nav-yellow-btn {
    display: block;
    float: none;
    text-align: center;
  }
  .nav-yellow-btn a {
    background: #ff6600 none repeat scroll 0 0;
    color: #fff;
    display: block;
    padding: 20px 35px !important;
  }
  .product-pric-sec {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .left-page-form p {
    color: #ff6600;
    font-size: 12px;
  }
  .groupslct1 {
    width: 100%;
  }
  .top-links.float-right {
    display: block;
    text-align: center;
  }
  .top-links.float-right > ul {
    display: inline-block;
  }
  .aw-nav-menu {
    overflow: hidden;
  }
  nav {
    background: rgba(0, 0, 0, 0) url("images/nav-bg.png") repeat-x scroll 0 0 !important;
  }
  .resp_sec {
    display: block;
  }
  .outer_row .left-area {
    display: none;
  }
  .om-offer-top .om-offer-photos .draggable {
    height: auto !important;
  }
  .pg_2 .col-sm-9 {
    margin-top: 20px;
    padding: 0;
  }
  .filert-sec {
    display: block;
    text-align: center;
  }
  .pg_2 .col-sm-3 {
    display: none;
  }
  .all_form_top_icon img {
    margin-bottom: 5px;
    width: auto;
  }
  .pg_2_content .col-sm-9 {
    width: auto;
  }
  .pg_2 .container.aw-container, .aw-responsive .container.aw-container, .aw-nav-menu .container.aw-container {
    padding-right: 0;
  }
}
@media all and (min-width:481px) and (max-width:640px) {
  .norightpadding, .noleftpadding {
    padding-left: 0;
    padding-right: 0;
  }
  .right-content-heading {
    min-height: 170px;
    overflow: initial !important;
  }
  .right-content-area .col-sm-4 {
    text-align: left;
  }
  .right-content-area .col-sm-4 .sort-listing .form-group--combobox select {
    width: 100%;
  }
  .copy-write-text {
    text-align: center;
  }
  .flag-sec {
    text-align: center;
  }
  .top-links {
    display: block;
    float: none;
    overflow: hidden;
    padding-top: 13px;
    text-align: center;
  }
  .product-detail-sec > p {
    margin-top: 6px;
  }
  .navbar-header button {
    background: #333 none repeat scroll 0 0 !important;
  }
  .form-group--combobox input {
    width: calc(98.5% - 34px);
  }
  .product-image-sec {
    margin: 0 0 10px;
  }
  .pro-detail-text2 {
    margin: 20px 0 0;
  }
  .pro-icon-sec .row .col-lg-6 {
    margin-bottom: 0;
    margin-top: 10px;
  }
  .prict-text3.yellow_prict_text3 {
    margin: 7px 0;
  }
  .footer-sec1 .widget {
    margin-bottom: 20px;
  }
  .footer-links {
    margin: 10px 0 0;
    text-align: center;
  }
  .top-links ul li {
    margin-left: 23px;
  }
  .top-links.float-right > ul {
    display: inline-block;
  }
  #navbar {
    padding: 0;
  }
  .nav-yellow-btn {
    display: block;
    float: none;
    text-align: center;
  }
  .nav-yellow-btn a {
    background: #ff6600 none repeat scroll 0 0;
    color: #fff;
    display: block;
    padding: 20px 13px;
  }
  .groupslct1 {
    width: 100%;
  }
  .outer_row .col-sm-9 {
    padding-left: 0;
    padding-right: 0;
  }
  .flip-slider-img img {
    height: auto;
    width: 94%;
  }
  .inner-home-content-area .slick-prev.slick-arrow {
    left: -13px;
  }
  .gray_slides img {
    height: auto !important;
    width: 100% !important;
  }
  .inner-thumnail-sec {
    margin-bottom: 30px;
  }
  .aw-nav-menu {
    overflow: hidden;
  }
  .top-links {
    float: none !important;
  }
  .home_all_form_top_icon img {
    height: auto;
    width: 15%;
  }
  .aw_yellow_btn {
    margin-left: 0px !important;
  }
  .aw-nav-menu .aw-container .navbar-header a {
    display: inline-block;
    float: none;
    margin-left: 19%;
  }
  .aw-nav-menu .aw-container .navbar-header {
    text-align: center;
  }
  .aw-nav-menu #navbar ul li a {
    border: none !important;
  }
  .index2-aw-buton {
    padding: 0 !important;
    width: 100%;
  }
  .aw-nav-menu #navbar ul {
    width: 100%;
    margin-right: 0px;
    text-align: center;
  }
  .aw-nav-menu #navbar {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 7px !important;
  }
  .aw-container #navbar ul {
    float: none !important;
  }
  .aw-container #navbar ul li a {
    padding-left: 15px !important;
  }
  .index2-aw-buton {
    margin-left: 0 !important;
    padding-left: 10px;
    padding-right: 40px;
  }
  .footer-icon-sec {
    padding-left: 15px;
  }
  .left-head-section span:first-child {
    display: block;
    width: 100%;
  }
  .left-area {
    padding-bottom: 55px !important;
  }
  .col-aw-3 {
    float: left;
    width: 50%;
  }
  .footerr-content {
    margin-bottom: 10px;
  }
  .col-aw-4 {
    float: left;
    width: 50%;
  }
  .col-aw-5 {
    float: left;
    width: 50%;
  }
  .col-aw-6 {
    float: left;
    width: 50%;
  }
  .right-bttom {
    margin-bottom: 10px;
  }
  .half-section {
    width: 45% !important;
    float: left;
  }
  .second-half-section {
    width: 45% !important;
    float: left;
  }
  .left-contact {
    text-align: center;
  }
  .right-content {
    text-align: center !important;
  }
  .right-content div {
    border-bottom: 2px dashed #ccc;
  }
  .post-sec {
    border-bottom: 2px dashed #ccc;
    text-align: center;
  }
  .inner-right-area {
    margin-top: 20px;
  }
  .user-icon {
    margin: 0px;
  }
  .col-build-2 {
    width: 100%;
    margin-bottom: 20px;
  }
  .col-build-3 {
    margin-bottom: 20px;
    width: 100%;
  }
  .col-build-4 {
    width: 100%;
    margin-bottom: 20px;
  }
  nav {
    background: rgba(0, 0, 0, 0) url("images/nav-bg.png") repeat-x scroll 0 0 !important;
  }
  .resp_sec {
    display: block;
  }
  .outer_row .left-area {
    display: none;
  }
  .om-offer-top .om-offer-photos .draggable {
    height: auto !important;
  }
  .filert-sec {
    display: block;
  }
  .pg_2 .col-sm-3 {
    display: none;
  }
  .all_form_top_icon {
    margin-bottom: 10px;
    text-align: center;
  }
  .all_form_top_icon img {
    width: 25%;
    margin-bottom: 5px;
  }
  .ficon3 > img {
    clear: both;
    display: inline-block;
  }
  .outer-list-post:nth-child(2n) {
    margin-right: 18px;
  }
  .outer-list-post {
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    padding: 5px 0;
  }
  .outer-list-post .col-lg-4 {
    float: none;
    width: inherit;
  }
  .outer-list-post .col-lg-6.marg-icon-sec {
    border: medium none;
    float: none;
    width: inherit;
  }
  .outer-list-post {
    border: 1px solid #dddddd;
    float: left;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 10px 10px 0;
    position: relative;
    width: 48%;
  }
  .yellow-post {
    background: #ffd9bf none repeat scroll 0 0;
    border: none;
    padding: 0;
  }
  .pro-icon-sec .row {
    float: none;
    width: inherit;
  }
  .pro-icon-sec {
    line-height: 35px;
    overflow: hidden;
  }
  .product-detail-sec > p {
    margin-bottom: 10px;
  }
  .product-detail-sec {
    margin-top: 10px;
  }
  .product-pric-sec {
    border-top: 1px solid;
    padding: 0;
    margin-bottom: 10px;
  }
  .product-pric-sec span {
    float: right;
  }
  .prict-text2 {
    float: left;
    margin-left: 0;
    margin-right: 15px;
  }
  .prict-text4 {
    clear: both;
    float: left;
    margin-left: 0;
  }
  .product_price {
    font-size: 28px !important;
    font-weight: bold;
    float: right !important;
  }
  .product-pric-sec span {
    float: none;
  }
  .prict-text3 {
    display: none;
  }
  .product-pric-sec img {
    display: none;
    float: right;
    padding-right: 8px;
  }
  .prict-btn > a {
    display: none;
  }
  .pg_2 .col-sm-3 {
    display: block;
  }
  .all_form_top_icon img {
    margin-bottom: 5px;
    width: auto;
  }
  .pg_2 .container.aw-container, .aw-responsive .container.aw-container, .aw-nav-menu .container.aw-container {
    padding-right: 0;
  }
}
@media all and (min-width:481px) and (max-width:580px) {
  .delt-field {
    background: rgba(0, 0, 0, 0) url("images/delte-icon.png") no-repeat scroll 97.6% center;
  }
}
@media all and (min-width:320px) and (max-width:570px) {
  .all_form_top_icon {
    margin-bottom: 10px;
    text-align: center;
  }
  .all_form_top_icon img {
    width: 25%;
    margin-bottom: 5px;
  }
  .ficon3 > img {
    clear: both;
    display: inline-block;
  }
  .outer-list-post:nth-child(2n) {
    margin-right: 18px;
  }
  .outer-list-post {
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    padding: 5px 0;
  }
  .outer-list-post .col-lg-4 {
    float: none;
    width: inherit;
  }
  .outer-list-post .col-lg-6.marg-icon-sec {
    border: medium none;
    float: none;
    width: inherit;
  }
  .outer-list-post {
    border: 1px solid #dddddd;
    float: none;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    width: auto;
  }
  .yellow-post {
    background: #ffd9bf none repeat scroll 0 0;
    border: none;
    padding: 0;
  }
  .pro-icon-sec .row {
    float: none;
    width: inherit;
  }
  .pro-icon-sec {
    line-height: 35px;
    overflow: hidden;
  }
  .product-detail-sec > p {
    margin-bottom: 10px;
  }
  .product-detail-sec {
    margin-top: 10px;
  }
  .product-pric-sec {
    border-top: 1px solid;
    padding: 0;
    margin-bottom: 10px;
  }
  .product-pric-sec span {
    float: right;
  }
  .prict-text2 {
    float: left;
    margin-left: 0;
    margin-right: 15px;
  }
  .prict-text4 {
    clear: both;
    float: left;
    margin-left: 0;
  }
  .product_price {
    font-size: 28px !important;
    font-weight: bold;
    float: right !important;
  }
  .product-pric-sec span {
    float: none;
  }
  .prict-text3 {
    display: none;
  }
  .product-pric-sec img {
    display: none;
    float: right;
    padding-right: 8px;
  }
  .prict-btn > a {
    display: none;
  }
  /*.pg_2 .col-sm-3{
      display:block;
  }*/
  .all_form_top_icon img {
    margin-bottom: 5px;
    width: auto;
  }
  .big_thumnail .ptitle_info {
    font-size: 16px !important;
    text-align: left;
  }
  .outer-list-post:nth-child(2n) {
    margin-right: 0;
  }
  .pg_2 .container.aw-container, .aw-responsive .container.aw-container, .aw-nav-menu .container.aw-container {
    padding-right: 0;
  }
}
@media all and (min-width:320px) and (max-width:480px) {
  .norightpadding, .noleftpadding {
    padding-left: 0;
    padding-right: 0;
  }
  .right-content-heading {
    min-height: 190px;
    overflow: initial !important;
  }
  .right-content-area .col-sm-4 {
    text-align: left;
  }
  .right-content-area .col-sm-4 .sort-listing .form-group--combobox select {
    width: 100%;
  }
  .copy-write-text {
    text-align: center;
  }
  .flag-sec {
    text-align: center;
  }
  .top-links {
    float: none !important;
    text-align: center;
  }
  .navbar-header button {
    background: #333 none repeat scroll 0 0 !important;
  }
  .form-group--combobox input {
    width: calc(97.5% - 34px);
  }
  .product-image-sec {
    margin: 0 0 10px;
  }
  .pro-detail-text2 {
    margin: 20px 0 0;
  }
  .pro-icon-sec .row .col-lg-6 {
    margin-bottom: 0;
    margin-top: 10px;
  }
  .prict-text3.yellow_prict_text3 {
    margin: 7px 0;
  }
  .footer-sec1 .widget {
    margin-bottom: 20px;
  }
  .footer-links {
    margin: 10px 0 0;
    text-align: center;
  }
  .top-links ul li {
    float: none;
    margin-left: 0;
  }
  .top-links.float-right > ul {
    display: inline-block;
  }
  .all_form_top_icon img {
    height: auto;
    width: auto;
  }
  .inner-snumber-sec h3 {
    font-size: 44px;
  }
  .inner-snumber-sec span {
    font-size: 21px;
  }
  #navbar {
    padding: 0;
  }
  .nav-yellow-btn {
    display: block;
    float: none;
    text-align: center;
  }
  .nav-yellow-btn a {
    background: #ff6600 none repeat scroll 0 0;
    color: #fff;
    display: block;
    padding: 20px 13px;
  }
  .groupslct1 {
    width: 100%;
  }
  .right-content-area {
    margin-top: 10px;
  }
  .outer_row > .col-sm-9 {
    padding-left: 0;
    padding-right: 0;
  }
  .pro-icon-sec .row {
    float: none;
    margin-bottom: 10px;
    width: auto;
  }
  .flip-slider-img {
    text-align: center !important;
  }
  .flip-slider-img > img {
    display: inline-block !important;
  }
  .inner-home-content-area .slick-prev.slick-arrow {
    left: -14px !important;
    z-index: 9999 !important;
  }
  .fs-title, .fs-title_km, .fs-date, .fs-date {
    text-align: center;
  }
  .inner-gray-sec .slick-prev.slick-arrow.slick-disabled {
    left: 70% !important;
  }
  .inner-gray-sec .slick-prev.slick-arrow {
    left: 70%;
  }
  .ptitle_info {
    float: left;
    width: 50%;
  }
  .pprice_info {
    float: right;
    width: 50%;
  }
  .inner-thumnail-sec {
    margin-bottom: 35px;
  }
  .home_all_form_top_icon img {
    height: auto;
    width: 15%;
  }
  .aw-nav-menu {
    overflow: hidden;
  }
  .header-logo2 {
    margin-top: 10px;
  }
  .home_slider_text h1 {
    font-size: 20px;
  }
  .aw_yellow_btn {
    margin-left: 0px !important;
  }
  .aw-nav-menu .aw-container .navbar-header a {
    display: inline-block;
    float: none;
    margin-left: 10%;
  }
  .aw-nav-menu .aw-container .navbar-header button {
    margin-right: 5% !important;
  }
  .aw-nav-menu .aw-container .navbar-header {
    text-align: center;
  }
  .aw-nav-menu #navbar ul li a {
    border: none !important;
  }
  .index2-aw-buton {
    padding: 0 !important;
    width: 100%;
  }
  .aw-nav-menu #navbar ul {
    width: 100%;
    margin-right: 0px;
    text-align: center;
  }
  .aw-nav-menu #navbar {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 7px !important;
  }
  .aw-container #navbar ul {
    float: none !important;
  }
  .aw-container #navbar ul li a {
    padding-left: 15px !important;
  }
  .index2-aw-buton {
    margin-left: 0 !important;
    padding-left: 10px;
    padding-right: 40px;
  }
  .aw-slider .container .col-sm-12 .single-item .slick-prev {
    left: 45px !important;
    top: 60px;
  }
  .aw-slider .container .col-sm-12 .single-item .slick-next {
    right: 30px !important;
    top: 60px;
  }
  .right-bttom {
    margin-bottom: 10px;
  }
  .post-sec {
    border-bottom: 2px dashed #ccc;
    margin-bottom: 10px;
    text-align: center;
  }
  .left-contact {
    text-align: center;
  }
  .right-content div {
    border-bottom: 2px dashed #ccc;
  }
  .right-content {
    text-align: center !important;
  }
  .footerr-content {
    margin-bottom: 10px;
  }
  .post-data {
    margin-bottom: 25px;
  }
  .left-area {
    padding-bottom: 55px !important;
  }
  .left-btoom {
    text-align: center;
  }
  .bottom-content {
    margin-top: 20px;
  }
  .footer-icon-sec {
    padding-left: 20px;
  }
  .left-head-section span:first-child {
    display: block;
    width: 100%;
  }
  .col-build-2 {
    width: 100%;
  }
  .col-build-3 {
    width: 100%;
  }
  .col-build-4 {
    width: 100%;
  }
  .user-icon {
    margin: 0px;
  }
  .resp_sec {
    display: block;
  }
  .outer_row .left-area {
    display: none;
  }
  .om-offer-top .om-offer-photos .draggable {
    height: auto !important;
  }
  .filert-sec {
    display: block;
  }
  .pg_2 .col-sm-3 {
    display: none;
  }
  .delt-field {
    background: rgba(0, 0, 0, 0) url("images/delte-icon.png") no-repeat scroll 97% center;
  }
  .prict-text4 span {
    font-size: 11px;
  }
  .prict-text4 {
    font-size: 8px;
  }
  .outer-list-post:nth-child(2n) {
    margin-right: 0;
  }
  .pg_2 .container.aw-container, .aw-responsive .container.aw-container, .aw-nav-menu .container.aw-container {
    padding-right: 0;
  }
}
@media all and (min-width:320px) and (max-width:423px) {
  .all_form_top_icon img {
    height: auto;
    width: 15.4%;
  }
}
@media all and (min-width:340px) and (max-width:363px) {
  .all_form_top_icon img {
    height: auto;
    width: 15.5%;
  }
}
@media all and (min-width:300px) and (max-width:340px) {
  .all_form_top_icon img {
    height: auto;
    width: 15.4%;
  }
}
@media all and (min-width:320px) and (max-width:420px) {
  .home_slider_text {
    padding: 155px 0 0 !important;
  }
  .product-detail-sec {
    padding-left: 0;
  }
  .pro-icon-sec .row {
    float: none;
    width: auto;
  }
  .product-detail-sec > p {
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 10px;
  }
  .home_all_form_top_icon img {
    height: auto;
    width: 15%;
  }
  .slider-form-sec {
    padding: 35px 10px;
  }
  .home-search-btn {
    margin: 10px 0 20px;
  }
  .aw_yellow_btn {
    margin-left: 0px !important;
  }
  .aw-container #navbar ul {
    float: none !important;
  }
  .aw-container #navbar ul li a {
    padding-left: 15px !important;
  }
  .index2-aw-buton {
    margin-left: 0 !important;
    padding-left: 10px;
    padding-right: 40px;
  }
  .aw-slider .container .col-sm-12 .single-item .slick-prev {
    background-size: 65% auto;
    left: 30px !important;
    top: 40px;
  }
  .aw-slider .container .col-sm-12 .single-item .slick-next {
    background-size: 65% auto;
    right: 10px !important;
    top: 40px;
  }
  .om-offer-top .om-offer-photos .draggable {
    height: auto !important;
  }
  .filert-sec {
    display: block;
  }
  .pg_2 .col-sm-3 {
    display: none;
  }
  .outer-list-post .col-lg-6 {
    float: none;
    width: inherit;
  }
  .outer-list-post .col-lg-2 {
    float: none;
    padding-bottom: 15px;
    padding-top: 15px;
    width: auto;
  }
  .marg-icon-sec {
    border: medium none;
  }
  .prict-text3 {
    padding-top: 15px;
  }
  .product-pric-sec {
    border-top: 1px solid #ccc;
    overflow: hidden;
    clear: both;
  }
  .prict-text4 {
    font-size: 9px;
  }
  .prict-text4 span {
    font-size: 11px;
  }
}