.big_thumnail .pprice_info strong{
  font-size: 26px;
}
.big_thumnail .pprice_info > span {
  font-size: 16px;
}
.big_thumnail .ptitle_info {
  font-size: 22px;
}
@media all and (min-width:1025px) and (max-width:1199px) {
.aw-ag-slider {
	padding-top: 0px;
}
.aw-ag-slider .home-page-super-text .slider-form-sec {
	margin-top: 6px;
	padding: 25px 30px;
}
.aw-inner-gray-sec .row .outer_sider_one .one-time .slick-prev {
	left: 370px;
}
.aw-inner-gray-sec .row .outer_sider_one .one-time .slick-next {
}
.home_all_form_top_icon {
  text-align: center;
}
.responsive .flip-slider-img > img {
  width: 97%;
}
.inner-home-content-area .slick-prev.slick-arrow.slick-disabled, .inner-home-content-area .slick-prev.slick-arrow{
  left: 0;
  top: 24%;
}
.aw-home-page-slider .container .slick-next, .inner-home-content-area .slick-next.slick-arrow.slick-disabled{
  right: 9px;
}
.inner_home_thum_sec.inner_home_thum_sec1{
  min-height: 230px;
}
.pprice_info > span{
  font-size: 9px !important;
}
.inner_home_thum_sec2 {
  min-height: 246px;
}
.ptitle_info {
  font-size: 11px;
}
.inner-gray-sec .slick-prev.slick-arrow.slick-disabled, .inner-gray-sec .slick-prev.slick-arrow{
  right: 62px;
  left:auto;
}
.pro_thumnail_outer_sec{
	margin-top:10px;
}
.inner_home_thum_sec1 > .col-lg-6:first-child{
	display:none;
}
.inner_home_thum_sec.inner_home_thum_sec1 {
  margin-left: -6px;
  margin-right: -6px;
}

}
 @media all and (min-width:992px) and (max-width: 1024px) {
.aw-ag-slider .home-page-super-text .slider-form-sec {
	margin-top: 9px;
	padding: 25px 30px;
}
.aw-responsive .aw-container {
	width: 94%;
}
.home_all_form_top_icon {
  text-align: center;
}
.aw-home-page-slider .container .slick-prev {
  left: 0 !important;
  top: 25%;
}
.inner-home-content-area .slick-next.slick-arrow.slick-disabled, .inner-home-content-area .slick-next.slick-arrow {
  right: 7px !important;
  top: 25%;
}
.pprice_info strong {
  font-size: 14px !important;
}
.inner-gray-sec .slick-prev.slick-arrow.slick-disabled, .inner-gray-sec .slick-prev.slick-arrow{
  right: 62px;
  left:auto;
}
.pro_thumnail_outer_sec{
	margin-top:10px;
}
.inner_home_thum_sec1 > .col-lg-6:first-child{
	display:none;
}
.inner_home_thum_sec.inner_home_thum_sec1 {
  margin-left: -6px;
  margin-right: -6px;
}
}
@media all and (min-width:901px) and (max-width: 991px){
.aw-responsive .aw-container {
	width: 100%;
}
.aw-ag-slider {
	padding-top: 0px;
}
.aw-ag-slider .home-page-super-text .slider-form-sec {
	margin-top: 10px;
	padding: 9px 30px;
}
.aw-responsive .aw-container .navbar-header {
	width: 100%;
	text-align: center;
}
.aw-responsive .aw-container .navbar-header a {
	display: inline-block;
	float: none;
}
.aw-responsive .aw-container #navbar {
	background: rgb(229, 230, 231) none repeat scroll 0 0;
	display: inline-block !important;
	margin-top: 20px;
	width: 100%;
	text-align: center !important;
}
.aw-responsive .aw-container #navbar ul {
	display: inline-block !important;
	float: none !important;
}
.aw-inner-gray-sec .row .outer_sider_one .one-time .slick-prev {
	left: 260px;
}
.aw-inner-gray-sec .row .outer_sider_one .one-time .slick-next {
}
.navbar{
	background:none !important;
}
.aw-ag-slider .container{
	width:auto;
	padding:0px 30px;
}
.aw-home-page-slider .container{
	width:auto;
	padding:0px 30px;
}
.gray_slider_outer .container{
	width:auto;
	padding:0px 30px;
}
.footer-sec1 .container{
	width:auto;
	padding:0px 30px;
}
.home_footer_links .container{
	width:auto;
	padding:0px 30px;
}
.footer-sec2 .container{
	width:auto;
	padding:0px 30px;
}
.aw-home-page-slider .container .slick-prev {
  left: 0 !important;
  top: 28%;
}
.inner-home-content-area .slick-next.slick-arrow.slick-disabled, .inner-home-content-area .slick-next.slick-arrow {
  right: 7px !important;
  top: 28%;
}
.aw-inner-gray-sec .row .outer_sider_one .one-time .slick-prev {
  left: 370px;
}
.home_all_form_top_icon{
  text-align: center;
}
.pprice_info strong {
  font-size: 14px !important;
}
.aw-inner-gray-sec .row .outer_sider_one .one-time .slick-prev {
  left: 347px;
}
.inner-gray-sec .slick-prev.slick-arrow.slick-disabled, .inner-gray-sec .slick-prev.slick-arrow{
  right: 62px;
  left:auto;
}
.pro_thumnail_outer_sec{
	margin-top:10px;
}
.inner_home_thum_sec1 > .col-lg-6:first-child{
	display:none;
}
.inner_home_thum_sec.inner_home_thum_sec1 {
  margin-left: -6px;
  margin-right: -6px;
}
}
@media all and (min-width:913px) and (max-width: 933px){
.aw-inner-gray-sec .row .outer_sider_one .one-time .slick-prev {
  left: 340px;
}
}
@media all and (min-width:800px) and (max-width: 912px){
.aw-inner-gray-sec .row .outer_sider_one .one-time .slick-prev {
  left: auto;
  right: 60px;
}
}
@media all and (min-width:769px) and (max-width: 900px) {
.aw-responsive .aw-container {
	width: 100%;
}
.aw-responsive .aw-container .navbar-header {
	background: rgb(226, 227, 228) none repeat scroll 0 0;
	padding-top: 25px;
}
.navbar, .navbar-header{
	background:none !important;
}
.home_all_form_top_icon {
  text-align: center;
}
.aw-ag-slider .container{
	width:auto;
	padding:0px 30px;
}
.aw-home-page-slider .container{
	width:auto;
	padding:0px 30px;
}
.gray_slider_outer .container{
	width:auto;
	padding:0px 30px;
}
.footer-sec1 .container{
	width:auto;
	padding:0px 30px;
}
.home_footer_links .container{
	width:auto;
	padding:0px 30px;
}
.footer-sec2 .container{
	width:auto;
	padding:0px 30px;
}
.aw-home-page-slider .container .slick-prev {
  left: 0;
}
.aw-home-page-slider .container .slick-next {
  right: 7px;
}
.inner-gray-sec .slick-prev.slick-arrow, .inner-gray-sec .slick-prev.slick-arrow.slick-disabled {
  left: auto;
  right:60px;
}
.col-lg-6.col-sm-6.col-xs-12.ptitle_info {
  float: left;
  width: 50%;
}
.inner-gray-sec .slick-prev.slick-arrow.slick-disabled, .inner-gray-sec .slick-prev.slick-arrow{
  right: 62px;
  left:auto;
}
.pro_thumnail_outer_sec{
	margin-top:10px;
}
.inner_home_thum_sec1 > .col-lg-6:first-child, .inner_home_thum_sec1 > .col-lg-6:nth-child(2){
	display:none;
}
.inner_home_thum_sec.inner_home_thum_sec1 {
  margin-left: -6px;
  margin-right: -6px;
}
.inner_home_thum_sec .col-sm-4 {
  width: 50%;
}
.thum_img.thumbnail > img {
  height: auto;
}
}
@media all (max-width: 768px) {
.aw-responsive .aw-container {
	width: 100%;
}
.aw-responsive .aw-container .navbar-header {
	background: rgb(226, 227, 228) none repeat scroll 0 0;
	padding-top: 25px;
}
.aw-nav-header .aw-container #navbar {
	display: inline-block !important;
	float: none !important;
	overflow: hidden !important;
	width: 100% !important;
	text-align: center;
}
.aw-responsive .aw-container #navbar ul {
	float: none !important;
	display: inline-block;
}
#navbar{
	border:none !important;
}
.home-slider-sec {
  background: #7d9dca none repeat scroll 0 0;
}
.form-group--combobox input {
  width: calc(98.9% - 34px);
}
.home_all_form_top_icon{
	text-align:center;
}
.home_all_form_top_icon img {
  height: auto;
  width: auto;
}
.inner_home_thum_sec1 > .col-lg-6:first-child, .inner_home_thum_sec1 > .col-lg-6:nth-child(2) {
  display: block;
}
.inner_home_thum_sec .col-sm-4 {
  width: 100%;
}
}
@media all and (min-width:641px) and (max-width: 767px) {
.aw-responsive .aw-container #navbar ul {
	padding-bottom: 20px;
}
#navbar{
	border:none !important;
}
.home-slider-sec {
  background: #7d9dca none repeat scroll 0 0;
}
.form-group--combobox input {
  width: calc(98.9% - 34px);
}
.home_all_form_top_icon{
	text-align:center;
}
.home_all_form_top_icon img {
  height: auto;
  width: auto;
}
.aw-home-page-slider .container .slick-prev {
  left: 0;
}
.aw-home-page-slider .container .slick-next {
  right: 9px;
}
.slider-form-sec .row{
	margin-top:0px !important;
}
.home_all_form_top_icon{
  text-align: center;
}
.home-slider-sec {
  background: #7d9dca none repeat scroll 0 0;
}
.ptitle_info{
	float:left;
	width:50%;
}
.pprice_info{
	float:left;
	width:50%;
}
.inner-gray-sec .slick-prev.slick-arrow, .inner-gray-sec .slick-prev.slick-arrow.slick-disabled {
  left: auto;
  right:60px;
}

.inner-gray-sec .slick-prev.slick-arrow.slick-disabled, .inner-gray-sec .slick-prev.slick-arrow{
  right: 62px;
  left:auto;
}
.pro_thumnail_outer_sec{
	margin-top:10px;
}
.inner_home_thum_sec1 > .col-lg-6:first-child, .inner_home_thum_sec1 > .col-lg-6:nth-child(2){
	display:block;
}
.inner_home_thum_sec.inner_home_thum_sec1 {
  margin-left: -6px;
  margin-right: -6px;
}
.inner_home_thum_sec .col-sm-4 {
  width: 100%;
}
.thum_img.thumbnail > img {
  height: auto;
}

}
@media all and (min-width:481px) and (max-width: 640px) {
.aw-responsive .navbar-header .navbar-toggle {
	right: 20%;
}
.aw-ag-slider .home-page-super-text div:last-child {
	margin-top: 50px;
}
.aw-inner-gray-sec .row .outer_sider_one .one-time .slick-prev {
	left: 80%;
}
.aw-responsive .aw-container #navbar ul {
	padding-bottom: 20px;
}
.gender-sec {
	padding-top: 20px;
	padding-bottom: 10px;
}
.reset-pass {
	margin-bottom: 0;
	padding-top: 20px;
}
.aw-ag-slider .home-page-super-text div:first-child .slider-form-sec .row .row {
	margin-top: 10px;
}
.slider-form-sec .row{
	margin-top:0px !important;
}
.home_all_form_top_icon{
  text-align: center;
}
.home-slider-sec {
  background: #7d9dca none repeat scroll 0 0;
}
.aw-home-page-slider .container .slick-next, .inner-home-content-area .slick-next.slick-arrow.slick-disabled {
  right: 11px;
}
.inner-home-content-area .slick-prev.slick-arrow.slick-disabled, .inner-home-content-area .slick-prev.slick-arrow {
  left: 0;
}
.ptitle_info{
	float:left !important;
	width:50% !important;
	margin-bottom:0 !important;
}
.pprice_info{
	float:left !important;
	width:50% !important;
	margin-bottom:0px !important;
}
.inner_home_thum_sec .col-lg-6.col-sm-6.col-xs-12 {
  float: none;
  width: 100%;
  margin-bottom: 20px;
}
.inner-gray-sec .slick-prev.slick-arrow, .inner-gray-sec .slick-prev.slick-arrow.slick-disabled {
  left: auto !important;
  right:60px !important;
}
.inner-gray-sec .slick-prev.slick-arrow.slick-disabled, .inner-gray-sec .slick-prev.slick-arrow{
  right: 62px;
  left:auto;
}
.pro_thumnail_outer_sec{
	margin-top:10px;
}
.inner_home_thum_sec1 > .col-lg-6:first-child, .inner_home_thum_sec1 > .col-lg-6:nth-child(2){
	display:block;
}
.inner_home_thum_sec.inner_home_thum_sec1 {
  margin-left: -6px;
  margin-right: -6px;
}
.inner_home_thum_sec .col-sm-4 {
  width: 100%;
}
.thum_img.thumbnail > img {
  height: auto;
}
}
@media all and (max-width:480px){
.inner-home-content-area .slick-prev.slick-arrow {
  left: 5px !important;
  z-index: 9999 !important;
}	
.inner-home-content-area .slick-next.slick-arrow.slick-disabled, .aw-home-page-slider .container .slick-next{
  right: 4px;
  z-index: 9999 !important;
}
.fs-price {
  text-align: center;
}
.inner-gray-sec .slick-prev.slick-arrow, .inner-gray-sec .slick-prev.slick-arrow.slick-disabled {
  left: auto !important;
  right:60px !important;
}
}
@media all and (min-width:360px) and (max-width:480px) {
.aw-responsive {
	background: rgb(226, 227, 228) none repeat scroll 0 0 !important;
}
.aw-responsive .navbar-header .navbar-toggle {
	right: 11%;
}
.aw-ag-slider .home-page-super-text div:first-child .slider-form-sec .row .row {
	margin: 0 auto;
	width: 100%;
}
.aw-responsive .aw-container #navbar ul {
	padding-bottom: 20px;
}
#navbar{
	border:none !important;
}
.home_all_form_top_icon{
  text-align: center;
}
.home-slider-sec {
  background: #7d9dca none repeat scroll 0 0;
}
.inner-home-content-area .slick-prev.slick-arrow {
  left: 9px !important;
  top: 31% !important;
  z-index: 9999 !important;
}
.inner-home-content-area .slick-next.slick-arrow.slick-disabled, .aw-home-page-slider .container .slick-next {
  right: 9px;
  z-index: 9999 !important;
  top: 31% !important;
}
.inner-gray-sec .slick-prev.slick-arrow, .inner-gray-sec .slick-prev.slick-arrow.slick-disabled {
  left: auto !important;
  right:60px !important;
}
.inner-gray-sec .slick-prev.slick-arrow.slick-disabled, .inner-gray-sec .slick-prev.slick-arrow{
  right: 62px;
  left:auto;
}
.pro_thumnail_outer_sec{
	margin-top:10px;
}
.inner_home_thum_sec1 > .col-lg-6:first-child, .inner_home_thum_sec1 > .col-lg-6:nth-child(2){
	display:block;
}
.inner_home_thum_sec.inner_home_thum_sec1 {
  margin-left: -6px;
  margin-right: -6px;
}
.inner_home_thum_sec .col-sm-4 {
  width: 100%;
}
.thum_img.thumbnail > img {
  height: auto;
}
}
@media all and (min-width:320px) and (max-width:359px) {
.home-slider-sec {
  background: #7d9dca none repeat scroll 0 0;
}	
.aw-responsive {
	background: rgb(226, 227, 228) none repeat scroll 0 0 !important;
}
.aw-responsive .navbar-header .navbar-toggle {
	right: 11%;
}
.aw-ag-slider .home-page-super-text div:first-child .slider-form-sec .row .row {
	margin: 0 auto;
	width: 100%;
}
.aw-responsive .aw-container #navbar ul {
	padding-bottom: 20px;
}
#navbar{
	border:none !important;
}
.inner-home-content-area .slick-prev.slick-arrow {
  left: 7px !important;
  z-index: 9999 !important;
  top: 28% !important;
}
.inner-home-content-area .slick-next.slick-arrow.slick-disabled, .aw-home-page-slider .container .slick-next {
  right: 6px;
  top: 28% !important;
  z-index: 9999 !important;
}
.big_thumnail .ptitle_info {
  font-size: 17px;
  text-align: left;
}
.big_thumnail .pprice_info strong {
  font-size: 22px;
}
.inner-gray-sec .slick-prev.slick-arrow.slick-disabled, .inner-gray-sec .slick-prev.slick-arrow{
  right: 62px;
  left:auto;
}
.pro_thumnail_outer_sec{
	margin-top:10px;
}
.inner_home_thum_sec1 > .col-lg-6:first-child, .inner_home_thum_sec1 > .col-lg-6:nth-child(2){
	display:block;
}
.inner_home_thum_sec.inner_home_thum_sec1 {
  margin-left: -6px;
  margin-right: -6px;
}
.inner_home_thum_sec .col-sm-4 {
  width: 100%;
}
.thum_img.thumbnail > img {
  height: auto;
}
}
