
.outer_sider_one .one-time.slick-initialized.slick-slider {
	margin-bottom: 0;
}
.aw-slider {
	margin-top: 5px;
}

.aw-slider {
	background: rgba(0, 0, 0, 0) url("images/bg-slider.png") no-repeat scroll center center;
}
.aw-slider .container .col-sm-12 .single-item {
	margin-bottom: 0px;
}
.aw-slider .container .col-sm-12 .single-item .slick-prev {
	background: rgba(0, 0, 0, 0) url("images/left-arrow-slider.jpg") no-repeat scroll 0 0 / 100% auto;
	height: 50px;
	left: 150px;
	top: 126px;
	width: 50px;
	z-index: 9999;
}
.aw-slider .container .col-sm-12 .single-item .slick-next {
	background: rgba(0, 0, 0, 0) url("images/right-arrow-slider.jpg") no-repeat scroll 0 0 / 100% auto;
	height: 50px;
	right: 150px;
	top: 126px;
	width: 50px;
	z-index: 9999;
}
.aw-slider .container .col-sm-12 .single-item .slider-img img {
	margin: 0 auto;
	width: 50%;
}

.om-offer-photos
{
	height:468px;
	position:relative;
	overflow:hidden;
	text-align:center
}
.om-offer-photos.no-photos
{
	height:auto
}
.om-offer-photos figure
{
	margin:0;
	line-height:0
}
.om-offer-photos figure a
{
	display:block
}
.om-offer-photos .zoom-photo
{
	position:absolute;
	right:18px;
	bottom:6px;
	color:#fff;
	font-size:16px;
	display:inline-block;
	vertical-align:middle;
	z-index:10;
	display:none
}
.om-offer-photos .zoom-photo.icon-zoom:before
{
	font-size:74px;
	line-height:0
}
.om-offer-photos .photo-item
{
	height:438px;
	margin:auto;
	display:block;
	position:relative
}
.om-offer-photos .photo-item .photo-handler
{
	height:438px;
	display:inline-block
}
.om-offer-photos .photo-item img
{
	height:100%
}
.om-offer-photos .photo-item .zoom-overlay
{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background:rgba(0,0,0,0.1);
	display:none
}
.om-offer-photos-thumbs
{
	display:inline-block;
	font-size:0
}
.om-offer-photos-thumbs .thumb-item
{
	display:inline-block;
	opacity:1;
	position:relative
}
.om-offer-photos-thumbs .thumb-item img
{
	height:60px
}
.om-offer-photos-thumbs .thumb-item .thumb
{
	padding:4px;
	margin:0;
	display:inline-block;
	position:relative;
	vertical-align:middle;
	cursor:pointer
}
.om-offer-photos-thumbs .thumb-item .thumb:not(.selected):hover:after
{
	position:absolute;
	background:#00a0e6;
	left:4px;
	right:4px;
	top:5px;
	bottom:5px;
	cursor:pointer;
	content:'';
	opacity:0.2
}
.om-offer-photos-thumbs .thumb-item .thumb.selected
{
	border-radius:1px;
	background:#00a0e6
}
.om-offer-photos-thumbs .thumb-item .thumb.selected:before
{
	width:0;
	height:0;
	border-style:solid;
	border-width:0 5px 5px 5px;
	border-color:transparent transparent #00a0e6 transparent;
	content:'';
	position:absolute;
	top:-5px;
	left:50%;
	margin-left:-5px
}
.om-offer-photos-thumbs .thumb-item .thumb.selected img
{
	box-shadow:0 0 3px #0a1949;
	opacity:0.8
}

.slick-slider
{
	position:relative;
	display:block;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-ms-touch-action:pan-y;
	touch-action:pan-y;
	-webkit-tap-highlight-color:transparent
}

.slick-slider .slick-track
{
	-webkit-transform:translate3d(0, 0, 0);
	-moz-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	-o-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0)
}

.slick-slider .navigator
{
	width:54px;
	height:54px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-37px 0 0 -420px;
	background:rgb(255,102,0);
	box-shadow:-2px 0 5px -3px rgba(0,0,0,0.75) inset;
	text-align:center;
	padding:0;
	border:none;
	outline:none;
	cursor:pointer
}
.slick-slider .navigator:hover
{
	opacity:0.8
}
.slick-slider .navigator>span
{
	margin-top:5px;
	display:inline-block;
	font-size:30px;
	color:#9e9e9e
}
.slick-slider .slick-next
{
	margin-left:0;
	margin-right:-420px;
	left:auto;
	right:50%;
	box-shadow:2px 0 5px -3px rgba(0,0,0,0.75) inset
}

.slick-list
{
	position:relative;
	overflow:hidden;
	display:block;
	margin:0;
	padding:0
}
.slick-list:focus
{
	outline:none
}
.slick-list.dragging
{
	cursor:pointer;
	cursor:hand
}

.slick-track
{
	position:relative;
	left:0;
	top:0;
	display:block
}
.slick-track:before,.slick-track:after
{
	content:"";
	display:table
}
.slick-track:after
{
	clear:both
}

.overgallery .layerbutton.bigImagePrev
{
	left:0
}
.overgallery .layerbutton.bigImageNext
{
	right:0
}

.slick-slide
{
	float:left;
	height:100%;
	min-height:1px;
	display:none
}

.om-offer-photos .slick-dots .slick-active button
{
	width:7px;
	height:7px;
	background:#ff6600
}


@media (min-width: 1200px)
{
	.om-offer-title h1
	{
		padding-right:140px
	}
	.om-offer-sidebar
	{
		padding-top:28px;
		position:relative
	}
	.om-offer-sidebar-actions
	{
		width:299px
	}
	.om-offer-sidebar-actions.fixed
	{
		position:fixed
	}
	.om-offer-sidebar-actions.absolute
	{
		position:absolute
	}
	.om-offer-photos .slick-list
	{
		margin-top:3px
	}
	.om-offer-photos .slick-slide
	{
		opacity:0.2
	}
	.om-offer-photos .slick-center
	{
		box-shadow:0 2px 5px -1px rgba(0,0,0,0.75);
		opacity:1;
		transition:opacity 1s ease-in-out;
		z-index:10
	}
	.om-offer-photos .slick-center .zoom-overlay
	{
		cursor:pointer
	}
	.om-offer-photos .slick-center:hover .zoom-overlay
	{
		display:block
	}
	.om-offer-photos .slick-center:hover .zoom-photo
	{
		display:block
	}
	.om-offer-photos .slick-center:hover .om-offer-photos-thumbs
	{
		display:block
	}
	.om-contact-box-below
	{
		background:#fff
	}
	.om-contact-box-below .inner
	{
		padding:33px 28px
	}
	.om-quickcontact
	{
		padding-left:50px
	}

}


.om-offer-top
{
	background:#1f1f1f;
	position:relative
}
.om-offer-title
{
	padding:16px 0 18px;
	color:#fff
}
.om-offer-title h1
{
	position:relative;
	font-size:24px;
	font-weight:normal;
	color:#fff
}
.om-offer-title small
{
	padding:3px 8px;
	margin-bottom:1px;
	display:inline-block;
	font-size:12px;
	color:#979797
}
.om-offer-title .om-header-price
{
	position:absolute;
	right:0;
	top:-5px;
	font-size:24px;
	line-height:1em;
	text-align:right;
	color:#fff;
	font-weight:bold
}
.om-offer-title .om-header-price sup
{
	top:-0.5em;
	font-size:56%
}
.om-offer-title .om-header-price .comperia-box
{
	display:block;
	font-size:12px;
	font-weight:normal
}
.om-offer-title .om-header-price .comperia-box a
{
	color:#929292
}
.om-offer-title .om-header-price .comperia-box a span
{
	margin-left:20px;
	float:right;
	font-weight:bold;
	color:#929292
}
.om-offer-title .om-header-price .comperia-box a span:hover
{
	text-decoration:underline
}
.om-offer-title .om-header-price .comperia-box strong
{
	font-weight:bold
}
.om-offer-title .om-special-label
{
	right:0;
	bottom:0
}
.om-special-label
{
	display:inline-block;
	position:absolute;
	right:0;
	bottom:0
}
.om-special-label.audi-select
{
	width:158px;
	height:42px;
	background:#fff url(../img/label_audi-select.png) center center no-repeat
}
.om-offer-content article
{
	margin-bottom:70px
}


.icon-arrow_left:before
{
	content:"\3d"
}
.icon-arrow_right:before
{
	content:"\3e"
}

input, textarea, select, option, optgroup, button
{
	font-size: 1em;
	vertical-align:middle;
	margin:0px;

}

.button
{
	display:-moz-inline-box;
	display:inline-block;
	zoom:1;
	white-space:nowrap;

}
.button:hover, .tdnone
{
	text-decoration:none !important;

}

button
{
	border:none;
	background:none;
	transition:all 0.3s ease
}

.om-offer-photos .slick-dots
{
	padding-top:2px;
	box-shadow:inset 0 2px 6px -2px rgba(0,0,0,0.75)
}
.om-offer-photos .slick-dots li
{
	width:7px;
	margin-left:4px;
	display:inline-block;
	text-align:center
}
.om-offer-photos .slick-dots li button
{
	width:5px;
	height:5px;
	padding:0;
	border:none;
	border-radius:5px;
	display:inline-block;
	overflow:hidden;
	text-indent:100%;
	white-space:nowrap;
	background:rgba(234,241,247,0.4);
	transition:background 0.5s ease
}
.om-offer-photos .slick-dots li:first-child
{
	margin-left:0
}
.om-offer-photos .slick-dots .slick-active button
{
	width:7px;
	height:7px;
	background:#ff6600;
}

@font-face
{
	font-family:'otomoto';
	src:url("/assets/font/2ffdc2467317c41e16a65272f5eb75fc10.eot?vl6ra7");
	src:url("/assets/font/2ffdc2467317c41e16a65272f5eb75fc10.eot?#iefixvl6ra7") format("embedded-opentype"),url("/assets/font/2f6a7aeb24417925389e68fe1f3f570540.ttf?vl6ra7") format("truetype"),url("/assets/font/2f635a023dbec8c6b477a702e19d953c68.woff?vl6ra7") format("woff");
	font-weight:normal;
	font-style:normal
}

[class^="icon-"]:before,[class*=" icon-"]:before
{
	font-family:'otomoto';
	speak:none;
	font-style:normal;
	font-weight:normal;
	font-variant:normal;
	text-transform:none;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}