
 <div class="container_auth col-xxl-5" id="container">
   <%= stylesheet_link_tag    '1816221023myCasLoginView', 'data-turbolinks-track' => true %>

   <div class="row">
     <div class="col-xs-4 col-s-4 col-m-4 col-l-6 col-xl-6 col-xxl-12">
       <div id="loginTabsHeader">
         <a class="">
           <div id="loginTab" class="leftTab activeLoginTab" style="text-align: center; width: 100%"><h3>Напомнить ваш пароль</h3></div>
         </a>
       </div>
       <div class="panel">
         <div class="panel-default panel-formbox" id="tmpl-form">
           <div id="loginContainer" class="panel-body boxContainer" style="display: block;">
             <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

                 <div class="row">
                   <div class="whole-width-column form-input">
                     <label for="login-username">
                       E-Mail </label>
                     <%= f.email_field :email, autofocus: true , class: "form-control"%>
                   </div>
                 </div>
                 <br>
                 <div class="row button-row">
                   <div class="whole-width-column submit-form">
                     <button class="btn btn-orange btn-xl" type="submit">
                       Отправить пароль на почту
                     </button>
                   </div>
                 </div>
                 <div class="row"></div>
                 <div class="last row">
                   <input type="hidden" name="lt" value="LT-104128-xob5nwN9bamGV9GeM6SbxbyGpSfKDu">
                   <input type="hidden" id="fp" name="fp" value="7ad401d721b9fa9ecaa6cd3bbd82514b">
                   <input type="hidden" name="execution" value="e1s1">
                   <input type="hidden" name="_eventId" value="submit">
                 </div>
             <% end %>
             <form method="post" role="form" action="/mycas/login?requestLogin=true&amp;service=http%3A%2F%2Fsuchen.mobile.de%2Ffahrzeuge%2Fmymobile%2FsearchOverview.html%3Flang%3Dde">

             </form>
           </div>

         </div>
       </div>
     </div>
     <div class="col-xs-4 col-s-4 col-m-5 col-l-6 col-xl-6 col-xxl-12" style="text-align: center">
       <div class="panel-small-infobox" style="margin-top: 0px">

         <h3>Ваши преимущества с avto.om</h3>
         <ul>
           <li>Автомобили, доступные во всем мире</li>
           <li>Поиск дилера</li>
           <li>Всегда актульная информация</li>
         </ul>

       </div>
     </div>
   </div>
 </div>
 <script typr="text/javascrript">

     function openReg() {
         document.getElementById('loginContainer').style.display = 'none';
         document.getElementById('loginTab').className = 'leftTab inactiveLoginTab';
         document.getElementById('registrationContainer').style.display = 'block';
         document.getElementById('registrationTab').className = 'rightTab activeLoginTab';
     }
     function openLogin() {
         document.getElementById('loginContainer').style.display = 'block';
         document.getElementById('loginTab').className = 'leftTab activeLoginTab';
         document.getElementById('registrationContainer').style.display = 'none';
         document.getElementById('registrationTab').className = 'rightTab inactiveLoginTab';
     }

 </script>