<p id="notice"><%= notice %></p>

<h1>Listing Properties</h1>

<div class="table-responsive">

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.name %></td>
        <td><%= property.type_value %></td>
        <td><%= link_to 'Show', property , class: "btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_property_path(property) ,class: "btn btn-default"  %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path , class: "btn btn-primary", style: "color: white"%>

</div>