<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>Type value:</strong>
  <%= @property.type_value %>
</p>


<div class="input-group">
  <h1> Локализации </h1>

  <% Lang.all.each do |language|  %>

      <h5><%= language.long_name %></h5>
      <input type="text" class="form-control" id="<%= language.short_name + @property.name %>" />

  <%  end  %>


</div>



<div class="input-group">
  <% case @property.type_value %>
  <% when 1 %>

  <% when 2 %>

      <input type="checkbox" class="form-control" value=""> Значение

  <% when 3 %>

      <p><b>Каким браузером в основном пользуетесь:</b><Br>
        <input type="radio" class="form-control" name="browser" value="ie"> Internet Explorer<Br>
        <input type="radio" class="form-control" name="browser" value="opera"> Opera<Br>
        <input type="radio" class="form-control" name="browser" value="firefox"> Firefox<Br>
      </p>

  <% when 4 %>

      <select class="form-control">
        <option>Mustard</option>
        <option>Ketchup</option>
        <option>Relish</option>
      </select>

  <% else  %>

  <% end  %>

</div>

<br>
<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
