<table class="table table-striped">

    <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#createModel">
        Добавить сервис
    </button>
    </a>

    <div class="modal fade" id="createModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">New filter</h4>
                </div>
                <div class="modal-body" ng-init="new_service">

                    <div class="input-group" >
                        <input type="text" ng-model="new_service.name" class="form-control"  placeholder="Name">

                        <textarea type="text" ng-model="new_service.desc" class="form-control" aria-label="..."></textarea>

                        <input type="number" ng-model="new_service.price" class="form-control" placeholder="Price">

                        <input type="number" ng-model="new_service.count" class="form-control" placeholder="Количество объявлений">

                        <select ng-model="new_service.currency" class="form-control" ng-init=" new_service.currency = '1'">
                            <option ng-repeat="option in [{name: 'RUB', value: 1}, {name: 'EUR', value: 2}, {name: 'USD', value: 3}]" value="{{ option.value }}">
                                {{ option.name }}
                            </option>
                        </select>
                        <select ng-model="new_service.duration" class="form-control" ng-init=" new_service.duration = '302400'">
                            <option ng-repeat="option in [{ name: 'Без ограничений' , value: '1000000000000000000' },{name: ' Две недели', value: 302400}, {name: 'Месяц', value: 602800}, {name: 'Два месяца', value: 1209600}]" value="{{ option.value }}">
                                {{ option.name }}
                            </option>
                        </select>

                        <select ng-model="new_service.s_type" class="form-control" ng-init=" new_service.s_type = '1'">
                            <option ng-repeat="option in [{name: 'Пакет объявлений', value: 1}, {name: 'Позиция объявления', value: 2}]" value="{{ option.value }}">
                                {{ option.name }}
                            </option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="_create()" >Create service</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myUpdateLabel">Update filter</h4>
                </div>
                <div class="modal-body" ng-init="update_service">

                    <div class="input-group" >
                        <input type="text" ng-model="update_service.name" class="form-control"  placeholder="Name">

                        <textarea type="text" ng-model="update_service.desc" class="form-control" aria-label="..."></textarea>

                        <input type="number" ng-model="update_service.price" class="form-control" placeholder="Price">

                        <input type="number" ng-model="update_service.count" class="form-control" placeholder="Количество объявлений">

                        <select ng-model="update_service.currency" class="form-control" >
                            <option ng-repeat="option in [{name: 'RUB', value: 1}, {name: 'EUR', value: 2}, {name: 'USD', value: 3}]" value="{{ option.value }}">
                                {{ option.name }}
                            </option>
                        </select>
                        <select ng-model="update_service.duration" class="form-control" >
                            <option ng-repeat="option in [{name: ' Две недели', value: 302400}, {name: 'Месяц', value: 602800}, {name: 'Два месяца', value: 1209600}]" value="{{ option.value }}">
                                {{ option.name }}
                            </option>
                        </select>

                        <select ng-model="update_service.s_type" class="form-control" >
                            <option ng-repeat="option in [{name: 'Пакет объявлений', value: 1}, {name: 'Позиция объявления', value: 2}]" value="{{ option.value }}">
                                {{ option.name }}
                            </option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="_edit()" >Create filter</button>
                </div>
            </div>
        </div>
    </div>


    <thead>
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Count adverts</th>
        <th>Duration</th>
        <th>Type</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Remove</th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="service in services">
        <td>{{ service.id }}</td>
        <td>{{ service.name }}</td>
        <td>{{ service.desc }}</td>
        <td>{{ service.price }}  {{ service.currency | currencyService }}</td>
        <td>{{ service.count }}</td>
        <td>{{ service.duration }}</td>
        <td>{{ service.s_type }}</td>
        <td><button type="button" class="btn btn-info btn-sm"   ng-click="show(service)">Show</button></td>
        <td><button type="button" class="btn btn-warning btn-sm" ng-click="update_model(service)">Edit</button></td>
        <td><button type="button" class="btn btn-danger btn-sm" ng-click="_remove(service)">Remove</button></td>

    </tr>
    </tbody>
</table>