 <div class="bg_white" ng-click="hideLogin()">
     <img src="/assets/712.GIF" ng-if="!pageLoaded">
 </div>
 <div class="auth col-md-4" ng-show="pageLoaded">
    <div class="container_auth" id="container" ng-init="user">


        <div class="row">
            <div>
                <div id="loginTabsHeader">
                    <a ng-click="showReg = false">
                        <div id="loginTab" class="leftTab" ng-class="{inactiveLoginTab:showReg , activeLoginTab:!showReg}"><h3>Войти</h3></div>
                    </a>
                    <a ng-click="showReg = true">
                        <div id="registrationTab" class="rightTab" ng-class="{inactiveLoginTab:!showReg , activeLoginTab:showReg}">
                            <h3>Регистрация</h3></div>
                    </a>
                </div>
                <div class="panel">
                    <div class="panel-default panel-formbox" id="tmpl-form">
                        <div ng-show="!showReg" class="panel-body boxContainer login_box">

                        </div>
                        <div  ng-show="showReg" class="panel-body boxContainer registration_box">

                        </div>
                    </div>
                </div>
            </div><!--
    <div class="col-xs-4 col-s-4 col-m-5 col-l-6 col-xl-6 col-xxl-12" style="text-align: center">
      <div class="panel-small-infobox" style="margin-top: 0px">

      <h3>Ваши преимущества с avto.om</h3>
        <ul>
          <li>Автомобили, доступные во всем мире</li>
          <li>Поиск дилера</li>
          <li>Всегда актульная информация</li>
        </ul>

    </div>
    </div>-->
        </div>
    </div>

</div>