<div class="panel  delt-field panel-default col-sm-12" style="background: none; padding: 0; padding-left: 15px">

    <div class="panel-heading">
        <h3 class="panel-title">
        </h3>
    </div>

    <div class="">

        <div class="row ">
            <div class="col-sm-3 text-center">

                <div id="advancedDropzone" class="droppable-area">
                    Drop Files Here
                </div>

            </div>
            <div class="col-sm-9">

                <table class="table table-bordered table-striped" style="font-size: 12px" id="example-dropzone-filetable">
                    <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th>Name</th>
                        <th>Progress</th>
                        <th>Size</th>
                        <th>Action</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <td colspan="6">Files list will appear here</td></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>

</div>