

<page-title ng-if="layoutOptions.pageTitles" title="Языки" description="Здесь вы можете добавить новый язык"></page-title>



<a href="" ng-click="openModal('newModel')" class="btn btn-primary btn-single btn-sm" ng-init="new_language">Добавить фильтр</a>

<script type="text/ng-template" id="newModel">
    <div class="modal-header">
        <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Basic Modal</h4>
    </div>

    <div class="modal-body">
        <div class="input-group">
            <input type="text" ng-model="new_filter.name" class="form-control"  placeholder="Filter name">

            <select ng-model="update_filter.valid_data" ng-init="update_filter.valid_data = 'false'" class="form-control"  placeholder="Filter valid">
                <option value="true">Валидировать</option>
                <option value="false"> Не валидировать</option>
            </select>

            <select ng-model="new_filter.type_value" ng-options="option.name for option in type_options" class="form-control">
            </select>


        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="currentModal.close();">Закрыть</button>
        <button type="button" class="btn btn-info" ng-click="_create();">Создать</button>
    </div>
</script>

<script type="text/ng-template" id="updateModel">
    <div class="modal-header">
        <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Basic Modal</h4>
    </div>

    <div class="modal-body">
        <div class="input-group">

            <input type="hidden" ng-model="update_filter.id" class="form-control"  placeholder="Filter name">

            <input type="text" ng-model="update_filter.name" class="form-control"  placeholder="Filter name">

            <select ng-model="update_filter.valid_data" class="form-control"  placeholder="Filter valid">
                <option value="true">Валидировать</option>
                <option value="false"> Не валидировать</option>
            </select>

            <select ng-model="update_filter.type_value" ng-options="option.name for option in type_options" class="form-control">
            </select>

        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="currentModal.close();">Закрыть</button>
        <button type="button" class="btn btn-info" ng-click="_edit();">Сохранить</button>
    </div>
</script>


<!-- Basic Setup -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Список имеющихся языков</h3>

        <div class="panel-options">
            <a href="" data-toggle="panel">
                <span class="collapse-icon">&ndash;</span>
                <span class="expand-icon">+</span>
            </a>
            <a href="" data-toggle="remove">
                &times;
            </a>
        </div>
    </div>
    <div class="panel-body">

        <index-table></index-table>
        <!-- Removing search and results count filter -->

    </div>
</div>





<!-- Custom column filtering -->


<!-- Table exporting -->
