

<page-title ng-if="layoutOptions.pageTitles" title="Языки" description="Здесь вы можете добавить новый язык"></page-title>



<a href="" ng-click="openModal('newModel')" class="btn btn-primary btn-single btn-sm" ng-init="new_language">Добавить фильтр</a>
<a href="" ng-click="openLang()" class="btn btn-primary btn-single btn-sm">Добавить значение для языка</a>

<script type="text/ng-template" id="newModel">
    <div class="modal-header">
        <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Basic Modal</h4>
    </div>

    <div class="modal-body">
        <div class="input-group">
            <div class="input-group">
                <input type="text" ng-model="new_value.title" class="form-control"  placeholder="Title">
                <input type="text" ng-model="new_value.color" class="form-control"  placeholder="Color">
                <input type="file" id="file_val" ng-model="new_value.image" class="form-control"  placeholder="Image">
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="currentModal.close();">Закрыть</button>
        <button type="button" class="btn btn-info" ng-click="_create();">Создать</button>
    </div>
</script>

<script type="text/ng-template" id="updateModel">
    <div class="modal-header">
        <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Basic Modal</h4>
    </div>

    <div class="modal-body">
        <div class="input-group">

            <input type="hidden" ng-model="update_value.id" class="form-control"  placeholder="Filter name">

            <input type="text" ng-model="update_value.title" class="form-control"  placeholder="Title">
            <input type="text" ng-model="update_value.color" class="form-control"  placeholder="Color">
            <input type="file" id="file_val_update" ng-model="new_value.image" class="form-control"  placeholder="Image">

        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="currentModal.close();">Закрыть</button>
        <button type="button" class="btn btn-info" ng-click="_edit();">Сохранить</button>
    </div>
</script>


<!-- Basic Setup -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Список имеющихся языков</h3>

        <div class="panel-options">
            <a href="" data-toggle="panel">
                <span class="collapse-icon">&ndash;</span>
                <span class="expand-icon">+</span>
            </a>
            <a href="" data-toggle="remove">
                &times;
            </a>
        </div>
    </div>
    <div class="panel-body">

        <index-table></index-table>
        <!-- Removing search and results count filter -->

    </div>
</div>





<!-- Custom column filtering -->


<!-- Table exporting -->
