
<div class="footer-icon-sec home_footer_links">
    <div class="container">
        <div class="row col-sm-12 col-aw-12">
            <div class="footerr-content col-sm-3 col-aw-3" ng-repeat="mark in marks"> <a href="" data-ng-click="opentSearch(mark)"><strong>{{ mark.name }}</strong> <span class="footer-digits">({{ mark.count }})</span></a> </div>
        </div>
    </div>
</div>
<div class="footer-sec1 home-footer2">
    <div class="container">
        <p>Willkommen bei Deutschlands größtem Fahrzeugmarkt. Hier warten täglich über 1,4 Millionen Fahrzeuge auf dich. Neuwagen, Gebrauchtwagen, Kleinwagen, Oldtimer, luxuriöse Limousinen oder günstige Autos. Egal, welches Automobil Du suchst, auf mobile.de wirst Du fündig. mobile.de ist Deutschlands größte Autobörse, auf der Du einfach ein Auto kaufen oder verkaufen kannst. Mit einer Suche und nur ein paar Klicks kannst Du dir einen Überblick über den gesamten Automarkt verschaffen. Du kannst einfach vergleichen und entscheiden, Neuwagen- oder Gebrauchtwagen-Verkäufer kontaktieren und auch bequem selbst ein Auto gebraucht verkaufen. Kostenlos und ohne Stress. Möchtest Du gebrauchte Autos kaufen? Bei mobile.de findest Du passende Angebote von professionellen Autohändlern und Privatverkäufern. Wenn Du willst sogar mit Gebrauchtwagen-Garantie. </p>
        <p> Oder suchst Du eher nach Neuwagen? Dann findest Du hier, was Du suchst. Fabrikneue Fahrzeuge, EU-Neuwagen, Autos mit Tageszulassung und perfekt gepflegte Jahreswagen aus Deutschland und der gesamten EU. Alle übersichtlich in einer großen Auswahl zusammengefasst. Und findest Du mal nicht gleich das passende Fahrzeug, dann stell Dir deinen Neuwagen einfach selbst zusammen oder lass Dir passende Angebote von Händlern in deiner Nähe schicken. Also kurz gesagt: Bei mobile.de findest du ganz einfach das Auto, das zu Deinem Leben passt.</p>
    </div>
</div>
<div class="footer-sec2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="copy-write-text"> Copyright 2015 Zheleska.com | Все права защищены <br />
                    Дизайн и разработка<a href="#"> WebWorkEuropa</a> </div>
            </div>
            <div class="col-lg-6">
                <div class="footer-links"> <a href="#">Карта сайта</a> <a href="#">расширеный поиск</a> <a href="#">контакты</a> </div>
            </div>
        </div>
    </div>
</div>