

<page-title ng-if="layoutOptions.pageTitles" title="Группы" description="Здесь вы можете добавить новую группу"></page-title>



<a href="" ng-click="openModal('newModel')" class="btn btn-primary btn-single btn-sm" ng-init="new_language">Добавить группу</a>

<script type="text/ng-template" id="newModel">
    <div class="modal-header">
        <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Basic Modal</h4>
    </div>

    <div class="modal-body">
        <div class="input-group">
            <select ng-model="new_filter"  class="form-control">
                <option ng-repeat="option in type_options" value="{{ option.id }}">
                    {{ option.name }}
                </option>
            </select>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="currentModal.close();">Закрыть</button>
        <button type="button" class="btn btn-info" ng-click="addFilter(new_filter);">Создать</button>
    </div>
</script>



<!-- Basic Setup -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Список имеющихся групп</h3>

        <div class="panel-options">
            <a href="" data-toggle="panel">
                <span class="collapse-icon">&ndash;</span>
                <span class="expand-icon">+</span>
            </a>
            <a href="" data-toggle="remove">
                &times;
            </a>
        </div>
    </div>
    <div class="panel-body">

        <index-table></index-table>
        <!-- Removing search and results count filter -->

    </div>
</div>





<!-- Custom column filtering -->


<!-- Table exporting -->
