

<div class="top-hader-sec aw-home-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="flag-sec header-logo2"> <a ><img src="/images/header-logo2.png" alt=""></a> </div>
            </div>
            <div class="col-sm-9 aw-header-liniks">
                <div class="top-links pull-right">
                    <ul>
                        <li><a href="" data-ng-click="goToPage(pages.conditions.href)">{{ pages.conditions.title }}</a></li>
                        <li><a href="" data-ng-click="goToPage(pages.about.href)">{{ pages.about.title }}</a></li>
                        <li><a href="" data-ng-click="goToPage(pages.privacy.href)">{{ pages.privacy.title }}</a></li>

                        <li ng-if="login" class="header-links"><a rel="nofollow" data-method="delete"  ng-click="logout()" style="margin-right: 5px">
                            Выйти
                        </a><a href=""ng-click="goToPath('/profileMain')">Мой кабинет<span class="header-icon user-icon"><img src="/images/user-icon.png"></span></a></li>
                        <li ng-if="!login" class="header-links"><a ng-click="showLogin()">Войти</a> <a style="text-decoration: none; margin: 0 5px"> или </a> <a ng-click="showRegistration()">Заргистрироваться</span></a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>

<!----------Top Header End----------->

<nav class="navbar navbar-inverse aw-nav-menu aw-nav-header aw-responsive">
    <div class="container aw-container">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="#/">AUTO</a> </div>
        <div class="navbar-collapse collapse navigate_new" id="navbar" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav aw-nav pull-right">
                <li ng-class="{active: currentPath('/')}"><a href="/">главная</a></li>
                <li ng-class="{active: currentPath('/page/'+pages.info.href)}"><a href="" data-ng-click="goToPage(pages.info.href)">{{ pages.info.title }}</a></li>
                <li ng-class="{active: currentPath('/page/'+pages.dealers.href)}"><a href="" data-ng-click="goToPage(pages.dealers.href)">{{ pages.dealers.title }}</a></li>
                <li><a href="" > Мой поиск </a></li>
                <li ng-class="{active: currentPath('/page/'+pages.help.href)}"><a href="" data-ng-click="goToPage(pages.help.href)">{{ pages.help.title }}</a></li>
                <li>
                    <div class="nav-yellow-btn aw_yellow_btn index2-aw-buton"> <a href="/newPoster">+ Добавить объявление</a> </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<auth style="position: absolute; left: 0; top: 0;"></auth>
