<table class="table table-bordered table-striped" id="11111111">




    <thead>
    <tr>
        <th ng-repeat="val in values"> {{ val.value }} </th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="item in items">
        <td ng-repeat="(key, value) in item"> <div ng-if="key != 'image'" >{{ value }} </div> <img ng-if="key == 'image'" ng-src="{{ value }}"/> </td>

        <td>
            <button ng-if="actions.show == 'true'" type="button" class="btn btn-info btn-sm"   ng-click="show(item)">Show</button>
            <button  ng-if="actions.edit == 'true'" type="button" class="btn btn-warning btn-sm"  ng-click="showEdit(item)">Edit</button>
            <button  ng-if="actions.remove == 'true'" type="button" class="btn btn-danger btn-sm"   ng-click="_remove(item)">Remove</button>
        </td>

    </tr>
    </tbody>
</table>


