

<page-title ng-if="layoutOptions.pageTitles" title="Новое объявление" description="Здесь вы можете добавить свое объявление"></page-title>


<h3 class="text-gray">
    Новое обявление <br />
    <small class="text-muted">Заполните поля отмеченные '*' они обязательны для заполнения</small>
</h3>

<br />




<style>
    .filter-bg {
        width: 100%;
    }
</style>

<div class="content-area pg_2_content">
    <div class="filert-sec">
    </div>
    <div class="container">
        <div class="outer_row pg_2">
            <div class="col-sm-9">
                <div class="left-page-form">
                    <form>

                        <div class="form-group ui-combobox" id="mark" style="right: 0px;"><a class="ui-combobox-toggle gicon-menu-toggle"></a>
                            <div class="form-group--combobox col-sm-12">
                                <p>{{ filter.mark.title }}* :</p>

                                <div class="delt-field col-sm-12">
                                    <select class="form-control form-control--combobox slct2"    ng-model="filter.mark._selected" ng-change="change(filter.mark)">
                                        <option value="0">Все</option>
                                        <option  ng-repeat="prop_val in  filter.mark.prop_vals" value="{{ prop_val }}" >
                                            {{ prop_val.title }}
                                        </option>
                                    </select>
                                    <select class="form-control form-control--combobox slct2" ng-if="filter.mark.selected_sub"  ng-model="filter.mark.__selected" ng-change="_change(filter.mark)" >
                                        <option value="0" ng-if="filter.mark.selected_sub">Все</option>
                                        <option  ng-repeat="prop_val in filter.mark.selected_sub.prop_vals" value="{{ prop_val.id }}">
                                            {{ prop_val.title }}
                                        </option>
                                    </select>

                                </div>
                                <div class="delt-field col-sm-6">
                                    <p>{{ filter.year.title }}* :</p>
                                    <input type="number" name="" placeholder="{{ filter.year.title }}" ng-model="filter.year.selected" ng-change="setInput(filter.year)">
                                </div>
                                <div class="delt-field col-sm-6">
                                    <p>{{ filter.mileage.title }}* :</p>
                                    <input type="number" name="" placeholder="{{ filter.mileage.title }}" ng-model="filter.mileage.selected" ng-change="setInput(filter.mileage)">
                                </div>

                                <div class="delt-field col-sm-12">
                                    <p>Дополнительное описание* :</p>
                                    <textarea type="text" name="" placeholder="Описание" ng-model="advert.desc"></textarea>
                                </div>


                                <div class="  col-sm-12">
                                    <p>Список загруженых изображений</p>

                                    <div class="panel  delt-field panel-default col-sm-12" style="background: none; padding: 0; padding-left: 15px">

                                        <div class="panel-heading">
                                            <h3 class="panel-title">
                                            </h3>
                                        </div>

                                        <div class="">

                                            <div class="row ">
                                                <div class="col-sm-3 text-center">

                                                    <div id="advancedDropzone" class="droppable-area">
                                                        Drop Files Here
                                                    </div>

                                                </div>
                                                <div class="col-sm-9">

                                                    <table class="table table-bordered table-striped" style="font-size: 12px" id="example-dropzone-filetable">
                                                        <thead>
                                                        <tr>
                                                            <th class="text-center">#</th>
                                                            <th>Name</th>
                                                            <th>Progress</th>
                                                            <th>Size</th>
                                                            <th>Action</th>
                                                            <th>Status</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <td colspan="6">Files list will appear here</td></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group--combobox col-sm-12">
                                <div class=" col-sm-3" ng-init="filter.fuel_type.selected = filter.fuel_type.prop_vals[0].id">

                                    <span>{{ filter.fuel_type.title }}*:</span>
                                    <select class="form-control form-control--combobox slct2" ng-model="filter.fuel_type.selected" ng-change="setSelect(filter.guel_type)">
                                        <option ng-repeat="prop_val in  filter.fuel_type.prop_vals" value="{{ prop_val.id }}"> {{ prop_val.title }}</option>
                                    </select>

                                </div>
                                <div class="delt-field col-sm-3">

                                    <span>{{ filter.volume.title }}:*</span>
                                    <input type="number" name="" placeholder="{{ filter.volume.title }}" ng-model="filter.volume.selected" ng-change="setInput(filter.volume)">


                                </div>
                                <div class="delt-field col-sm-3">

                                    <span>{{ filter.power.title }}:*</span>
                                    <input type="number" name="" placeholder="{{ filter.power.title }}" ng-model="filter.power.selected" ng-change="setInput(filter.power)">


                                </div>
                                <div class="  col-sm-3" ng-init="filter.fuel_type.selected = filter.fuel_type.prop_vals[0].id">

                                    <span>{{ filter.transmission.title }}*:</span>
                                    <select class="form-control form-control--combobox slct2" ng-model="filter.transmission.selected" >
                                        <option ng-repeat="prop_val in  filter.transmission.prop_vals" value="{{ prop_val.id }}"> {{ prop_val.title }}</option>
                                    </select>

                                </div>
                                <div class="  col-sm-3" ng-init="filter.fuel_type.selected = filter.fuel_type.prop_vals[0].id">

                                    <span>{{ filter.drive.title }}*:</span>
                                    <select class="form-control form-control--combobox slct2" ng-model="filter.drive.selected" ng-change="setSelect(filter.drive)">
                                        <option ng-repeat="prop_val in  filter.drive.prop_vals" value="{{ prop_val.id }}"> {{ prop_val.title }}</option>
                                    </select>

                                </div>
                            </div>






                            <div class="form-group--combobox col-sm-12">
                                <div   class=" noleftpadding col-sm-6 ">
                                    <div class="ycheck1 form-control form-control-toggle">
                                        <input type="checkbox" id="check-{{filter.partic_filter.id}}" ng-model="filter.partic_filter.selected">

                                        <label for="check-{{filter.partic_filter.id}}">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            <p>{{ filter.partic_filter.title }}</p>
                                        </label>
                                    </div>
                                </div>
                                <div  class=" noleftpadding col-sm-6">
                                    <div class="ycheck1 form-control form-control-toggle ">
                                        <input type="checkbox" id="check-{{filter.accident.id}}" ng-model="filter.accident.selected">

                                        <label for="check-{{filter.accident.id}}">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            <p>{{ filter.accident.title }}</p>
                                        </label>
                                    </div>
                                </div>
                            </div>



                            <div class="form-group--combobox col-sm-12">
                                <p>Кузов</p>

                                <div class=" col-sm-3">

                                    <span>{{ filter.body.title }}*:</span>
                                    <select class="form-control form-control--combobox slct2" ng-model="filter.body.selected" ng-change="setSelect(filter.body)">
                                        <option ng-repeat="prop_val in  filter.body.prop_vals" value="{{ prop_val.id }}"> {{ prop_val.title }}</option>
                                    </select>

                                </div>
                                <div class=" col-sm-3">

                                    <span>{{ filter.number_of_doors.title }}*:</span>
                                    <select class="form-control form-control--combobox slct2" ng-model="filter.number_of_doors.selected" ng-change="setSelect(filter.number_of_doors)">
                                        <option ng-repeat="prop_val in  filter.number_of_doors.prop_vals" value="{{ prop_val.id }}"> {{ prop_val.title }}</option>
                                    </select>

                                </div>
                                <div class="delt-field col-sm-3">

                                    <span>{{ filter.number_of_seats.title }}:*</span>
                                    <input type="number" name="" placeholder="{{ filter.number_of_seats.title }}" ng-model="filter.number_of_seats.selected" ng-change="setInput(filter.number_of_seats)">


                                </div>
                                <div class="  col-sm-3">

                                    <span>{{ filter.color.title }}*:</span>
                                    <select class="form-control form-control--combobox slct2" ng-model="filter.color.selected" ng-change="setSelect(filter.color)">
                                        <option ng-repeat="prop_val in  filter.color.prop_vals" value="{{ prop_val.id }}"> {{ prop_val.title }}</option>
                                    </select>

                                </div>
                            </div>

                            <div class="form-group--combobox col-sm-12">
                                <div   class=" noleftpadding col-sm-6 ">
                                    <div class="ycheck1 form-control form-control-toggle">
                                        <input type="checkbox" id="check-{{filter.metalik.id}}" ng-model="filter.metalik.selected" ng-change="setCheckboxSingl(filter.metalik)">

                                        <label for="check-{{filter.metalik.id}}">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            <p>{{ filter.metalik.title }}</p>
                                        </label>
                                    </div>
                                </div>
                                <div  class=" noleftpadding col-sm-6">
                                    <div class="ycheck1 form-control form-control-toggle ">
                                        <input type="checkbox" id="check-{{filter.pearl.id}}" ng-model="filter.pearl.selected" ng-change="setCheckboxSingl(filter.pearl)">

                                        <label for="check-{{filter.pearl.id}}">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            <p>{{ filter.pearl.title }}</p>
                                        </label>
                                    </div>
                                </div>
                                <div  class=" noleftpadding col-sm-6">
                                    <div class="ycheck1 form-control form-control-toggle ">
                                        <input type="checkbox" id="check-{{filter.unpolished.id}}" ng-model="filter.unpolished.selected" ng-change="setCheckboxSingl(filter.unpolished)">

                                        <label for="check-{{filter.unpolished.id}}">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            <p>{{ filter.unpolished.title }}</p>
                                        </label>
                                    </div>
                                </div>
                                <div  class=" noleftpadding col-sm-6">
                                    <div class="ycheck1 form-control form-control-toggle ">
                                        <input type="checkbox" id="check-{{filter.akryl.id}}" ng-model="filter.akryl.selected" ng-change="setCheckboxSingl(filter.akryl)">

                                        <label for="check-{{filter.akryl.id}}">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            <p>{{ filter.akryl.title }}</p>
                                        </label>
                                    </div>
                                </div>
                                <div  class=" noleftpadding col-sm-12">
                                    <div class="ycheck1 form-control form-control-toggle ">
                                        <input type="checkbox" id="check-{{filter.wheel.id}}" ng-model="filter.wheel.selected" ng-change="setCheckboxSingl(filter.wheel)">

                                        <label for="check-{{filter.wheel.id}}">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            <p>{{ filter.wheel.title }}</p>
                                        </label>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group--combobox col-sm-12">
                                <p>Дополнительные функции и  характеристики</p>

                                <div  class=" noleftpadding col-sm-6" ng-repeat="prop_val in filter.additional.prop_vals">
                                    <div class="ycheck1 form-control form-control-toggle ">
                                        <input type="checkbox" id="check-{{prop_val.id}}" ng-model="prop_val.selected" ng-change="setCheckbox(filter.additional, prop_val)">

                                        <label for="check-{{prop_val.id}}">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            <p>{{ prop_val.title }}</p>
                                        </label>
                                    </div>
                                </div>
                            </div>




                            <div class="form-group--combobox col-sm-12" style="background: #ff6000; color: #ffffff">
                                <p style="color: #ffffff">Цена</p>
                                <div class="delt-field col-sm-3" style="color: #ffffff">

                                    <input style="color: #ffffff; border: 1px solid #ffffff;" type="text" name="" placeholder="Цена" ng-model="advert.price" >
                                </div>
                                <div class="col-sm-3">
                                    <div class="input-group col-sm-5">
                                        <select  class="form-control" ng-model="advert.currency" ng-init="advert.currency = '1'">
                                            <option value="1">RUB</option>
                                            <option value="2">EUR</option>
                                            <option value="3">USD</option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="btn-group pull-right" role="group">
                                <div class="nav-yellow-btn aw_yellow_btn"  ng-click="create('def')"> <a>+ Добавить объявление</a> </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<div style="float:left; display: inline-block">
    <div class="filter-bg">

        <div class="filter-form">
            <div class="filter-form">

                <div class="form-group--combobox"  >



                </div>

                <!--    <label class="input-group" >Описание</label>
                    <div class="row row_desc">
                        <div class="col-lg-12">
                            <div class="input-group" style="width: 100%">

                                <textarea type="text" ng-model="advert.desc" class="form-control" aria-label="..." style="width: 100%; height: 100px;"></textarea>
                            </div>&lt;!&ndash; /input-group &ndash;&gt;
                        </div>&lt;!&ndash; /.col-lg-6 &ndash;&gt;
                    </div>

                    <br>
                    <p class="input-group" >Цена</p>


                    <div class="input-group" style="width: 100%">
                        <input class="form-control" ng-model="advert.price" type="number" name="" placeholder="Цена">
                    </div>

                    <label class="input-group" >Валюта</label>
                    <div class="input-group">
                        <select  class="form-control" ng-model="advert.currency" ng-init="advert.currency = '1'">
                            <option value="1">RUB</option>
                            <option value="2">EUR</option>
                            <option value="3">USD</option>
                        </select>
                    </div>
                    <br>



                    <label class="input-group" >Фильтры</label>
                    <div class="filter">


                        <div class="filter-form">
                             <div class="filter-form">



                                <p>{{ filter.title }}</p>

                                <div class="form-group&#45;&#45;combobox"  ng-if="filter.type_value == 4"  ng-init="filter.selected = 0">
                                    <select class="form-control form-control&#45;&#45;combobox slct2" ng-model="filter.selected" ng-change="change(filter)">
                                        <option value="0" ng-if="filter.selected_sub">Любая</option>
                                        <option  ng-repeat="prop_val in filter.prop_vals" value="{{ prop_val.id }}">

                                            {{ prop_val.title }}

                                        </option>
                                    </select>
                                </div>



                                <div class="yellow-checkbox-form" ng-if="filter.type_value == 3">
                                    <div class="col-lg-6 nopadding" ng-repeat="prop_val in filter.prop_vals"  >
                                        <div class="ycheck1 ycheck22">
                                            <input type="radio" name="filter_{{ filter.name }}" id="{{ prop_val.id }}" ng-click="setRadio(filter, prop_val)">
                                            <label for="{{ prop_val.id }}">{{ prop_val.title }}</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group&#45;&#45;combobox" ng-if="filter.type_value == 13">
                                    <auto-mark></auto-mark>
                                </div>

                                <div class="delt-field" ng-if="filter.type_value == 1">
                                    <input  ng-model="filter.selected" type="text" name="" placeholder="{{ filter.name }}">
                                </div>

                                <div class="input-group" style="width: 100%" ng-if="filter.type_value == 12">
                                    <input class="form-control" ng-model="filter.selected" type="date" name="" placeholder="{{ filter.name }}">
                                </div>

                                <div class="bluetooth-check" ng-if="filter.type_value == 2">
                                    <ul>
                                        <li ng-repeat="prop_val in filter.prop_vals" >
                                            <input type="checkbox" name="" id="{{ prop_val.id }}"  ng-click="setCheckbox(filter, prop_val)" ng-init="filter.selected = []">
                                            <label for="{{ prop_val.id }}">{{ prop_val.title }}</label>
                                        </li>
                                    </ul>
                                </div>
                                <br>
                                <div class="multi-color-check " ng-if="filter.type_value == 5">
                                    <p>Выберите цвет</p>
                                    <div ng-repeat="prop_val in filter.prop_vals" value="{{ prop_val.id }}" class="color_box color_box_{{ prop_val.color }}" style="float: left; margin: 13px; margin-top: 5px">
                                        <input type="checkbox"  ng-click="setCheckbox(filter, prop_val)" name="filter_{{ filter.name }}" class="form-checkbox" id="{{ prop_val.id }}" />
                                        <label  for="{{ prop_val.id }}"></label>
                                    </div>

                                </div>


                            </div>
            -->
                <!--  <div class="filter-form" ng-repeat="group in groups">
                      <div class="filter-form" ng-repeat="filter in group.filters">

                          <div ng-if="filter.type_value == 10">

                              <div class="form-select">
                                  <select ng-model="filter.__selected" ng-change="change(filter)">
                                      <option  ng-repeat="prop_val in filter.prop_vals" value="{{ prop_val }}" >

                                          {{ prop_val.title }}

                                      </option>
                                  </select>
                              </div>
                              <div class="form-select">
                                  <select ng-model="filter.selected" >
                                      <option  ng-repeat="prop_val in filter.selected_sub.prop_vals" value="{{ prop_val.id }}">

                                          {{ prop_val.title }}

                                      </option>
                                  </select>
                              </div>

                          </div>

                          <div class="form-select" ng-if="filter.type_value == 4">

                              <select ng-model="filter.selected" ng-change="change(filter)">
                                  <option  ng-repeat="prop_val in filter.prop_vals" value="{{ prop_val.id }}">

                                      {{ prop_val.title }}

                                  </option>
                              </select>


                          </div>
                          <div class="form-radio-group" ng-if="filter.type_value == 3">

                              <div ng-repeat="prop_val in filter.prop_vals" value="{{ prop_val.id }}" class="form-radio ">
                                  <input type="radio"  ng-click="setCheckbox(filter, prop_val)" name="filter_{{ filter.name }}" class="form-checkbox" id="{{ prop_val.id }}" />
                                  <label  for="{{ prop_val.id }}">{{ prop_val.title }}</label>
                              </div>



                          </div>
                          <div ng-if="filter.type_value == 2">

                              <div class="form-radio" ng-repeat="prop_val in filter.prop_vals" >
                                  <input type="checkbox"  ng-click="setCheckbox(filter, prop_val)" class="form-checkbox" id="{{ prop_val.id }}" />
                                  <label for="{{ prop_val.id }}">{{ prop_val.title }}</label>
                              </div>


                          </div>
                          <div ng-if="filter.type_value == 1">




                              <div class="input-group">
                                  <input id="pac-input" type="text" class="form-control" style="height: 40px" placeholder="{{ filter.name }} ">
                              <span class="input-group-btn">
                              <img ng-src="/assets/input_bg.png"></span>
                              </div>&lt;!&ndash; /input-group &ndash;&gt;

                          </div>

                      </div>

                      <div class="line"></div>
                  </div>
           -->   </div>
        </div>
    </div>
</div>


</div>





