<a href="" ng-click="openModal('newModal')" class="btn btn-primary btn-single btn-sm">Добавить обявление</a>

<script type="text/ng-template" id="newModal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Basic Modal</h4>
    </div>

    <div class="modal-body">
        <div class="input-group">
            <div ng-repeat="val in values">
                <input ng-if="val.type == 'input'" type="text" ng-model="new_language.short_name" class="form-control"  placeholder="Сокращение">
                <input ng-if="val.type == 'number'" type="number" ng-model="new_language.short_name" class="form-control"  placeholder="Сокращение">
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="currentModal.close();">Close</button>
        <button type="button" class="btn btn-info" ng-click="currentModal.dismiss();">Save changes</button>
    </div>
</script>