

<form role="form" method="post">


    <ul class="nav nav-tabs">
        <li role="presentation" ng-repeat="lang in langs" ng-click="setLang(lang)"><a>{{ lang.long_name }}</a></li>
    </ul>
    <br>
    <div class="form-group">
        <p>{{ current_lang.long_name }}</p>
        <input type="text" class="form-control" ng-model="current_lang.title" placeholder="Название страницы">
        <br>
        <textarea name="editor1" id="editor1" rows="10" cols="80" ng-model="current_lang.text"></textarea>
        <script type="text/javascript">

            CKEDITOR.replace( 'editor1' );

        </script>
    </div>

    <button type="button" class="btn btn-success" data-dismiss="modal" data-ng-click="updatePage()">Сохранить</button>


</form>

