

<page-title ng-if="layoutOptions.pageTitles" title="Страницы" description="Здесь вы можете редактировать страницы"></page-title>

<!-- Basic Setup -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Список имеющихся языков</h3>

        <div class="panel-options">
            <a href="" data-toggle="panel">
                <span class="collapse-icon">&ndash;</span>
                <span class="expand-icon">+</span>
            </a>
            <a href="" data-toggle="remove">
                &times;
            </a>
        </div>
    </div>
    <div class="panel-body">

        <index-table></index-table>
        <!-- Removing search and results count filter -->

    </div>
</div>





<!-- Custom column filtering -->


<!-- Table exporting -->
