

<page-title ng-if="layoutOptions.pageTitles" title="Объявления" description="Здесь вы можете добавить новое объявление"></page-title>

<a href="#app/adverts/new" ng-if="items.length == 0"><button type="button" class="btn btn-primary">
    Добавить объявление
</button>
    <div ng-if="items.length > 0">
    <a href="#adverts/new" ng-if="poster_count> 0"><button type="button" class="btn btn-primary">
        Добавить объявление
    </button>
        <a href="#adverts/new" ng-if="poster_count <= 0" style="text-decoration: none">Что бы снять ограничение
            добавьте пакет

        </a>
    </div>
<!-- Basic Setup -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Список объявлений</h3>

        <div class="panel-options">
            <a href="" data-toggle="panel">
                <span class="collapse-icon">&ndash;</span>
                <span class="expand-icon">+</span>
            </a>
            <a href="" data-toggle="remove">
                &times;
            </a>
        </div>
    </div>
    <div class="panel-body">

        <index-table></index-table>
        <!-- Removing search and results count filter -->

    </div>
</div>




<!-- Custom column filtering -->


<!-- Table exporting -->
