

<page-title ng-if="layoutOptions.pageTitles" title="Языки" description="Здесь вы можете добавить новый язык"></page-title>





<!-- Basic Setup -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Список значений фильра для языков</h3>

        <div class="panel-options">
            <a href="" data-toggle="panel">
                <span class="collapse-icon">&ndash;</span>
                <span class="expand-icon">+</span>
            </a>
            <a href="" data-toggle="remove">
                &times;
            </a>
        </div>
    </div>
    <div class="panel-body">

        <lang-value></lang-value>
        <!-- Removing search and results count filter -->
        <button type="button" class="btn btn-info btn-sm right" style="float: right"  ng-click="save()">Сохранить</button>

    </div>
</div>





<!-- Custom column filtering -->


<!-- Table exporting -->
