<!--<div class="flip-slider-img gray_slides" style="  width: 550px; height: 504px">
    <img src="{{ advert.images[0].image }}">
    <div class="thum_product_info big_thumnail" style="">
        <div class="col-lg-6 col-sm-6 col-xs-12 ptitle_info">{{ advert.mark.base }} <br>
            {{advert.mark.last}}</div>
        <div class="col-lg-6 col-sm-6 col-xs-12 pprice_info"> <strong>{{ advert.price}} €</strong> <span>{{ advert.mileage }}</span> </div>
    </div>
</div>-->
<div class="slider-post-1">
    <div class="flip-slider-img gray_slides"> <img ng-src="{{ advert.big_image }}" alt="">
        <div class="thum_product_info big_thumnail">
            <div class="col-lg-6 col-sm-6 col-xs-12 ptitle_info">{{ advert.mark }} <br>
                {{advert.model}}</div>
            <div class="col-lg-6 col-sm-6 col-xs-12 pprice_info"> <strong>{{ advert.price}} €</strong> <span>{{ advert.mileage }}</span> </div>
        </div>
    </div>
</div>