<div class="flip-slider-img" style="height: 187px; overflow: hidden"> <img ng-src="{{ advert.thumb }}" alt=""> </div>
<div class="fs-title">{{ advert.mark }} {{ advert.model }}</div>
<div class="fs-title_km">{{advert.power}} л.с., {{ advert.mileage }}</div>
<div class="fs-date">EZ: {{ advert.created_at}}</div>
<div class="fs-price">{{advert.price}}€</div>
