<table class="table table-bordered table-striped" id="11111111">




    <thead>
    <tr>
        <th ng-repeat="val in values"> {{ val.value }} </th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="item in items">
        <td ng-repeat="(key, value) in item">{{ value }}</td>

        <td><button type="button" class="btn btn-warning btn-sm"  ng-click="showEdit(item)">Edit</button>
            <button type="button" class="btn btn-danger btn-sm"   ng-click="_remove(item)">Remove</button></td>

    </tr>
    </tbody>
</table>

<script type="text/ng-template" id="modal-1">
    <div class="modal-header">
        <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Basic Modal</h4>
    </div>

    <div class="modal-body">
        Hello I am a Modal!
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="currentModal.close();">Close</button>
        <button type="button" class="btn btn-info" ng-click="currentModal.dismiss();">Save changes</button>
    </div>
</script>

<a href="" ng-click="openModal('modal-1')" class="btn btn-primary btn-single btn-sm">Show Me</a>
