<div class="col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li ng-repeat="path in paths track by $index" ng-class="{active:currentActive(path.href)}" ng-click="opentPath(path.href)"><a href="">{{path.title}}</a></li>
    </ul>
</div>