<select  class="form-control form-control--combobox slct2" ng-class="{'no_valid' : filtr.valid}" ng-model="filter.country.__selected" ng-change="_change(filter.country)" >
    <option value="0" ng-if="filter.country.selected_sub">Все</option>
    <option  ng-repeat="prop_val in filter.country.selected_sub.prop_vals" value="{{ prop_val.id }}">
        {{ prop_val.title }}
    </option>
</select>