<select  class="form-control form-control--combobox slct2"  ng-class="{'no_valid' : filtr.valid}"  ng-model="filter.country._selected" ng-change="change(filter.country)">
    <option value="0">Выберите страну</option>
    <option  ng-repeat="prop_val in  filter.country.prop_vals" value="{{ prop_val }}" >
        {{ prop_val.title }}
    </option>

</select>