<%= form_for @prop_val, html: { multipart: true }  do |f| %>
  <% if @prop_val.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prop_val.errors.count, "error") %> prohibited this prop_val from being saved:</h2>

      <ul>
      <% @prop_val.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :img %><br>
    <%= f.text_field :img %>
  </div>
    <div>
      <%= f.file_field :image %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
