<p id="notice"><%= notice %></p>

<h1>Listing Prop Vals</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Color</th>
      <th>Img</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prop_vals.each do |prop_val| %>
      <tr>
        <td><%= prop_val.title %></td>
        <td><%= prop_val.color %></td>
        <td><%= prop_val.img %></td>
        <td><%= link_to 'Show', prop_val %></td>
        <td><%= link_to 'Edit', edit_prop_val_path(prop_val) %></td>
        <td><%= link_to 'Destroy', prop_val, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prop val', new_prop_val_path %>
