<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @prop_val.title %>
</p>

<p>
  <strong>Color:</strong>
  <%= @prop_val.color %>
</p>

<p>
  <strong>Img:</strong>
  <%= @prop_val.img %>
</p>
<%= image_tag @prop_val.image.url %>
<%= image_tag @prop_val.image.url(:medium) %>
<%= image_tag @prop_val.image.url(:thumb) %>

<%= link_to 'Edit', edit_prop_val_path(@prop_val) %> |
<%= link_to 'Back', prop_vals_path %>
