<table class="table table-striped">

    <thead>
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Count adverts</th>
        <th>Duration</th>
        <th>Add</th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="service in services" ng-if="service.s_type == 1">
        <td>{{ service.id }}</td>
        <td>{{ service.name }}</td>
        <td>{{ service.desc }}</td>
        <td>{{ service.price }}  {{ service.currency | currencyService }}</td>
        <td>{{ service.count }}</td>
        <td>{{ service.duration | durationFilter }}</td>
        <td ng-if="service.on == 0"><button type="button" class="btn btn-success btn-sm" ng-click="_add(service)">Add</button></td>
        <td ng-if="service.on == 1">Подключен</td>

    </tr>
    </tbody>
</table>