<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @advert.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @advert.description %>
</p>

<p>
  <% @advert.prop_vals.each do |prop_val| %>


  <%= prop_val.title %>
  <% end %>
</p>

<% @advert.images.each do |image| %>
    <%= image %>
    <%= image_tag image.image.url %>
    <%= image_tag image.image.url(:medium) %>
    <%= image_tag image.image.url(:thumb) %>
<% end %>

<%= link_to 'Edit', edit_advert_path(@advert) %> |
<%= link_to 'Back', adverts_path %>

