
              <%= form_for resource, as: resource_name, url: session_path(resource_name) , :html => { :class =>"login-form fade-in-effect ng-pristine ng-valid in" }  do |f| %>

                  <div class="row">
                    <div class="whole-width-column form-input">
                      <label for="login-username">
                        E-Mail </label>
                      <%= f.email_field :email, autofocus: true, :class => "form-control" , autocomplete: "off"%>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="whole-width-column form-input">
                      <label for="login-password">
                        Passwort </label>
                      <%= f.password_field :password, autocomplete: "off", :class => "form-control"%>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="whole-width-column">
                      <div  class="noleftpadding col-sm-6 form-control-toggle-checkbox">
                        <div class=" form-control-toggle">
                          <input type="checkbox" id="check-1">
                          <label for="check-1">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            <p>Запомнить</p>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row button-row">
                    <div class="whole-width-column submit-form">
                      <button class="btn btn-orange btn-xl" type="submit" id="login_button">
                        Войти
                      </button>
                    </div>
                  </div>
                  <div class="row"></div>
                  <div class="last row">
                    <div class="whole-width-column pw-reset-link">
                      <a href=""><%= link_to "Напомнить пароль?", new_password_path(resource_name) %></a>
                    </div>
                    <input type="hidden" name="lt" value="LT-104128-xob5nwN9bamGV9GeM6SbxbyGpSfKDu">
                    <input type="hidden" id="fp" name="fp" value="7ad401d721b9fa9ecaa6cd3bbd82514b">
                    <input type="hidden" name="execution" value="e1s1">
                    <input type="hidden" name="_eventId" value="submit">
                  </div>
              <% end %>
