<table class="table table-striped">

    <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#createModel">
        Add new group
    </button>

    <div class="modal fade" id="createModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">New language</h4>
                </div>
                <div class="modal-body" ng-init="new_group">

                    <div class="input-group">
                        <input type="text" ng-model="new_group.name" class="form-control"  placeholder="Name">

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="_create()" >Create filter</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myUpdateLabel">Update language</h4>
                </div>
                <div class="modal-body" ng-init="update_group">

                    <div class="input-group">

                        <input type="hidden" ng-model="update_group.id" class="form-control"  placeholder="">

                        <input type="text" ng-model="update_group.name" class="form-control"  placeholder="Name">

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="_edit()" >Create filter</button>
                </div>
            </div>
        </div>
    </div>


    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Remove</th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="group in groups">
        <td>{{ group.id }}</td>
        <td>{{ group.name }}</td>
        <td><button type="button" class="btn btn-info btn-sm"   ng-click="show(group)">Show</button></td>
        <td><button type="button" class="btn btn-warning btn-sm"  ng-click="showEdit(group)">Edit</button></td>
        <td><button type="button" class="btn btn-danger btn-sm"   ng-click="_remove(group)">Remove</button></td>

    </tr>
    </tbody>
</table>