<table class="table table-striped">

    <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#createModel">
        Add new filter
    </button>

    <div class="modal fade" id="createModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">New filter</h4>
                </div>
                <div class="modal-body" ng-init="new_filter">

                    <div class="input-group">

                        <select ng-model="new_filter" ng-options="option.name for option in type_options" class="form-control">
                        </select>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="addFilter()" >Create filter</button>
                </div>
            </div>
        </div>
    </div>


    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>Type Value</th>
         <th>Remove</th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="filter in filters">
        <td>{{ filter.id }}</td>
        <td>{{ filter.name }}</td>
        <td>{{ filter.type_value | filterType }}</td>
         <td><button type="button" class="btn btn-danger btn-sm"   ng-click="_remove(filter)">Remove</button></td>

    </tr>
    </tbody>
</table>