     <div class="col-lg-6 noleftpadding">
        <div class="form-group&#45;&#45;combobox">
            <select class="form-control form-control&#45;&#45;combobox groupslct1">
                <option value="0">0</option>
                <option value="500">от 5000 км.</option>
                <option value="500">от 15000 км.</option>
                <option value="500">от 45000 км.</option>
                <option value="500">от 65000 км.</option>
                <option value="500">от 100000 км.</option>
                <option value="500">от 150000 км.</option>
                <option value="500">от 200000 км.</option>
            </select>
        </div>
    </div>
    <div class="col-lg-6 norightpadding">
        <div class="form-group&#45;&#45;combobox">
            <select class="form-control form-control&#45;&#45;combobox groupslct1">
                <option value="0">0</option>
                <option value="500">до 5000 км.</option>
                <option value="500">до 15000 км.</option>
                <option value="500">до 45000 км.</option>
                <option value="500">до 65000 км.</option>
                <option value="500">до 100000 км.</option>
                <option value="500">до 150000 км.</option>
                <option value="500">до 200000 км.</option>
            </select>
        </div>
    </div>
