<div class="col-lg-6 noleftpadding">
    <div class="form-group&#45;&#45;">
        <input type="date" style="font-size: 12px" class="form-control form-control&#45;&#45;combobox groupslct1">
    </div>
</div>
<div class="col-lg-6 norightpadding" >
    <div class="form-group&#45;&#45;">
        <input type="date" style="font-size: 12px" class="form-control form-control&#45;&#45;combobox groupslct1">
    </div>
</div>
