<select class="form-control form-control--combobox slct2"  ng-model="filter._selected" ng-init="filter._selected = '0'" ng-change="change(filter)">
    <option value="0">{{ filter.title }}</option>
    <option  ng-repeat="prop_val in filter.prop_vals" value="{{ prop_val }}" >
        {{ prop_val.title }}
    </option>
</select>
<select class="form-control form-control--combobox slct2"  ng-model="filter.__selected" ng-change="_change(filter)">
    <option value="0" ng-if="filter.selected_sub">Все</option>
    <option  ng-repeat="prop_val in filter.selected_sub.prop_vals" value="{{ prop_val.id }}">
        {{ prop_val.title }}
    </option>
</select>
