<table class="table table-striped">

    <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#createModel">
        Add new language
    </button>

    <div class="modal fade" id="createModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">New language</h4>
                </div>
                <div class="modal-body" ng-init="new_filter">

                    <div class="input-group">
                        <input type="text" ng-model="new_language.short_name" class="form-control"  placeholder="Сокращение">
                        <input type="text" ng-model="new_language.long_name" class="form-control"  placeholder="Полное название">

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="_create()" >Create filter</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myUpdateLabel">Update language</h4>
                </div>
                <div class="modal-body" ng-init="update_filter">

                    <div class="input-group">

                        <input type="hidden" ng-model="update_filter.id" class="form-control"  placeholder="Filter name">

                        <input type="text" ng-model="update_language.short_name" class="form-control"  placeholder="Filter name">
                        <input type="text" ng-model="update_language.long_name" class="form-control"  placeholder="Filter name">


                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="_edit()" >Create filter</button>
                </div>
            </div>
        </div>
    </div>


    <thead>
    <tr>
        <th>id</th>
        <th>short_name</th>
        <th>long_name</th>
        <th>Edit</th>
        <th>Remove</th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="language in languages">
        <td>{{ language.id }}</td>
        <td>{{ language.short_name }}</td>
        <td>{{ language.long_name }}</td>
        <td><button type="button" class="btn btn-warning btn-sm"  ng-click="showEdit(language)">Edit</button></td>
        <td><button type="button" class="btn btn-danger btn-sm"   ng-click="_remove(language)">Remove</button></td>

    </tr>
    </tbody>
</table>