<table class="table table-bordered table-striped" id="11111111">




    <thead>
    <tr>
        <th>Язык</th>
        <th>Значение</th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="item in items">

        <td> {{ item.lang.long_name }} </td>

        <td>
            <div class="input-group">
                <input class="form-control" type="text" ng-model="item.value" value="">
            </div>
        </td>



    </tr>
    </tbody>
</table>


