<p id="notice"><%= notice %></p>

<h1>Listing Langs</h1>

<table>
  <thead>
    <tr>
      <th>Short name</th>
      <th>Long name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @langs.each do |lang| %>
      <tr>
        <td><%= lang.short_name %></td>
        <td><%= lang.long_name %></td>
        <td><%= link_to 'Show', lang %></td>
        <td><%= link_to 'Edit', edit_lang_path(lang) %></td>
        <td><%= link_to 'Destroy', lang, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lang', new_lang_path %>
