<p id="notice"><%= notice %></p>

<p>
  <strong>Short name:</strong>
  <%= @lang.short_name %>
</p>

<p>
  <strong>Long name:</strong>
  <%= @lang.long_name %>
</p>

<%= link_to 'Edit', edit_lang_path(@lang) %> |
<%= link_to 'Back', langs_path %>
