.auth {
  hr, img, legend {
    border: 0;
  }
  .clearfix:after, .notification .header:after, .row:after {
    clear: both;
  }
  .form-control, input, label {
    width: 100%;
    display: block;
  }
  .btn-base:active, .btn-base:active:focus, .btn-base:focus, a:active, a:focus, a:hover, input {
    outline: 0;
  }
  html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%}
  article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
  }
  audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
  }
  audio:not([controls]) {
    display: none;
    height: 0;
  }
  [hidden], template {
    display: none;
  }
  a {
    background-color: transparent;
  }
  abbr[title] {
    border-bottom: 1px dotted;
  }
  b, optgroup, strong {
    font-weight: 700;
  }
  dfn {
    font-style: italic;
  }
  mark {
    background: #ff0;
    color: #000;
  }
  small {
    font-size: 80%}
  sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sup {
    top: -.5em;
  }
  sub {
    bottom: -.25em;
  }
  img {
    vertical-align: middle;
  }
  svg:not(:root) {
    overflow: hidden;
  }
  figure {
    margin: 1em 40px;
  }
  hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-top: 1px solid #333;
  }
  pre, textarea {
    overflow: auto;
  }
  code, kbd, pre, samp {
    font-size: 1em;
  }
  button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
  }
  button {
    overflow: visible;
  }
  .panel .panel-heading h4, .text-truncate {
    max-width: 100%;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    word-wrap: normal!important;
  }
  button, select {
    text-transform: none;
  }
  button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
  }
  button[disabled], html input[disabled] {
    cursor: default;
  }
  button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
  }
  input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height: auto;
  }
  input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
  input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em;
  }
  body, dl, ol, ul {
    margin: 0;
  }
  dl, legend, ol, td, th, ul {
    padding: 0;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  *, :after, :before {
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: transparent;
  }
  body {
     font-size: 1.4rem;
    line-height: 1.6rem;
    color: #333;
    background-color: #ededed;
  }
  button, input, select, textarea {
     font-size: inherit;
    line-height: inherit;
  }
  .text-l, .text-xl, .text-xxl {
    line-height: 1.1;
  }
  a:focus, a:hover {
    color: #ff6e0d;
    text-decoration: underline;
  }
  .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
  }
  ol, ul {
    list-style-image: none;
    list-style-type: none;
  }
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
     line-height: 1.1;
    color: inherit;
    margin: 0;
    padding: 0;
  }
  .h1, h1 {
    font-size: 3.6rem;
  }
  .h2, h2 {
    font-size: 2.4rem;
  }
  .h3, h3 {
    font-size: 2rem;
  }
  .h4, h4 {
    font-size: 1.6rem;
  }
  .h5, h5 {
    font-size: 1.4rem;
  }
  .h6, h6 {
    font-size: 1.2rem;
  }
  p {
    margin: 0 0 1.2rem;
  }
  .text-xxl {
    font-size: 6rem;
  }
  .text-xl {
    font-size: 4.8rem;
  }
  .text-l {
    font-size: 3rem;
  }
  .text-m {
    font-size: 2.1rem;
  }
  .text-s {
    font-size: 1.3rem;
  }
  .text-xs {
    font-size: 1.2rem;
  }
  .text-xxs {
    font-size: 1.1rem;
  }
  .text-justify {
    text-align: justify;
  }
  .text-nowrap {
    white-space: nowrap;
  }
  .align-v-top {
    vertical-align: top;
  }
  .align-v-sub {
    vertical-align: sub;
  }
  .align-v-super {
    vertical-align: super;
  }
  .align-v-bottom {
    vertical-align: bottom;
  }
  .align-v-middle, .btn, .btn-base {
    vertical-align: middle;
  }
  .text-lowercase {
    text-transform: lowercase;
  }
  .text-uppercase {
    text-transform: uppercase;
  }
  .text-capitalize {
    text-transform: capitalize;
  }
  .text-line-through {
    text-decoration: line-through;
  }
  .text-normal {
     font-weight: 400;
    font-stretch: normal;
  }
  .text-normal-condensed {
    font-weight: 400;
    font-stretch: condensed;
  }
  .text-bold {
    font-weight: 700;
    font-stretch: normal;
  }
  .text-bold-condensed {
    font-weight: 700;
    font-stretch: condensed;
  }
  .text-light {
    font-weight: 300;
    font-stretch: normal;
  }
  .text-light-condensed {
    font-weight: 300;
    font-stretch: condensed;
  }
  input, label, p.error, span.error {
    font-stretch: normal;
  }
  .text-break-word {
    word-break: break-word;
  }
  .text-break-all {
    word-break: break-all;
  }
  .text-orange {
    color: #f60;
  }
  .text-grey-80 {
    color: #333;
  }
  .text-grey-70 {
    color: #4d4d4d;
  }
  .text-grey-60 {
    color: #666;
  }
  .text-grey-50 {
    color: grey;
  }
  .text-grey-40 {
    color: #999;
  }
  .text-grey-30 {
    color: #b2b2b2;
  }
  .text-grey-20 {
    color: #ccc;
  }
  .text-grey-15 {
    color: #d9d9d9;
  }
  .text-grey-10 {
    color: #e6e6e6;
  }
  .text-grey-7 {
    color: #ededed;
  }
  .text-grey-5 {
    color: #f3f3f3;
  }
  .text-truncate {
    white-space: nowrap!important;
  }
  .link, a {
    color: #f60;
    text-decoration: none;
  }
  .cta-2, .cta-3, .link:hover, a:hover {
    text-decoration: underline;
  }
  .link:hover, a:hover {
    color: #ff6e0d;
  }
  .link:active, .link:visited, a:active, a:visited {
    text-decoration: underline;
    color: #f26100;
  }
  .cta-2 {
    color: #f60;
    font-size: 1.3rem;
  }
  .cta-2:hover {
    color: #ff6e0d;
  }
  .cta-2:active, .cta-2:visited {
    color: #f26100;
  }
  .cta-3 {
    color: #666;
    font-size: 1.2rem;
  }
  .cta-3:active, .cta-3:hover, .cta-3:visited, input, label {
    color: #333;
  }
  .no-padding {
    padding: 0!important;
  }
  .no-padding-top {
    padding-top: 0!important;
  }
  .no-padding-bottom {
    padding-bottom: 0!important;
  }
  .no-padding-left {
    padding-left: 0!important;
  }
  .no-padding-right {
    padding-right: 0!important;
  }
  .no-margin {
    margin: 0!important;
  }
  .no-margin-top {
    margin-top: 0!important;
  }
  .no-margin-bottom {
    margin-bottom: 0!important;
  }
  .no-margin-left {
    margin-left: 0!important;
  }
  .no-margin-right {
    margin-right: 0!important;
  }
  .clearfix:after, .clearfix:before, .row:after, .row:before {
    content: " ";
    display: table;
  }
  .pull-right {
    float: right!important;
  }
  .pull-left {
    float: left!important;
  }
  .hide {
    display: none!important;
  }
  .show {
    display: block!important;
  }
  .invisible {
    visibility: hidden;
  }
  .hidden {
    display: none!important;
    visibility: hidden!important;
  }
  label {
    font-weight: 300;
  }
  input {
    font-size: 1.4rem;
    padding: 0 .3rem;
    margin: .6rem 0;
    border-radius: 2px;
    border: 1px solid #b2b2b2;
    font-weight: 700;
  }
  input.error {
    box-shadow: 0 0 4px rgba(242, 25, 58, .2);
    border: 1px solid #f2193a;
    color: #f2193a;
  }
  .form-group {
    margin-bottom: 10px;
  }
  .form-control {
    height: 32px;
    padding: 8px 4px;
    color: #333;
    font-weight: 400;
    background: #fff;
    border: 1px solid #b2b2b2;
    border-radius: 2px;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, .1);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    font-size: 1em;
  }
  .form-control textarea, select[multiple], select[size] {
    height: auto;
  }
  .form-control::-webkit-input-placeholder {
    color: #333;
  }
  .form-control:-moz-placeholder {
    color: #333;
    opacity: 1;
  }
  .form-control::-moz-placeholder {
    color: #333;
    opacity: 1;
  }
  .form-control:-ms-input-placeholder {
    color: #333;
  }
  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: not-allowed;
    opacity: 1;
  }
  p.error, span.error {
    color: #f2193a;
    font-weight: 300;
    font-size: 1.1rem;
  }
  input[type=checkbox], input[type=radio] {
    margin: 3px 0 0 3px;
    line-height: normal;
  }
  .checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .checkbox label, .radio label {
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
  }
  .checkbox input[type=checkbox], .radio input[type=radio] {
    position: absolute;
  }
  .checkbox label, .radio label {
    position: relative;
    z-index: 2;
    padding-top: 2px;
    min-height: 24px;
    background-repeat: no-repeat;
  }
  .radio label {
    padding-left: 24px;
    background-image: url('data:image/svg+xml;charset=US-ASCII, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2220px%22%20height%3D%2220px%22%20viewBox%3D%220%200%2020%2020%22%20xml%3Aspace%3D%22preserve%22%20enable-background%3D%22new%200%200%2020%2020%22%3E%3Cg%20id%3D%22Assets%22%3E%3ClinearGradient%20id%3D%22SVGID_1_%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%2210%22%20y1%3D%220.5%22%20x2%3D%2210%22%20y2%3D%2219.5%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22%23E5E5E5%22%2F%3E%3Cstop%20offset%3D%220.33%22%20stop-color%3D%22%23FFFFFF%22%2F%3E%3C%2FlinearGradient%3E%3Cpath%20d%3D%22M10%2019.5c-5.238%200-9.5-4.262-9.5-9.5S4.762%200.5%2010%200.5s9.5%204.262%209.5%209.5S15.238%2019.5%2010%2019.5z%22%20fill%3D%22url(%23SVGID_1_)%22%2F%3E%3Cpath%20d%3D%22M10%201c4.962%200%209%204.038%209%209s-4.038%209-9%209%20-9-4.038-9-9S5.038%201%2010%201M10%200C4.5%200%200%204.5%200%2010s4.5%2010%2010%2010%2010-4.5%2010-10S15.5%200%2010%200L10%200z%22%20fill%3D%22%23B2B2B2%22%2F%3E%3C%2Fg%3E%3Cg%20id%3D%22Labels%22%2F%3E%3C%2Fsvg%3E');
  }
   .checkbox label {
    padding-left: 32px;
    background-image: url('data:image/svg+xml;charset=US-ASCII, %3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.4%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2220px%22%0A%09%20height%3D%2220px%22%20viewBox%3D%220%200%2020%2020%22%20style%3D%22enable-background%3Anew%200%200%2020%2020%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Csymbol%20%20id%3D%22Checkbox_x5F_unchecked%22%20viewBox%3D%22-10%20-10%2020%2020%22%3E%0A%09%3Cg%3E%0A%09%09%3Cpath%20style%3D%22fill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bfill%3A%23FFFFFF%3B%22%20d%3D%22M9-6.5C9-8.433%2C7.433-10%2C5.5-10h-12%0A%09%09%09C-8.433-10-10-8.433-10-6.5v12C-10%2C7.433-8.433%2C9-6.5%2C9h12C7.433%2C9%2C9%2C7.433%2C9%2C5.5V-6.5z%22%2F%3E%0A%09%09%3Cg%3E%0A%09%09%09%3Cpath%20style%3D%22fill%3A%23B2B2B2%3B%22%20d%3D%22M6%2C9c1.654%2C0%2C3-1.346%2C3-3V-6c0-1.654-1.346-3-3-3H-6c-1.654%2C0-3%2C1.346-3%2C3V6c0%2C1.654%2C1.346%2C3%2C3%2C3%0A%09%09%09%09H6%20M6%2C10H-6c-2.2%2C0-4-1.8-4-4V-6c0-2.2%2C1.8-4%2C4-4H6c2.2%2C0%2C4%2C1.8%2C4%2C4V6C10%2C8.2%2C8.2%2C10%2C6%2C10L6%2C10z%22%2F%3E%0A%09%09%3C%2Fg%3E%0A%09%3C%2Fg%3E%0A%09%3ClinearGradient%20id%3D%22SVGID_1_%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%227%22%20y1%3D%220.0156%22%20x2%3D%229%22%20y2%3D%220.0156%22%3E%0A%09%09%3Cstop%20%20offset%3D%220%22%20style%3D%22stop-color%3A%23E5E5E5%3Bstop-opacity%3A0%22%2F%3E%0A%09%09%3Cstop%20%20offset%3D%221%22%20style%3D%22stop-color%3A%23E5E5E5%22%2F%3E%0A%09%3C%2FlinearGradient%3E%0A%09%3Cpath%20style%3D%22fill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bfill%3Aurl(%23SVGID_1_)%3B%22%20d%3D%22M7%2C8.844V-8.812c0%2C0%2C2%2C0.688%2C2%2C2.812V6%0A%09%09C9%2C8.031%2C7%2C8.844%2C7%2C8.844z%22%2F%3E%0A%09%0A%09%09%3ClinearGradient%20id%3D%22SVGID_2_%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%227879.5%22%20y1%3D%22-4.882812e-04%22%20x2%3D%227880.5%22%20y2%3D%22-4.883685e-04%22%20gradientTransform%3D%22matrix(-1%200%200%201%207871.5%200)%22%3E%0A%09%09%3Cstop%20%20offset%3D%220%22%20style%3D%22stop-color%3A%23E5E5E5%3Bstop-opacity%3A0%22%2F%3E%0A%09%09%3Cstop%20%20offset%3D%221%22%20style%3D%22stop-color%3A%23E5E5E5%22%2F%3E%0A%09%3C%2FlinearGradient%3E%0A%09%3Cpath%20style%3D%22fill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bfill%3Aurl(%23SVGID_2_)%3B%22%20d%3D%22M-8%2C8V7.969V-8l0%2C0c-0.5%2C0-1%2C1.447-1%2C2V6%0A%09%09C-9%2C6.553-8.516%2C8-8%2C8z%22%2F%3E%0A%09%0A%09%09%3ClinearGradient%20id%3D%22SVGID_3_%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%2211778.1279%22%20y1%3D%22-11778.3467%22%20x2%3D%2211780.1279%22%20y2%3D%22-11778.3467%22%20gradientTransform%3D%22matrix(0%201%201%200%2011778.3779%20-11771.1279)%22%3E%0A%09%09%3Cstop%20%20offset%3D%220%22%20style%3D%22stop-color%3A%23E5E5E5%3Bstop-opacity%3A0%22%2F%3E%0A%09%09%3Cstop%20%20offset%3D%221%22%20style%3D%22stop-color%3A%23E5E5E5%22%2F%3E%0A%09%3C%2FlinearGradient%3E%0A%09%3Cpath%20style%3D%22fill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bfill%3Aurl(%23SVGID_3_)%3B%22%20d%3D%22M8.906%2C7h-17.75C-8.844%2C7-8%2C9-6%2C9H6%0A%09%09C7.938%2C9%2C8.906%2C7%2C8.906%2C7z%22%2F%3E%0A%09%3Cpolygon%20style%3D%22display%3Anone%3Bfill%3Anone%3B%22%20points%3D%22-10%2C10%2010%2C10%2010%2C-10%20-10%2C-10%20%09%22%2F%3E%0A%3C%2Fsymbol%3E%0A%3Cg%20id%3D%22Assets%22%3E%0A%09%0A%09%09%3Cuse%20xlink%3Ahref%3D%22%23Checkbox_x5F_unchecked%22%20%20width%3D%2220%22%20height%3D%2220%22%20id%3D%22XMLID_3_%22%20x%3D%22-10%22%20y%3D%22-10%22%20transform%3D%22matrix(1%200%200%20-1%2010%2010)%22%20style%3D%22overflow%3Avisible%3B%22%2F%3E%0A%3C%2Fg%3E%0A%3Cg%20id%3D%22Labels%22%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E');
  }

 .checkbox-with-warning+label {
     background-image: url('data:image/svg+xml;utf8, %3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.4%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2220px%22%0A%09%20height%3D%2220px%22%20viewBox%3D%220%200%2020%2020%22%20style%3D%22enable-background%3Anew%200%200%2020%2020%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%20id%3D%22Assets%22%3E%0A%09%3Cg%3E%0A%09%09%3Cpath%20style%3D%22fill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bfill%3A%23FFFFFF%3B%22%20d%3D%22M19%2C16.5c0%2C1.933-1.567%2C3.5-3.5%2C3.5h-12%0A%09%09%09C1.567%2C20%2C0%2C18.433%2C0%2C16.5v-12C0%2C2.567%2C1.567%2C1%2C3.5%2C1h12C17.433%2C1%2C19%2C2.567%2C19%2C4.5V16.5z%22%2F%3E%0A%09%09%3Cg%3E%0A%09%09%09%3Cpath%20style%3D%22fill%3A%23F2193A%3B%22%20d%3D%22M16%2C1c1.654%2C0%2C3%2C1.346%2C3%2C3v12c0%2C1.654-1.346%2C3-3%2C3H4c-1.654%2C0-3-1.346-3-3V4c0-1.654%2C1.346-3%2C3-3%0A%09%09%09%09H16%20M16%2C0H4C1.8%2C0%2C0%2C1.8%2C0%2C4v12c0%2C2.2%2C1.8%2C4%2C4%2C4h12c2.2%2C0%2C4-1.8%2C4-4V4C20%2C1.8%2C18.2%2C0%2C16%2C0L16%2C0z%22%2F%3E%0A%09%09%3C%2Fg%3E%0A%09%3C%2Fg%3E%0A%09%3ClinearGradient%20id%3D%22SVGID_1_%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%2217%22%20y1%3D%229.9844%22%20x2%3D%2219%22%20y2%3D%229.9844%22%3E%0A%09%09%3Cstop%20%20offset%3D%220%22%20style%3D%22stop-color%3A%23E5E5E5%3Bstop-opacity%3A0%22%2F%3E%0A%09%09%3Cstop%20%20offset%3D%221%22%20style%3D%22stop-color%3A%23E5E5E5%22%2F%3E%0A%09%3C%2FlinearGradient%3E%0A%09%3Cpath%20style%3D%22fill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bfill%3Aurl(%23SVGID_1_)%3B%22%20d%3D%22M17%2C1.156v17.656c0%2C0%2C2-0.688%2C2-2.812V4%0A%09%09C19%2C1.969%2C17%2C1.156%2C17%2C1.156z%22%2F%3E%0A%09%0A%09%09%3ClinearGradient%20id%3D%22SVGID_2_%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%22-8592.5%22%20y1%3D%2210%22%20x2%3D%22-8591.5%22%20y2%3D%2210%22%20gradientTransform%3D%22matrix(-1%200%200%201%20-8590.5%200)%22%3E%0A%09%09%3Cstop%20%20offset%3D%220%22%20style%3D%22stop-color%3A%23E5E5E5%3Bstop-opacity%3A0%22%2F%3E%0A%09%09%3Cstop%20%20offset%3D%221%22%20style%3D%22stop-color%3A%23E5E5E5%22%2F%3E%0A%09%3C%2FlinearGradient%3E%0A%09%3Cpath%20style%3D%22fill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bfill%3Aurl(%23SVGID_2_)%3B%22%20d%3D%22M2%2C2v0.031V18l0%2C0c-0.5%2C0-1-1.447-1-2V4%0A%09%09C1%2C3.447%2C1.484%2C2%2C2%2C2z%22%2F%3E%0A%09%0A%09%09%3ClinearGradient%20id%3D%22SVGID_3_%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%22-4213.8721%22%20y1%3D%22-4213.6533%22%20x2%3D%22-4211.8721%22%20y2%3D%22-4213.6533%22%20gradientTransform%3D%22matrix(0%20-1%20-1%200%20-4203.6221%20-4210.8721)%22%3E%0A%09%09%3Cstop%20%20offset%3D%220%22%20style%3D%22stop-color%3A%23E5E5E5%3Bstop-opacity%3A0%22%2F%3E%0A%09%09%3Cstop%20%20offset%3D%221%22%20style%3D%22stop-color%3A%23E5E5E5%22%2F%3E%0A%09%3C%2FlinearGradient%3E%0A%09%3Cpath%20style%3D%22fill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bfill%3Aurl(%23SVGID_3_)%3B%22%20d%3D%22M18.906%2C3H1.156C1.156%2C3%2C2%2C1%2C4%2C1h12%0A%09%09C17.938%2C1%2C18.906%2C3%2C18.906%2C3z%22%2F%3E%0A%3C%2Fg%3E%0A%3Cg%20id%3D%22Labels%22%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E');
     background-repeat: no-repeat;
   }
  .checkbox.disabled label, .radio.disabled label, fieldset[disabled] .checkbox label, fieldset[disabled] .radio label, fieldset[disabled] input[type=checkbox], fieldset[disabled] input[type=radio], input[type=checkbox].disabled, input[type=checkbox][disabled], input[type=radio].disabled, input[type=radio][disabled] {
    cursor: not-allowed;
  }
  input[type=checkbox] {
    float: left;
    width: auto;
    margin-right: 6px;
  }
  .btn, .btn-base {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    user-select: none;
    padding: .6rem 1.2rem;
    font-size: 1.3rem;
    line-height: 1;
    border-radius: 4px;
  }
  .btn-base:focus, .btn-base:hover {
    text-decoration: none;
  }
  .btn-base[disabled], fieldset[disabled] .btn-base {
    cursor: not-allowed;
    box-shadow: none;
    opacity: .65;
    filter: "alpha(opacity=65)"}
  .btn {
    color: #666;
    background-color: #d9d9d9;
    border-color: transparent;
  }
  .btn:active, .btn:focus, .btn:hover {
    color: #fff;
    background-color: #f60;
    border-color: transparent;
  }
  .btn[disabled], fieldset[disabled] .btn {
    opacity: 1;
    filter: "alpha(opacity=100)";
    color: #fff;
    background-color: grey;
    border-color: transparent;
  }
  .panel, .panel .panel-heading {
    border-bottom: 1px solid #d9d9d9;
  }
  .btn-sm {
    padding: .6rem;
    font-size: 1.2rem;
    line-height: 1;
    border-radius: 4px;
  }
  .panel {
     background: #fff;
     border-radius: .6rem;
     border-left: 1px solid #ccc;
     border-right: 1px solid #d9d9d9;
   }
  .panel .panel-heading {
    padding: 1.2rem;
  }
  .panel .panel-heading h3 {
    line-height: 1.2;
    padding-left: 1.2rem;
    font-weight: 300;
    font-stretch: normal;
    color: #f60;
  }
  .panel .panel-heading h4 {
    float: left;
    width: 70%;
    line-height: 1.2;
    white-space: nowrap!important;
    font-weight: 700;
    font-stretch: condensed;
    color: #333;
  }
  .notification, .notification .header, .panel .panel-body, .panel .panel-body .foot-note {
    font-stretch: normal;
  }
  .panel .panel-heading .icon.headline {
    float: left;
    margin-top: 1px;
  }
  .panel .panel-heading .controls span:last-child {
    margin-right: 0;
  }
  .panel .panel-body {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    overflow-y: hidden;
    overflow-x: hidden;
    color: #333;
    font-size: 1.3rem;
    font-weight: 300;
  }
  .panel .panel-body .foot-note {
    position: absolute;
    bottom: .6rem;
    right: 2.4rem;
    color: #b2b2b2;
    font-size: 1.2rem;
    font-weight: 300;
  }
  .loading .panel-default {
    background: url(../images/ajax-loader.gif) center center no-repeat #fff!important;
  }
  .loading .panel-default .panel-body {
    opacity: 0;
  }
  .coming-soon-badge {
    display: none;
  }
  .coming-soon .panel-body {
    min-height: 12.8rem;
    position: relative;
  }
  .coming-soon .panel-body .row {
    opacity: .3;
  }
  .coming-soon .panel-body .coming-soon-badge {
    z-index: 9999;
    display: block;
    left: -65px;
    height: 30px;
    top: 40px;
    position: absolute;
    text-decoration: none;
    width: 250px;
    transform: rotate(-45deg);
  }
  .coming-soon .panel-body .coming-soon-badge span {
    background: #f60;
    color: #fff;
    font-size: 14px;
    left: 0;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    width: 250px;
    box-shadow: rgba(0, 0, 0, .2)1px 1px 10px;
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform 1s;
  }
  .coming-soon .panel-body .coming-soon-badge span:last-child {
    background: #666;
    opacity: 0;
  }
  .coming-soon .panel-body .coming-soon-badge :hover span:first-child {
    opacity: 0;
  }
  .coming-soon .panel-body .coming-soon-badge :hover span:last-child {
    opacity: 1;
  }
.row {
     margin-left: -1.2rem;
     margin-right: -1.2rem;
   }
  [class^=col-] {
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
  .col-4 {
    width: 100%}
  .col-3 {
    width: 75%}
  .col-2 {
    width: 50%}
  .col-1 {
    width: 25%}
  .btn-xl {
   width: 100%;
   border: 1px solid rgba(0, 0, 0, .1);
   box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .5);
   padding: 15px .6rem;
   line-height: 1;
   border-radius: 8px;
   font-size: 16px;
 }
  .btn-orange {
    background: #f60;
    color: #fff;
  }
  .btn-orange:focus, .btn-orange:hover {
    background: #ff751a;
  }
  .btn-orange:active {
    background: #e65c00;
  }
  .btn-light-grey {
    background: #f3f3f3;
    color: #f60;
  }
  .btn-light-grey:focus, .btn-light-grey:hover {
    background: #fff;
    color: #f60;
    text-decoration: none;
  }
  .btn-light-grey:active {
    background: #e6e6e6;
    color: #f60;
    text-decoration: none;
  }
  .page-header {
    background: #fff;
    height: 6.4rem;
    width: 100%;
    box-shadow: 0 1px 5px 0 #c8c8c8;
  }
  .page-header header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 6.4rem;
  }
  .page-header header .mobile-logo {
    background-image: url(../img/mobile-logo-big.png);
    width: 146px;
    height: 35px;
    display: block;
    margin: 1.5rem 2.4rem;
    float: left;
  }
  .page-header header .mobile-logo a {
    display: block;
    width: 100%;
    height: 100%}
  .page-header header .mobile-logo a span, .page-header ul.navbar-nav li.dropdown.ng-scope ul.dropdown-menu.ng-scope, .sio-arrow, .sio-overlay, .sio-popup {
    display: none;
  }
  .page-header ul.navbar-nav {
    float: right!important;
  }
  .page-header ul.navbar-nav li.dropdown.ng-scope {
    width: auto;
    float: left;
    margin: 0;
    padding: 0 .6rem;
    position: relative;
  }
  .page-header ul.navbar-nav li.dropdown.ng-scope:active ul.dropdown-menu.ng-scope, .page-header ul.navbar-nav li.dropdown.ng-scope:focus ul.dropdown-menu.ng-scope, .page-header ul.navbar-nav li.dropdown.ng-scope:hover ul.dropdown-menu.ng-scope {
    display: block;
    position: absolute;
    z-index: 1000;
    background: #fff;
    padding: 0 .6rem;
    width: auto;
  }
  .page-header ul.navbar-nav li.dropdown.ng-scope:active ul.dropdown-menu.ng-scope li, .page-header ul.navbar-nav li.dropdown.ng-scope:focus ul.dropdown-menu.ng-scope li, .page-header ul.navbar-nav li.dropdown.ng-scope:hover ul.dropdown-menu.ng-scope li {
    margin: 0;
    line-height: 1.6;
  }
  .icon, [class^=icon-] {
    padding: 0!important;
    margin-right: .6rem;
    display: inline-block;
    background-position: center;
  }
  .icon.icon-s, [class^=icon-].icon-s {
    width: 16px;
    height: 16px;
  }
  .icon.icon-m, [class^=icon-].icon-m {
    width: 20px;
    height: 20px;
  }
  .icon.icon-l, [class^=icon-].icon-l {
    width: 32px;
    height: 32px;
  }
  .icon.icon-xl, [class^=icon-].icon-xl {
    width: 40px;
    height: 40px;
  }
  .icon.icon-placeholder, [class^=icon-].icon-placeholder {
    background: #ccc;
    text-align: center;
  }
  .icon-info {
    background-image: url('data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.4%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%0A%09%20height%3D%2216px%22%20viewBox%3D%220%200%2016%2016%22%20style%3D%22enable-background%3Anew%200%200%2016%2016%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%20id%3D%22Assets%22%3E%0A%09%3Cpath%20style%3D%22fill%3A%23999999%3B%22%20d%3D%22M0%2C8.004C0%2C12.428%2C3.58%2C16%2C8%2C16l0%2C0c4.42%2C0%2C8-3.572%2C8-7.996l0%2C0C16%2C3.582%2C12.42%2C0%2C8%2C0l0%2C0%0A%09%09C3.58%2C0%2C0%2C3.582%2C0%2C8.004%20M8.142%2C3.363c0.13-0.809%2C0.906-1.467%2C1.716-1.467l0%2C0c0.82%2C0%2C1.381%2C0.658%2C1.241%2C1.467l0%2C0%0A%09%09c-0.13%2C0.822-0.907%2C1.48-1.728%2C1.48l0%2C0C8.562%2C4.844%2C8.002%2C4.186%2C8.142%2C3.363%20M5.01%2C7.844c1.05-1.629%2C2.65-2.58%2C4-2.439l0%2C0%0A%09%09c0%2C0%2C1.4%2C0.221%2C0.88%2C1.83l0%2C0c-0.53%2C1.619-1.61%2C4.4-1.61%2C4.4l0%2C0c0%2C0-0.399%2C0.84%2C0.061%2C0.84l0%2C0c0.45%2C0%2C1.45-1.561%2C1.81-1.561l0%2C0%0A%09%09c0.24%2C0%2C0.271%2C0.15%2C0.24%2C0.34l0%2C0c-0.01%2C0.02-0.02%2C0.041-0.03%2C0.051l0%2C0c-1.1%2C1.879-2.909%2C2.93-4.359%2C2.65l0%2C0%0A%09%09c-0.32-0.07-1.12-0.422-0.49-2.092l0%2C0c0.6-1.6%2C1.61-4.398%2C1.61-4.398l0%2C0c0%2C0%2C0.39-0.84-0.061-0.84l0%2C0%0A%09%09c-0.45%2C0-1.46%2C1.559-1.81%2C1.559l0%2C0C5.01%2C8.184%2C4.979%2C8.033%2C5.01%2C7.844L5.01%2C7.844z%22%2F%3E%0A%3C%2Fg%3E%0A%3Cg%20id%3D%22Labels%22%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E');
    opacity: .75;
    background-repeat: no-repeat;
    background-position: 6 center;
    cursor: hand;
  }
  .icon-info:hover {
    opacity: .5;
  }
  .icon-info:active {
    opacity: 1;
  }
  .icon-close {
    width: 24px;
    height: 24px;
    margin: 12px;
    opacity: .75;
    background: url('data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.4%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2224px%22%0A%09%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20style%3D%22enable-background%3Anew%200%200%2024%2024%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%20id%3D%22Assets%22%3E%0A%09%3Cpath%20style%3D%22fill%3A%23CCCCCC%3B%22%20d%3D%22M12%2C0C5.373%2C0%2C0%2C5.373%2C0%2C12s5.373%2C12%2C12%2C12s12-5.373%2C12-12S18.627%2C0%2C12%2C0z%20M18%2C16.5L16.5%2C18L12%2C13.5%0A%09%09L7.5%2C18L6%2C16.5l4.5-4.5l-5-5L7%2C5.5l5%2C5l5-5L18.5%2C7l-5%2C5L18%2C16.5z%22%2F%3E%0A%3C%2Fg%3E%0A%3Cg%20id%3D%22Labels%22%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E') no-repeat;
    cursor: hand;
  }
  .icon-close:hover {
    opacity: .5;
  }
  .icon-close:active {
    opacity: 1;
  }
  .notification-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .75);
  }
  .notification {
    color: #666;
    position: fixed;
    background: #fff;
    left: 0;
    right: 0;
    top: 30%;
    margin: 0 auto;
    border-radius: 4px;
    padding: 3.2rem;
    -webkit-box-shadow: 0 3px 6px 0 #666;
    -moz-box-shadow: 0 3px 6px 0 #666;
    box-shadow: 0 3px 6px 0 #666;
    font-weight: 400;
    font-size: 1.3rem;
  }
  .notification .header {
    font-size: 16px;
    margin-bottom: 1.2rem;
    -ms-flex-align: center;
    -moz-box-align: center;
    -webkit-box-align: center;
    display: box;
    box-align: center;
    font-weight: 300;
  }
  .notification .header:after, .notification .header:before {
    content: " ";
    display: table;
  }
  .notification .header .icon {
    display: block;
    margin-right: .6rem;
  }
  .notification.error .header {
    color: #f2193a;
  }
  .notification.success .header {
    color: #7abf1d;
  }
  .sio-popup {
    position: absolute;
    z-index: 11;
    background-color: #ededed;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    padding: 24px;
    width: 400px;
    box-shadow: 2px 2px 6px 0 rgba(50, 50, 50, .5);
  }
  .sio-overlay {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    position: fixed;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5);
  }
  .sio-arrow, .sio-close-button, .sio-overlay-partial {
    position: absolute;
  }
  .sio-overlay-light {
    background-color: rgba(255, 255, 255, .7);
  }
  .sio-close-button {
    top: 0;
    right: 0;
    cursor: hand;
  }
  .sio-arrow {
    z-index: 12;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 14px solid #d9d9d9;
  }
  .sio-arrow div {
    position: relative;
    top: -14px;
    left: -11px;
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid #ededed;
  }

  .lt-ie9 .fr .mobile-logo, .lt-ie9 .it .mobile-logo {
    background-repeat: none;
    background-size: 146px 35px;
    margin-left: 25px;
  }
  .lt-ie9 [class^=col-] {
    float: none!important;
    font-size: 13px;
  }
  .lt-ie9 * {
    font-size: 13px;
  }
  .lt-ie9 #loginTabsHeader {
    height: 3em;
  }
  .lt-ie9 #loginTabsHeader h3 {
    font-size: 1em;
    padding-bottom: 1em;
  }
  .lt-ie9 .container_auth {
    padding-left: 2em;
    padding-right: 2em;
  }
  .lt-ie9 .mobile-logo span {
    font-size: 2em;
  }
   .lt-ie9 .fr .mobile-logo {
    background-image: url(../images/shared/lang_fr_sprite.png);
    width: 190px;
    height: 35px;
  }
  .lt-ie9 .it .mobile-logo {
    background-image: url(../images/shared/lang_it_sprite.png);
    width: 190px;
    height: 35px;
  }
  .lt-ie9 .sio-arrow {
    display: none;
    visibility: hidden;
  }
  .page-header header .mobile-logo {
    margin-right: 0;
  }
  .de .page-header header .mobile-logo, .en .page-header header .mobile-logo, .es .page-header header .mobile-logo, .ru .page-header header .mobile-logo {
    background: url(../images/shared/mobile-logo.svg) no-repeat;
    background-size: 146px 35px;
  }
  .fr .page-header header .mobile-logo {
    background-image: url(../images/shared/lang_fr_sprite.png);
    width: 190px;
  }
  .it .page-header header .mobile-logo {
    background-image: url(../images/shared/lang_it_sprite.png);
    width: 190px;
  }
  .lt-ie9 .page-header header .mobile-logo, .opr .page-header header .mobile-logo {
    background-image: url(../images/shared/navigation/mobile-logo-big.png);
    background-repeat: no-repeat;
  }
  .page-header header .mobile-claim {
    background-repeat: no-repeat;
    float: left;
    height: 35px;
    margin: 2.4rem 2.4rem 2.4rem 1rem;
    width: 500px;
  }
  .de .page-header header .mobile-claim {
    background-image: url(../images/shared/navigation/slogan-de.png);
    width: 350px;
  }
  .en .page-header header .mobile-claim {
    background-image: url(../images/shared/navigation/slogan-en.png);
    width: 400px;
  }
  .es .page-header header .mobile-claim {
    background-image: url(../images/shared/navigation/slogan-es.png);
  }
  .fr .page-header header .mobile-claim {
    background: url(../images/shared/lang_fr_sprite.png) 0 -49px no-repeat;
    margin-top: 1rem;
    margin-left: .4rem;
  }
  .it .page-header header .mobile-claim {
    background-image: url(../images/shared/navigation/slogan-it.png);
    margin-top: 1.4rem;
  }
  .ru .page-header header .mobile-claim {
    background-image: url(../images/shared/navigation/slogan-ru.png);
    height: 40px;
    width: 400px;
  }
  .container_auth {
    min-width: 320px;
    max-width: 1152px;
    margin: 2.4rem auto;
  }
  .container_auth .icon-info {
    background-size: 16px 16px;
    background-position: center;
    cursor: pointer;
  }
.container_auth .form-control {
     padding: 7px 4px;
   }
  .container_auth .panel-formbox {
    padding: 2.4rem;
  }
  .container_auth .panel-formbox .submit-form {
    box-shadow: 0 2px 6px 0 rgba(50, 50, 50, .5);
    border-radius: 8px;
  }
  .container_auth .button-row {
    padding-bottom: 10px;
    margin-bottom: 0;
  }
  .container_auth .panel-small-infobox {
    margin-top: 9.9rem;
    margin-left: 0;
    background: 0 0;
    border: none;
  }
  .container_auth .panel-small-infobox h3 {
    margin-bottom: 3rem;
  }
  .container_auth .panel-small-infobox li {
    padding-left: 30px;
    margin-bottom: 2.4rem;
    margin-left: 0;
    min-height: 20px;
    background-image: url(../images/shared/promobullets-m.svg);
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 20px 20px;
  }
  .container_auth .for-warning {
    margin-bottom: 0;
  }
  .container_auth .panel-warnbox {
    height: auto;
    color: #f2193a;
    padding: 2.4rem;
    margin-bottom: 2.4rem;
    text-align: center;
    border-radius: .6rem;
  }
  .container_auth .with-warning-icon {
    background: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.4%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2232px%22%0A%09%20height%3D%2232px%22%20viewBox%3D%220%200%2032%2032%22%20style%3D%22enable-background%3Anew%200%200%2032%2032%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%20id%3D%22Assets%22%3E%0A%09%3Cpath%20style%3D%22fill%3A%23F2193A%3B%22%20d%3D%22M31.561%2C28.617L17.903%2C1.395C17.379%2C0.465%2C16.69%2C0%2C16%2C0s-1.379%2C0.465-1.903%2C1.395L0.439%2C28.617%0A%09%09C-0.608%2C30.479%2C0.283%2C32%2C2.417%2C32h27.166C31.717%2C32%2C32.608%2C30.479%2C31.561%2C28.617z%20M17.547%2C21h-3.094l-0.703-8.8%0A%09%09c0-1.216%2C1.006-2.2%2C2.25-2.2s2.25%2C0.984%2C2.25%2C2.2L17.547%2C21z%20M16%2C28.828L13.172%2C26L16%2C23.172L18.828%2C26L16%2C28.828z%22%2F%3E%0A%3C%2Fg%3E%0A%3Cg%20id%3D%22Labels%22%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E') 0 center no-repeat;
    background-size: 32px 32px;
  }
  .container_auth .warning-container_auth {
    display: inline-block;
    padding-left: 50px;
    min-height: 32px;
  }
  .container_auth .warning-message {
    display: block;
    text-align: left;
  }
  .container_auth .warning-message:first-child {
    padding-top: 8px;
  }
  .container_auth .warning-message-inline {
    background: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.4%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%0A%09%20height%3D%2216px%22%20viewBox%3D%220%200%2016%2016%22%20style%3D%22enable-background%3Anew%200%200%2016%2016%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%20id%3D%22Assets%22%3E%0A%09%3Cpath%20style%3D%22fill%3A%23F2193A%3B%22%20d%3D%22M15.78%2C14.309L8.951%2C0.697C8.689%2C0.232%2C8.345%2C0%2C8%2C0C7.654%2C0%2C7.311%2C0.232%2C7.048%2C0.697L0.219%2C14.309%0A%09%09C-0.305%2C15.239%2C0.142%2C16%2C1.208%2C16h13.583C15.858%2C16%2C16.304%2C15.239%2C15.78%2C14.309z%20M6.999%2C14v-2H9v2H6.999z%20M9%2C11H6.999V6%0A%09%09c0-0.553%2C0.448-1%2C1.001-1c0.552%2C0%2C1%2C0.447%2C1%2C1V11z%22%2F%3E%0A%3C%2Fg%3E%0A%3Cg%20id%3D%22Labels%22%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E') 0 center no-repeat;
    background-size: 16px 16px;
    padding-left: 22px;
    color: #f2193a;
    font-weight: 700;
  }
  .container_auth .warning-box {
     border: 1px solid #f2193a;
   }
  .container_auth .private-policy-text {
    margin-bottom: 10px;
  }
  .container_auth .dealer-link-container_auth {
    margin-top: 10px;
    text-align: center;
  }
  .activeLoginTab, .inactiveLoginTab {
   width: 50%;
   height: 4.8rem;
   text-align: center;
   float: left;
 }
  .page-footer {
     border-top: 1px solid #b2b2b2;
     padding: 2.4rem 0;
     overflow: visible;
     clear: both;
   }
  .page-footer ul li {
    line-height: 24px;
  }
  .page-footer ul li a {
    color: #666;
  }
  .page-footer ul li span:active, .page-footer ul li span:hover {
    text-decoration: underline;
  }
  .page-footer ul li #oo_feedback_footer {
    background: 0 0;
    color: #666;
    padding: 0;
    cursor: pointer;
  }
  .active-tab-h3, .activeLoginTab h3, .activeSingleTab h3, .inactiveLoginTab h3 {
    padding-top: 1em;
    font-size: 16px;
  }
  .inactiveLoginTab {
    background-color: #f7f7f7;
    border-bottom: solid 2px #e6e6e6;
  }
  .activeLoginTab {
    background-color: #fff;
  }
  .activeSingleTab {
    width: 100%;
    float: left;
    height: 4.8rem;
    text-align: center;
    background-color: #fff;
  }
  .leftTab {
    border-top-left-radius: .6rem;
  }
  .rightTab {
    border-top-right-radius: .6rem;
    border-left: solid 2px #e6e6e6;
  }
  .active-tab-h3, .activeLoginTab h3, .activeSingleTab h3 {
    color: #f60;
  }
  .inactiveLoginTab h3 {
    color: #333;
  }
  .deactivated {
    display: none;
  }
  .whole-width-column {
    width: 100%;
    overflow: hidden;
  }
  .half-width-column {
    width: 50%;
    float: left;
  }
  .quarter-width-column {
    width: 25%;
    float: left;
  }
  .text-left {
    text-align: left;
  }
  .text-right {
    text-align: right;
  }
  .text-center {
    text-align: center;
  }
  #loginTabsHeader {
    overflow: hidden;
    border-radius: .6rem .6rem 0 0;
    border: 1px solid;
    border-top-color: #e6e6e6;
    border-right-color: #d9d9d9;
    border-bottom-style: none;
    border-left-color: #ccc;
  }
  #logincontainer_auth>form, #registrationcontainer_auth>form, .last {
    margin-bottom: 0;
  }
  .whole-width-column>.checkbox {
    height: 27px;
    padding-top: 5px;
    margin-top: 0;
    margin-bottom: 0;
    float: left;
  }
  .left-float {
    float: left;
  }
  .right-float {
    float: right;
  }
  .icon-info {
    margin: 7px;
    height: 16px;
    width: 16px;
  }
  #sio-light .warning {
    font-weight: 700;
  }
  #sio-light .sio-popup {
    padding: 2.4rem;
    background-color: #fff;
  }
  #sio-light .sio-popup p {
    margin-bottom: 0;
  }
  #sio-light .sio-popup h4 {
    margin-bottom: 2.4rem;
  }
  #sio-light .sio-arrow>div {
    border-top-color: #fff;
  }
  #sio-password-forgotten .sio-popup {
    padding: 2.4rem;
  }
  #sio-password-forgotten .sio-popup .error {
    display: none;
    color: #f2193a;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
  #sio-password-forgotten .sio-popup p {
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
  }
  #sio-password-forgotten .sio-popup #passwordSendSuccessfullyView {
    display: none;
    margin-top: 2.4rem;
    margin-bottom: 1.2rem;
  }

}