.auth {
  position: fixed;
  top: 0;
  left: 30%;
  z-index: 1001;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;

  @media (max-width:678px) {
    left: 22.5%;
  }
  @media (max-width:478px) {
    left:0;
    width: 100%;
  }

  /* basic css */
  input[type=checkbox]   { display:none; }
  .form-control-toggle-checkbox .form-control-toggle  label, .form-control-toggle p               { padding-left:20px;}
  #check-awesome         { position:relative; }

  /* checkbox css */
  .form-control-toggle-checkbox label                  { cursor:pointer;}
  .form-control-toggle-checkbox label span             { display:block; position:absolute; left:0;
    -webkit-transition-duration:0.3s; -moz-transition-duration:0.3s; transition-duration:0.3s;
  }

  .form-control-toggle-checkbox label .circle          {
    background:#FFF;
    left:-30px;
    top:-30px;
    height:80px;
    width:80px;
    z-index:-1;
    border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%;
  }
  .form-control-toggle-checkbox label .box     {
    border:1px solid #B2B2B2;
    border-radius: 5px;
    height:25px;
    left: 6px;
    width:25px;
    z-index:888;
    box-shadow: inset 0 0px 1px;
    -webkit-transition-delay:0.2s; -moz-transition-delay:0.2s; transition-delay:0.2s;
  }
  .form-control-toggle-checkbox label .check         {
    margin-top: -3px;
    margin-left: 10px;
    width: 12px;
    height: 24px;
    border:2px solid #ff6600;
    border-top: none;
    border-left: none;
    opacity:0;
    z-index:888;
    -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); transform:rotate(180deg);
    -webkit-transition-delay:0.3s; -moz-transition-delay:0.3s; transition-delay:0.3s;
  }

  /* handling click events */

  /* when checkbox is checked */
  .form-control-toggle-checkbox label .circle {
    -webkit-animation   :growCircle 0.3s ease;
    -moz-animation      :growCircle 0.3s ease;
    animation           :growCircle 0.3s ease;
  }
  .form-control-toggle-checkbox input[type=checkbox]:checked ~ label .box {
    opacity:0;
    -webkit-transform   :scale(0) rotate(-180deg);
    -moz-transform 		:scale(0) rotate(-180deg);
    transform 				:scale(0) rotate(-180deg);
  }
  .form-control-toggle-checkbox input[type=checkbox]:checked ~ label .check {
    opacity:1;
    -webkit-transform   :scale(1) rotate(45deg);
    -moz-transform      :scale(1) rotate(45deg);
    transform           :scale(1) rotate(45deg);
  }

  /* bubble animation */

  @-webkit-keyframes growCircle {
    0%, 100%   { -webkit-transform:scale(0); }
    70%        { background:#DDD; -webkit-transform:scale(1.25); }
  }
  @-moz-keyframes growCircle {
    0%, 100%   { -moz-transform:scale(0); }
    70%        { background:#DDD; -moz-transform:scale(1.25); }
  }
  @keyframes growCircle {
    0%, 100%   { transform:scale(0); }
    70%        { background:#DDD; transform:scale(1.25); }
  }
  .form-group--combobox  {
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    background: none;
    border: 1px solid #dddddd;


  }
  .form-group--combobox p {

  }
  .form-control-toggle-checkbox .form-control-toggle {
    padding-top: 16px;
    padding-left: 0px;
    background: none;
    border: none;
  }
  .form-control-toggle-checkbox .form-control-toggle p {
    margin-top: 3px;
    line-height: 24px;
    font-size: 14px; color: #000000
  }
  .form-control-toggle-checkbox {
    margin-left: -5px;
  }
  .rightTab {
    cursor: pointer;
  }
  .leftTab {
    cursor: pointer;
  }
}
.bg_white {
  z-index: 1000;
  background: #fff;
  position: fixed;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;


  img {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -25px;
    margin-left: -25px;
    width: 50px;
    height: 50px;
  }

}