.form-group--combobox{

  margin-top: 10px;


}

main   { font-size:16px; }
.stuff { padding-top:60px; }

/* basic css */
input[type=checkbox]   { display:none; }
.form-control-toggle-checkbox .form-control-toggle  label, .form-control-toggle p               { padding-left:27px;}
#check-awesome         { position:relative; }

/* checkbox css */
.form-control-toggle-checkbox label                  { cursor:pointer;}
.form-control-toggle-checkbox label span             { display:block; position:absolute; left:0;
  -webkit-transition-duration:0.3s; -moz-transition-duration:0.3s; transition-duration:0.3s;
}

.form-control-toggle-checkbox label .circle          {
  background:#FFF;
  left:-30px;
  top:-30px;
  height:80px;
  width:80px;
  z-index:-1;
  border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%;
}
.form-control-toggle-checkbox label .box     {
   border:2px solid #B2B2B2;
  border-radius: 5px;
  height:27px;
  margin-left: 0px;
   width:27px;
  z-index:888;
  -webkit-transition-delay:0.2s; -moz-transition-delay:0.2s; transition-delay:0.2s;
}
.form-control-toggle-checkbox label .check         {
  margin-top: -5px;
  margin-left: 7px;
   width: 12px;
  height: 24px;
  border:2px solid #ff6600;
  border-top: none;
  border-left: none;
  opacity:0;
  z-index:888;
  -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); transform:rotate(180deg);
  -webkit-transition-delay:0.3s; -moz-transition-delay:0.3s; transition-delay:0.3s;
}

/* handling click events */

/* when checkbox is checked */
.form-control-toggle-checkbox label .circle {
  -webkit-animation   :growCircle 0.3s ease;
  -moz-animation      :growCircle 0.3s ease;
  animation           :growCircle 0.3s ease;
}
.form-control-toggle-checkbox input[type=checkbox]:checked ~ label .box {
  opacity:0;
  -webkit-transform   :scale(0) rotate(-180deg);
  -moz-transform 		:scale(0) rotate(-180deg);
  transform 				:scale(0) rotate(-180deg);
}
.form-control-toggle-checkbox input[type=checkbox]:checked ~ label .check {
  opacity:1;
  -webkit-transform   :scale(1) rotate(45deg);
  -moz-transform      :scale(1) rotate(45deg);
  transform           :scale(1) rotate(45deg);
}

/* bubble animation */

@-webkit-keyframes growCircle {
  0%, 100%   { -webkit-transform:scale(0); }
  70%        { background:#DDD; -webkit-transform:scale(1.25); }
}
@-moz-keyframes growCircle {
  0%, 100%   { -moz-transform:scale(0); }
  70%        { background:#DDD; -moz-transform:scale(1.25); }
}
@keyframes growCircle {
  0%, 100%   { transform:scale(0); }
  70%        { background:#DDD; transform:scale(1.25); }
}
.form-group--combobox  {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  padding-top: 0px;
  background: none;


}
.form-group--combobox p {

  padding: 0px;


}
.form-control-toggle-checkbox {
  margin-top: 5px;
}
.form-control-toggle  {

  margin-top: -5px;
}

.form-control-toggle-checkbox .form-control-toggle {
  padding-top: 0px;
  padding-left: 6px;
  background: none;
  border: none;
}
.form-control-toggle-checkbox .form-control-toggle p {
  margin-top: 5px;
  font-size: 14px;
  color: #333;
font-weight: normal;
}