.panel-default{
  border: none;
  box-shadow: none;
  .panel-heading{
    background: #ffffff;
    text-align: center;
    color: #f60;
    border-bottom: 3px solid #eeeeee;
  }


}

.panel-body{
  margin-left: auto;
  margin-right: auto;
  border: none;
  padding-left: 12.5%;
  padding-right: 12.5%;
}


.form-group--combobox {

  main   { font-size:16px; }
  .stuff { padding-top:60px; }

  /* basic css */
  input[type=checkbox]   { display:none; }
  input[type=radio]   { display:none; }

  .form-control-toggle-checkbox .form-control-toggle  label, .form-control-toggle p               { padding-left:20px;}
  #check-awesome         { position:relative; }

  /* checkbox css */
  .form-control-toggle-checkbox label                  { cursor:pointer;}
  .form-control-toggle-checkbox label span             { display:block; position:absolute; left:0;
    -webkit-transition-duration:0.3s; -moz-transition-duration:0.3s; transition-duration:0.3s;
  }

  .form-control-toggle-checkbox label .circle          {
    background:#FFF;
    left:-30px;
    top:-30px;
    height:80px;
    width:80px;
    z-index:-1;
    border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%;
  }
  .form-control-toggle-checkbox label .box     {
    top: 8px;
    border:2px solid #B2B2B2;
    border-radius: 5px;
    height:27px;
    left: 6px;
    width:27px;
    z-index:888;
    -webkit-transition-delay:0.2s; -moz-transition-delay:0.2s; transition-delay:0.2s;
  }
  .form-control-toggle-checkbox label .check         {
    top: 0px;
    left: 14px;
    width: 12px;
    height: 24px;
    border:2px solid #ff6600;
    border-top: none;
    border-left: none;
    opacity:0;
    z-index:888;
    -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); transform:rotate(180deg);
    -webkit-transition-delay:0.3s; -moz-transition-delay:0.3s; transition-delay:0.3s;
  }

  /* handling click events */

  /* when checkbox is checked */
  .form-control-toggle-checkbox label .circle {
    -webkit-animation   :growCircle 0.3s ease;
    -moz-animation      :growCircle 0.3s ease;
    animation           :growCircle 0.3s ease;
  }
  .form-control-toggle-checkbox input[type=checkbox]:checked ~ label .box {
    opacity:0;
    -webkit-transform   :scale(0) rotate(-180deg);
    -moz-transform 		:scale(0) rotate(-180deg);
    transform 				:scale(0) rotate(-180deg);
  }
  .form-control-toggle-checkbox input[type=checkbox]:checked ~ label .check {
    opacity:1;
    -webkit-transform   :scale(1) rotate(45deg);
    -moz-transform      :scale(1) rotate(45deg);
    transform           :scale(1) rotate(45deg);
  }

  /* bubble animation */

  @-webkit-keyframes growCircle {
    0%, 100%   { -webkit-transform:scale(0); }
    70%        { background:#DDD; -webkit-transform:scale(1.25); }
  }
  @-moz-keyframes growCircle {
    0%, 100%   { -moz-transform:scale(0); }
    70%        { background:#DDD; -moz-transform:scale(1.25); }
  }
  @keyframes growCircle {
    0%, 100%   { transform:scale(0); }
    70%        { background:#DDD; transform:scale(1.25); }
  }


  .form-control-toggle-checkbox input[type=radio]:checked ~ label .box {
    opacity:0;
    -webkit-transform   :scale(0) rotate(-180deg);
    -moz-transform 		:scale(0) rotate(-180deg);
    transform 				:scale(0) rotate(-180deg);
  }
  .form-control-toggle-checkbox input[type=radio]:checked ~ label .check {
    opacity:1;
    -webkit-transform   :scale(1) rotate(45deg);
    -moz-transform      :scale(1) rotate(45deg);
    transform           :scale(1) rotate(45deg);
  }

}

.form-group--combobox  {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  background: none;


}
.form-group--combobox p {

  padding: 0px;


}
.form-control-toggle-checkbox .form-control-toggle {
  padding-top: 6px;
  padding-left: 6px;
  background: none;
  border: none;
}
.form-control-toggle-checkbox .form-control-toggle p {
  margin-top: 7px;
  font-size: 12px; color: #000000
}
textarea.form-control {
  height: 150px;
  resize: none;
}

.delt-field  input[type="number"] {
  font-size: 16px;
  color: #939598;
  padding: 0 40px 0 8px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1) inset;
  border: 1px solid #b2b2b2;
  width: 100%;
  height: 41px;
  border-radius: 4px;
  background: none;
}

.delt-field textarea  {
  font-size: 16px;
  color: #939598;
  padding: 0 40px 0 8px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1) inset;
  border: 1px solid #B2B2B2;
  width: 100%;
  height: 41px;
  border-radius: 4px;
  background: none;
  resize: none;
  height: 200px;
}
.form-control-toggle > div {
  margin: -5px;
}
.advert_element {
  margin: 0px;
  float: left;
}
.advert_element_mark {
  margin-bottom: 10px;
  padding-left: 37px;
  font-size: 13px;
  font-weight: 600;
}
.advert_element_input {
  margin: 5px;
  font-size: 13px;
  font-weight: 600;
}

label.advert_element  {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 600;
}
.field_fblock {
  margin-top: 10px;
  float: left;
  padding-top: 20px;
  padding-bottom: 16px;
  padding-right: 20px;
  padding-left: 20px;
  border-top: 1px solid #B2B2B2;
  border-bottom: 1px solid #B2B2B2;
  display: inline-block;
}
.field_fblock_right {
  border-right: 1px solid #B2B2B2;
}
.field_fblock_left {
  border-left: 1px solid #B2B2B2;
}
.field_fblock > label{
  float: left;
  margin-top: 2px;
}
.switch_box {
  position: relative;
  float: right;
}
.switch_box div{
  float: left;
  margin-right: 4px;
  margin-left: 1px;
  margin-top: 2px;
}
.switch_box input{

  float: left;
}
.iswitch-lg {
  box-shadow: inset 0 0 0 2px #B2B2B2;
}
