body{
    font-family:Arial, Helvetica, sans-serif;
}
.clear{
    clear:both;
}
ul{
    padding:0;
    margin:0;
}
li{
    list-style:none;
}
.float-right{
    float:right;
}
.float-left{
    float:left;
}
.flag-sec img {
    border-radius: 5px;
}
.top-hader-sec {
    padding: 12px 0;
}
.top-links {
    padding-top:13px;
}
.top-links ul li {
    float: left;
    margin-left: 50px;
}
.top-links ul li a{
    display:block;
    color:#6f6f6f;
    font-size:12px;
}
nav{
    background:url(http://dedge.pk/booking/images/nav-bg.png) repeat-x !important;
    border:none !important;
    border-radius:0px !important;
    margin-bottom:0px !important;
    padding:10px 0 !important;
}
.navbar-brand {
    color: #333 !important;
    font-family: small-caption;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 8px;
}
.navbar-nav > li > a {
    font-size: 16px;
    padding: 16px 23px 17px;
}
.nav.navbar-nav {
    margin-left: 20px;
}
.nav-yellow-btn {
    float: left;
    margin: 17px 0 0 33px;
}
.nav-yellow-btn a {
    background: #ff6600 none repeat scroll 0 0;
    color: #fff;
    padding: 20px 13px;
}
.nav-yellow-btn a:hover{
    text-decoration:none;
}
/*************Inner slider style***********/
.slider-sec {
    background: rgba(0, 0, 0, 0) url("http://dedge.pk/booking/images/inner-slider-img.png") no-repeat scroll center center;
    border-bottom: 1px solid #dddddd;
    padding: 27px 0 81px;
}
.inner-snumber-sec {
    text-align: center;
}
.inner-snumber-sec h3{
    background: #f7941d none repeat scroll 0 0;
    border-radius: 6px;
    color: #000000;
    display: inline-block;
    font-size: 60px;
    padding:10px 13px;
}
.inner-snumber-sec span{
    font-size:30px;
    color:#000000;
    display:block;
}
/*************Inner slider style end***********/

/***********Left form style start ************/
.content-area{
    margin:65px 0 0 0;
}
.outer_row  .col-sm-4{
    padding:10px 10px;
    border:1px solid #dddddd;
}
.left-page-form{
    font-size:16px;
}
.left-page-form p {
    color: #ff6600;
    font-size: 15px;
}
.all_form_top_icon img {
    height: auto;
    width: 15%;
}
/**/
.amount_field_sec{
    overflow:hidden;
    margin-bottom:5px;
}
.price_field {
    float: left;
    width: 87% !important;
}
.fg_amoutn {
    background: #ccc none repeat scroll 0 0;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    color: #454545;
    float: left;
    margin: 0;
    padding: 9px 8px;
    text-align: center;
    width: 34px;
}
.form-group--combobox, .sio-arrow div {
    position: relative;
}
.ui-combobox-dummy {
    background-color: #ededed;
    border-radius: 4px;
    color: #333;
    display: inline-block;
    height: 32px;
    padding: 6px 8px;
    width: 100%;
}
.form-group--combobox input {
    background: #fff none repeat scroll 0 0;
    border-radius: 4px 0 0 4px;
    border-right: medium none;
    position: relative;
    width: calc(96.5% - 34px);
    z-index: 1;
}
input.form-control {
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1) inset;
}
.form-control {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #b2b2b2;
    border-radius: 4px;
    height: 41px;
    padding: 0 8px;
    width: 100%;
}
.all_form_top_icon {
    margin-bottom: 10px;
}
.form-control, input[type="file"], output {
    display: block;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.form-group--combobox select {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}
.form-control--combobox {
    background-image: url("http://dedge.pk/booking/images/drop-select-icon2.png") !important;
    background-position:100% 0px !important;
    background-repeat: no-repeat !important;
    overflow: hidden;
    padding-right: 28px;
    text-indent: 0.01px;
    -moz-appearance:none;
    -webkit-appearance:none;
    -ms-appearance:none;
}
.form-control.form-control--combobox.slct2{
    background-position: 100% 0px !important;
}
.form-control.form-control--combobox.slct3 {
    background-position: 100% 0 !important;
}
.form-control--combobox, .form-control--combobox:hover {
    background-position: right 0;
    background-repeat: no-repeat;
}
.form-control {
    background: #f4f4f4 none repeat scroll 0 0;
    border: 1px solid #b2b2b2;
    border-radius: 4px;
    height: 41px;
    padding: 0 8px;
    width: 100%;
}
.delt-field {
    background: rgba(0, 0, 0, 0) url("http://dedge.pk/booking/images/delte-icon.png") no-repeat scroll 97% center;
    margin: 4px 0 0;
}
.delt-field input[type="text"]{
    font-size:16px;
    color:#939598;
    padding:0 40px 0 8px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1) inset;
    border: 1px solid #b2b2b2;
    width: 100%;
    height: 41px;
    border-radius: 4px;
    background:none;
}
.ycheck1 input[type=checkbox]:not(old), .bluetooth-check input[type=checkbox]:not(old){
    width   : 28px;
    margin  : 0;
    padding : 0;
    opacity : 0;
    display:none;
}

.ycheck1 input[type="checkbox"]:not(old) + label, .bluetooth-check input[type="checkbox"]:not(old) + label{
    background: rgba(0, 0, 0, 0) url("http://dedge.pk/booking/images/unchecked-icon.png") no-repeat scroll 0 0;
    display: inline-block;
    line-height: 33px;
    font-size: 12px;
    margin-left: 0;
    padding-left:40px;
}
.ycheck1 label{
    font-weight:normal;
}
.ycheck1 input[type=checkbox]:not(old):checked + label, .bluetooth-check input[type=checkbox]:not(old):checked + label{
    background   : url('http://dedge.pk/booking/images/checked-icon.png') no-repeat 0 0;
}
.nopadding{
    padding:0px 0px;
}
.yellow-checkbox-form {
    border-bottom: 4px solid #ff6600;
    border-top: 4px solid #ff6600;
    margin: 10px 0;
    overflow: hidden;
    padding: 13px 0 5px;
}
.yellow-checkbox-form2 {
    border-top: 0 none !important;
    padding-top: 0 !important;
}
.slct2{
    position:relative !important;
}
.slct3{
    position:relative !important;
    background-color:#f8f8f9;
    margin-top:5px;
}
.groupslct1 {
    background: #fff none repeat scroll 0 0;
    width: 98%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    margin-bottom: 5px;
    position: relative !important;
}
.six-box-yellow {
    border-bottom: 4px solid #ff6600;
    border-top: 4px solid #ff6600;
    margin: 10px 0;
    overflow: hidden;
    padding: 5px 0 3px;
}
.noleftpadding{
    padding-left:0px;
    padding-right:2px;
}
.norightpadding{
    padding-right:0px;
    padding-left:2px;
}
.yellow-checkbox-form3{
    border-top:0px;
}
.yellow-checkbox-form3  label{
    margin-bottom:0px;
    line-height: 30px;
}
.multi-color-check ul li{
    float:left;
    cursor:pointer;
}
.multi-color-check {
    overflow: hidden;
    margin: 0 0 12px;
}
.multi-color-check ul li:first-child {
    background: rgba(0, 0, 0, 0) url("http://dedge.pk/booking/images/seprites.png") no-repeat scroll 55% -2px;
    height: 30px;
    width: 32px;
}
.multi-color-check ul li:nth-child(2) {
    background: rgba(0, 0, 0, 0) url("http://dedge.pk/booking/images/seprites.png") no-repeat scroll 62% -2px;
    height: 30px;
    width: 30px;
}
.multi-color-check ul li:nth-child(3){
    background: rgba(0, 0, 0, 0) url("http://dedge.pk/booking/images/seprites.png") no-repeat scroll 68.8% -2px;
    height: 30px;
    width: 30px;
}
.multi-color-check ul li:nth-child(4){
    background: rgba(0, 0, 0, 0) url("http://dedge.pk/booking/images/seprites.png") no-repeat scroll 75.6% -2px;
    height: 30px;
    width: 30px;
}
.multi-color-check ul li:nth-child(5){
    background: rgba(0, 0, 0, 0) url("http://dedge.pk/booking/images/seprites.png") no-repeat scroll 82% -2px;
    height: 30px;
    width: 30px;
}
.multi-color-check ul li:nth-child(6){
    background: rgba(0, 0, 0, 0) url("http://dedge.pk/booking/images/seprites.png") no-repeat scroll 88.9% -2px;
    height: 30px;
    width: 30px;
}
.multi-color-check ul li:nth-child(7){
    background: rgba(0, 0, 0, 0) url("http://dedge.pk/booking/images/seprites.png") no-repeat scroll 95.5% -2px;
    height: 30px;
    width: 30px;
}
.multi-color-check ul li:nth-child(8){
    background: rgba(0, 0, 0, 0) url("http://dedge.pk/booking/images/seprites.png") no-repeat scroll 41.3% -34px;
    height: 30px;
    width: 30px;
}
.multi-color-check ul li:nth-child(9){
    background: rgba(0, 0, 0, 0) url("http://dedge.pk/booking/images/seprites.png") no-repeat scroll 48.2% -34px;
    height: 30px;
    width: 30px;
}
.multi-color-check ul li:nth-child(10){
    background: rgba(0, 0, 0, 0) url("http://dedge.pk/booking/images/seprites.png") no-repeat scroll 48.2% -2px;
    height: 30px;
    width: 30px;
}
.multi-color-check ul li:nth-child(11) {
    background: rgba(0, 0, 0, 0) url("http://dedge.pk/booking/images/seprites.png") no-repeat scroll 55% -34px;
    height: 30px;
    width: 30px;
}
.bluetooth-check label{
    font-weight:normal;
    margin-bottom:0;
    line-height:31px;
}
.bluetooth-check .load-more {
    padding-left: 40px;
    padding-top: 10px;
}
.search-form-left a {
    background: #ff6600 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 0 14px 20px;
    width: 100%;
}
.search-form-left a:hover{
    text-decoration:none;
}
.search-form-left i {
    font-size: 28px;
    margin-right: 10px;
}
.play-video a{
    display:inline-block;
    color:#ff6600;
    font-size:16px;
}
.play-video i {
    float: left;
    font-size: 35px;
    margin-right: 20px;
}
.play-video span {
    float: left;
    margin-top: 10px;
}
.play-video {
    margin: 10px 0 0;
}
.left-page-form form .form-group{
    margin-bottom:0px;
}
/***********Left form style end ************/
/***********Right form style start ************/
.right-content-area {
    border: 1px solid #dddddd;
    padding: 5px;
    overflow:hidden;
    border-radius:5px;
}
.right-content-area h2{
    color:#ff6600;
    text-transform:uppercase;
    margin-top:0px;
}
.right-content-area h4{
    color:#000;
    text-transform:uppercase;
    overflow:hidden;
}
.right-content-area .col-sm-4 .sort-listing .form-group--combobox select {
    /*  background: #e2e3e4 url("http://dedge.pk/booking/images/dropdown-arrow.png") no-repeat scroll right top !important;
      height: 26px !important;
      padding-left: 20px;
      width: 80%;*/
}
.right-content-heading {
    border-bottom: 3px solid;
    overflow: hidden;
    color:#e7e8e9;
}
.outer_row .col-sm-3 {
    background: #f3f3f3 none repeat scroll 0 0;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 10px;
}
.right-content-heading {
    border-bottom: 3px solid;
    margin-bottom: 16px;
    overflow: hidden;
}
.right-content-area .col-sm-4 {
    border:none;
}
.outer-list-post {
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    padding: 5px 0;
}
.product-detail-sec{
    font-size:15px;
    color:#000;
}
.pro-detail-text1 {
    font-size: 18px;
}
.product-image-sec > img {
    height: auto;
    width: 100%;
}
.pro-detail-text1 span:first-child{
    border-right: 1px solid;
    display: inline-block;
    line-height: 19px;
    padding: 0 3px 0 0;
}
.pro-detail-text2 {
    margin:12px 0;
}
.pro-detail-text2 span {
    border-right: 2px solid #aaaaaa;
    padding-right: 7px;
}
.pro-detail-text2 span:last-child{
    border:none;
}
.pro-icon-sec .picon1 {
    color: #ed1c24;
    display: inline-block;
    font-size: 20px;
    height: 22px;
    width: 22px;
}
.picon1.green-picon {
    color: #009363;
}
.pro-icon-sec .picon2{
    display: inline-block;
    height: 22px;
    width: 22px;
    font-size: 20px;
}
.pro-icon-sec .picon3 {
    display: inline-block;
    font-size: 20px;
    height: 22px;
    width: 22px;
}
.pro-icon-sec .picon4, .yello_picon4 {
    display: inline-block;
    height: 22px;
    width: 22px;
    font-size: 20px;
}
.picon4 .fa.fa-clock-o, .yello_picon4 .fa.fa-clock-o{
    font-size: 22px;
}
.product-detail-sec > p {
    font-size: 12px;
    margin-bottom: 0;
}
.product-pric-sec span {
    color: #ff6600;
    display: inline-block;
    font-size: 18px;
}
.marg-icon-sec{
    border-right:1px solid #dddddd;
}
.product-pric-sec{
    overflow:hidden;
}
.product-pric-sec img {
    float: right;
    padding-right: 8px;
}
.prict-text3, .prict-text4{
    font-size:11px;
}
.prict-text4 span{
    font-size:14px;
}
.prict-text3 {
    padding-top: 27px;
}
.yellow-post {
    background: #ffd9bf none repeat scroll 0 0;
    border-bottom: 1px solid #ff6600;
    border-top: 1px solid #ff6600;
    padding: 4px 0;
}
.yellow-post .marg-icon-sec {
    border-right: 1px solid #000;
}
.yello_picon1{
    height:22px;
    font-size:20px;
    width:22px;
    display:inline-block;
    color: #0054a6;
}
.yello_picon2 {
    display: inline-block;
    font-size: 20px;
    height: 22px;
    width: 22px;
}
.yello_picon3 {
    display: inline-block;
    font-size: 20px;
    height: 22px;
    width: 22px;
}
.yello_picon4{
    display: inline-block;
    font-size: 20px;
    height: 22px;
    width: 22px;
}
.yellow_prict_text3{
    padding-top:3px;
}
.prict-btn > a {
    border: 1px solid #dddddd;
    border-radius: 5px;
    color: #000;
    display: block;
    margin-bottom: 16px;
    margin-top: 16px;
    padding: 5px;
}
.pagi_new {
    padding: 70px 0 10px;
    text-align: center;
}
.active_pagi a {
    background: #ff6600 none repeat scroll 0 0 !important;
    color: #fff !important;
}
/***********Right form style end ************/
.footer-sec1 {
    border-top: 3px solid #ececec;
    margin: 20px;
    padding: 10px 0;
}
.footer-sec1 p{
    font-size:10px;
}
.footer-sec1 .widget{
    background: #8e8e8e none repeat scroll 0 0;
    height: 150px;
}
.footer-sec1 .row {
    margin-bottom: 30px;
}
.copy-write-text{
    color:#a1a1a1;
    font-size:12px;
}
.copy-write-text a{
    color:#f7941d;
    font-size:12px;
    text-decoration:none;
}
.footer-sec2 {
    background: #343434 none repeat scroll 0 0;
    padding: 20px 25px;
}
.footer-links{
    text-align:right;
}
.footer-links a {
    color: #fff;
    font-size: 14px;
    margin-left: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

/****************************************Home Page style start*************************************/
.home-slider-sec{
    background:url(http://dedge.pk/booking/images/home-slider-bg.png) no-repeat center center;
    padding: 25px 0 45px;
}
.slider-form-sec{
    background:url(http://dedge.pk/booking/images/home-form-bg.png) repeat;
    padding:35px 30px;
    border-radius: 10px;
}
.home_all_form_top_icon img {
    height: auto;
    width: 15%;
}
.home_slider_text {
    padding: 160px 0 0;
}
.home_slider_text h1 {
    font-size: 30px;
    text-align: center;
}
.home_slider_text > p {
    font-size: 13px;
    line-height: 23px;
    text-align: center;
}
.home-slct1, .home-slct3{
    top: 50px;
}
.home-slct2, .home-slct4{
    top: 58px;
}
.gender-sec {
    margin: 71px 0 0;
}
.gender-sec input{
    display:none;
}
.gender-sec input[type=radio]:not(old), .ycheck22 input[type=radio]:not(old), .ycheck23 input[type=radio]:not(old){
    width   : 28px;
    margin  : 0;
    padding : 0;
    opacity : 0;
    display:none;
}

.gender-sec input[type=radio]:not(old) + label, .ycheck22 input[type=radio]:not(old) + label, .ycheck23 input[type=radio]:not(old) + label{
    display      : inline-block;
    margin-left  : 0;
    padding-left : 40px;
    background   : url('http://dedge.pk/booking/images/radio-uncheck.png') no-repeat 0 0;
    line-height  : 30px;
    font-weight:normal;
}
.reset-pass > a {
    color: #ff6600;
    text-decoration: underline;
}
.ycheck1.ycheck22 > label, .ycheck1.ycheck23 > label{
    font-size: 13px;
}
.gender-sec input[type=radio]:not(old):checked + label, .ycheck22 input[type=radio]:not(old):checked + label, .ycheck23 input[type=radio]:not(old):checked + label{
    background   : url('http://dedge.pk/booking/images/radio-check.png') no-repeat 0 0;
}
.home_all_form_top_icon {
    margin: 0 0 30px;
}
.home-search-btn {
    margin:0px 0 10px 0 ;
}
.reset-pass {
    margin: 78px 0 33px;
}
.home-search-btn a{
    background: #ff6600 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 0 14px;
    width: 100%;
    text-align: center;
}
.home-search-btn a:hover{
    text-decoration:none;
}
.home-search-btn i {
    font-size: 28px;
    margin-right: 10px;
}
.home-search-btn2 a{
    border-radius: 5px;
    border: 1px solid #ff6600;
    color: #ff6600;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 0 14px;
    width: 100%;
    text-align: center;
}
.home-search-btn2 a:hover{
    text-decoration:none;
}
.inner-home-content-area h1, .inner-gray-sec h1{
    font-size: 30px;
    margin-bottom: 5px;
    text-align: center;
    margin-top: 30px;
}
.inner-home-content-area p, .inner-gray-sec p{
    text-align: center;
    font-size:13px;
}
.yellow_home_sep {
    background: #ff6600 none repeat scroll 0 0;
    display: block;
    height: 5px;
    margin: 0 auto 30px;
    width: 12%;
}
.slider-post-1{
    font-size:16px;
    color:#000;
}
.flip-slider-img{
    margin-bottom:20px;
}
.flip-slider-img > img {
    width: 260px;
}
.fs-title_km, .fs-date{
    color: #333;
}
.inner-home-content-area .slick-prev.slick-arrow {
    background: rgba(0, 0, 0, 0) url("http://dedge.pk/booking/images/slider-prev-img.png") no-repeat scroll center center / 100% auto;
    height: 40px;
    left: -37px;
    top: 25%;
    width: 30px;
    z-index:9999;
}
.inner-home-content-area .slick-next.slick-arrow {
    background: rgba(0, 0, 0, 0) url("http://dedge.pk/booking/images/slisder-next-img.png") no-repeat scroll center center / 100% auto;
    height: 40px;
    right:-13px;
    top: 25%;
    z-index:9999;
    width: 30px;
}
.inner-home-content-area .slick-prev.slick-arrow.slick-disabled{
    background: rgba(0, 0, 0, 0) url("http://dedge.pk/booking/images/slisder-prev-img.png") no-repeat scroll center center / 100% auto;
    height: 40px;
    left: -37px;
    top: 25%;
    width: 30px;
    z-index:9999;
}
.inner-home-content-area .slick-next.slick-arrow.slick-disabled{
    background: rgba(0, 0, 0, 0) url("http://dedge.pk/booking/images/slisder-prev-img2.png") no-repeat scroll center center / 100% auto;
    height: 40px;
    right:-13px;
    top: 25%;
    width: 30px;
    z-index:9999;
}
.home-slct1 input {
    width: calc(97% - 32px);
}
.gray_slider_outer {
    background: #dddddd none repeat scroll 0 0;
    margin-top: 30px;
    padding-bottom: 20px;
}
.gray_slides img{
    width:100%;
    height:auto;
}
.inner-gray-sec .slick-prev.slick-arrow {
    background: rgba(0, 0, 0, 0) url("http://dedge.pk/booking/images/slider-prev-img.png") no-repeat scroll center center / 100% auto;
    height: 40px;
    left: 84%;
    top: 5%;
    width: 30px;
    z-index: 999;
}
.inner-gray-sec .slick-next.slick-arrow{
    background: rgba(0, 0, 0, 0) url("http://dedge.pk/booking/images/slisder-next-img.png") no-repeat scroll center center / 100% auto;
    height: 40px;
    right: 20px;
    top: 5%;
    width: 30px;
    z-index: 999;
}
.inner-gray-sec .slick-prev.slick-arrow.slick-disabled{
    background: rgba(0, 0, 0, 0) url("http://dedge.pk/booking/images/slisder-prev-img.png") no-repeat scroll center center / 100% auto;
    height: 40px;
    left: 84%;
    top: 5%;
    width: 30px;
    z-index: 999;
}
.inner-gray-sec .slick-next.slick-arrow.slick-disabled{
    background: rgba(0, 0, 0, 0) url("http://dedge.pk/booking/images/slisder-prev-img2.png") no-repeat scroll center center / 100% auto;
    height: 40px;
    right: 20px;
    top: 5%;
    width: 30px;
    z-index: 999;
}
.inner-thumnail-sec {
    outline: 9px solid #fff;
}
.thum_img {
    border-bottom: 3px solid #fff;
    border-radius: 0;
    margin-bottom: 0;
    padding: 0;
}
.thum_product_info {
    background: #ff6600 none repeat scroll 0 0;
    font-size: 13px;
    overflow: hidden;
    padding:9px 0 9px;
    text-transform: uppercase;
}
.ptitle_info {
    padding-left: 10px;
    padding-right: 0;
}
.pprice_info strong {
    color: #fff;
    display: block;
    font-size: 17px;
    font-weight: bold;
    text-align: right;
}
.pprice_info > span {
    display: block;
    font-size: 11px;
    text-align: right;
}
.thum_img {
    border-radius: 0;
    margin-bottom: 0;
}
.inner_home_thum_sec.inner_home_thum_sec1 {
    min-height: 270px;
    overflow: hidden;
    padding-top: 10px !important;
}
.inner_home_thum_sec2 {
    min-height: 280px;
    overflow: hidden;
    padding-top:8px;
}
.thum_img.thumbnail > img {
    height:auto;
    width: 100%;
}
.pro_thumnail_outer_sec {
    padding: 0;
}
.home_widget_sec {
    border: medium none;
    margin:0;
}
.home_widget_sec .row {
    margin-bottom: 0;
}
.home_footer_links {
    margin-top: 0px  !important;
}
.home_widget_sec .widget {
    margin-bottom: 0;
    height: 280px;
}
.home-footer2 {
    border: medium none;
    margin-bottom: 0;
}
/****************************************Home Page style end*************************************/
/*#############################10/10/2015 Awais Css########################################*/
.aw-container .navbar-collapse{
    padding-right:0px;
}
.aw-container{
    padding-right:0px !important;
}
/*.aw-nav{
margin-left:7% !important;

}*/
.aw-header-links {
    padding-left: 67px;
}
#show-number{
    display:none;
}
.aw_yellow_btn a {
    font-size: 14px;
    padding: 18px 25px !important;
    display:inline-block;
}

.aw_yellow_btn {
    margin-left: 5px;
    margin-top:7px;
}
.aw-nav-menu{
    padding-top:0px !important;
    padding-bottom:0px !important;
}
/*.aw-nav-menu .navbar-header , .aw-nav-menu .nav-yellow-btn{
	padding:10px 0;
}*/
.aw-nav-menu #navbar ul li a:hover{
    background-color:rgb(236,236,236);
}
.aw-nav-menu #navbar ul li a {
    border-right: 1px solid #ccc;
    padding: 27px 25px 22px;
}
/*.aw-nav-menu #navbar ul .link-second a {
  padding: 27px 28px 22px !important;
}
.aw-nav-menu #navbar ul .link-third a {
  padding: 27px 24px 22px !important;
}
.aw-nav-menu #navbar ul .link-four a {
  padding: 27px 31px 22px !important;
}
.aw-nav-menu #navbar ul .link-five a {
  padding: 27px 28px 22px !important;
}
.aw-nav-menu #navbar ul li:last-child a{
  border-right:0px !important;
}*/
.aw-nav-menu #navbar ul li:last-child a, .aw-nav-menu #navbar ul li:nth-child(5) a{
    border-right:0px !important;
}
.aw-slider{
    margin-top:5px;
}
.header-logo2 {
    margin-left: 10px;
    margin-top: 8px;
}
.post-sec i{
    cursor:pointer;
}
.usabilla_live_button_container{
    display:none !important;
}
.visible-xs-block{
    display:none !important;
}
.outer_sider_one {
    border: 10px solid #fff;
    padding: 0;
}
.outer_sider_one .flip-slider-img.gray_slides {
    margin: 0;
}
.outer_sider_one .one-time.slick-initialized.slick-slider {
    margin-bottom: 0;
}

/*#############################10/10/2015 Awais Css########################################*/
.aw-container .navbar-header{
    margin-top:10px;
}
/*#############################10/12/2015 Awais Css########################################*/
.aw-home-page .header-logo2{
    margin-left:0px;
}
.aw-home-page .col-sm-9{
    padding-right:0px !important;
}
.banner-box{
    display:none !important;
}
/*#############################10/12/2015 Awais Css########################################*/
/***************************************************Awais css*********************************************/
.mysub-btn a{
    background: rgb(255, 102, 0) none repeat scroll 0 0;
    border-radius: 3px;
    color: #000;
    display: inline-block;
    padding:5px 11px 5px 12px;
    font-size:15px;
}
.slider-section {
    margin-top: 5px;
    padding: 0;
}
.header-icon{
    color:rgb(255,101,0);
}
.user-icon {
    display: inline-block;
    font-size: 25px;
    margin-top: -15px;
    padding-left: 10px;
}

.left-slider-anker{}
.left-slider-anker a {
    background: rgb(255, 102, 0) none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    padding: 10px;
}
.inner-pages-content{
    margin-top:0px;
}
.breadkrum li{
    display:inline-block;
}
.breadkrum li a{
    color:#626262;
    font-size:11px;
    margin-left:5px;
}
.breadkrum{
    padding-top:10px;
    padding-bottom:10px;
}
.post-data{
    margin-bottom:40px;
    background:rgb(236,236,236);
    padding-top:5px;
    padding-bottom:5px;
}
.post-sec p {
    color: #626262;
    font-size: 12px;
    margin: 0;
}
.post-sec h3 {
    color: rgb(254, 102, 1);
    font-size: 24px;
    margin: 0 0 5px;
}
.col-build-2 {
    width: 14%;
}
.col-build-2 h3 {
    font-weight: bold;
    margin-top: 25px;
}
.col-build-3 i {
    margin-left: 20px;
}
.col-build-3 {
    width: 20%;
}
.col-build-3 h3 {
    margin-top: 20px;
}
.col-build-4 {
    width: 30%;
}
.left-area {
    background: rgb(238, 238, 238) none repeat scroll 0 0;
    border-radius: 5px;
    padding: 25px 25px 130px !important;
}
.first-left-title{
    font-size:11px;
}
.hr {
    border: 1px dashed;
    color: #ccc !important;
    margin-bottom: 10px;
    margin-top: 15px;
}
.left-head-section p{
    margin:0px;
}
.left-head-section span:first-child{
    display:inline-block;
    width:50%;
}
.left-head-section span:last-child{
    display:inline-block;
}
.logo-diler a {
    color: #000;
    font-size: 14px;
}
.logo-diler {
    border: 1px solid;
    border-radius: 5px;
    color: #999;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}
.contact-buton a {
    background: rgb(255, 102, 0) none repeat scroll 0 0;
    border-radius: 3px;
    color: #000;
    display: inline-block;
    padding: 5px 8px 5px 6px;
}
.contact-content {
    font-size: 16px;
}
.left-form-section h3{
    margin-bottom:30px;
}
.input-field {
    background-color: #fff;
    border: 2px solid #ccc;
    margin-bottom: 10px;
    margin-top: 10px;
}
.text-area {
    min-height: 100px;
}
.left-botom{
    margin-top:30px;
}
.checkbox-label {
    font-size: 11px !important;
    line-height: 16px !important;
    padding-left: 52px !important;
}
.left-btoom{
    display:block;
    font-size:12px;
}
.inner-right-area {
    border-color: #ccc;
    border-radius: 5px;
    padding: 30px;
    padding-bottom: 105px;
}
.inner-heading h3 {
    margin: 0;
}
.inner-heading hr {
    border: 1px solid #b6b7b7;
    color: #000;
    margin-top: 5px;
}
.right-content div {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
}
.right-bttom {
    padding-bottom: 0;
}
.right-bttom i {
    background: rgb(255, 102, 0) none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    margin-right: 12px;
    padding: 3px;
}
.long-des {
    font-size: 12px;
}
.short-des {
    margin-bottom: 20px;
    margin-top: 20px;
}
.short-des p{
    margin:0;
    font-size:12px;
}
.min-des{
    font-size:12px;
}
.inner-footer{
    border-top:0px !important;
}
.footer-icon-sec {
    background: rgb(236, 236, 236) none repeat scroll 0 0;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.footerr-content {
    margin-bottom: 3px;
}
.footerr-content a:hover{
    color:rgb(255,102,0);
    text-decoration:underline;
}
.footer-digits{
    color:#000 !important;

}
.footerr-content a {
    display:inline-block;
    background: rgba(0, 0, 0, 0) url("http://dedge.pk/booking/images/right-arraow.png") no-repeat scroll 0 0;
    color: #000;
    font-size: 13px;
    margin-left: 0;
    padding-left: 20px;
}
.breadcrum-last{
    font-size:11px;
    font-weight:bold;
}
.aw-slider {
    background: rgba(0, 0, 0, 0) url("http://dedge.pk/booking/images/bg-slider.png") no-repeat scroll center center;
}
.aw-slider .container .col-sm-12 .single-item{
    margin-bottom:0px;
}
.aw-slider .container .col-sm-12 .single-item .slick-prev {
    background: rgba(0, 0, 0, 0) url("http://dedge.pk/booking/images/left-arrow-slider.jpg") no-repeat scroll 0 0 / 100% auto;
    height:50px;
    left: 150px;
    top: 126px;
    width:50px;
    z-index:9999;
}
.aw-slider .container .col-sm-12 .single-item .slick-next {
    background: rgba(0, 0, 0, 0) url("http://dedge.pk/booking/images/right-arrow-slider.jpg") no-repeat scroll 0 0 / 100% auto;
    height: 50px;
    right: 150px;
    top: 126px;
    width: 50px;
    z-index: 9999;
}
.aw-slider .container .col-sm-12 .single-item .slider-img img{
    margin:0 auto;
    width:50%;
}
.header-links{
}
.bg-img {
    background: rgba(0, 0, 0, 0) url("http://dedge.pk/booking/images/bg-img.png") no-repeat scroll 0 0;
    display: inline-block;
    padding-left: 30px;
}
.submit-buton button {
    background: #ff6600 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 5px;
    color: #000;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding:17px 0  17px;
    width: 100%;
}
.aw_yellow_btn {
    margin-left: 44px !important;
}
.index2-aw-buton {
    float: right;
}
/***************************************************** awais css end ***************************************************/
.new_yellow_cls {
    margin-left: 0 !important;
}
.nav-yellow-btn.aw_yellow_btn.new_yellow_cls {
    margin: 0;
}
.nav-yellow-btn.aw_yellow_btn.new_yellow_cls  a{
    color:#fff !important;
}
.nav-yellow-btn.aw_yellow_btn.new_yellow_cls  a:hover{
    background:#ff6600 !important;
    color:#fff !important;
}
.aw-nav-menu .aw-container #navbar .nav .new_yellow_cls{
    padding-top:5px;
    padding-bottom:5px;
}
.aw-nav-menu .aw-container #navbar .nav .new_yellow_cls a {
    padding-bottom: 18px !important;
    padding-top: 21px !important;
}





@media (max-width:1170px){
    .aw-nav-menu #navbar ul li a {
        padding: 27px 9px 22px ;
    }
}
@media all and (min-width:1171px) and (max-width:1279px){
    .aw_yellow_btn {
        margin-top: 7px;
    }
    .aw_yellow_btn a{
        padding-top:18px !important;
        padding-bottom:18px !important;
    }
    .aw-nav-menu #navbar ul li a {
        padding: 27px 9px 22px ;
    }
    .top-links ul li {
        margin-left: 30px;
    }
    /*.nav-yellow-btn {
      margin: 17px 0 0;
    }*/
    .nav.navbar-nav {
        margin-left: 13px;
    }
    .norightpadding {
        padding-left: 0;
        padding-right: 0;
    }
    .noleftpadding {
        padding-left: 0;
        padding-right: 0;
    }
    .right-content-area .col-sm-4 .sort-listing .form-group--combobox select {
        padding-left: 8px !important;
        text-align: left !important;
        width: 91%;
    }
    .right-content-area h2{
        font-size: 25px;
    }
    .right-content-area h4 {
        font-size: 13px;
    }
    .form-group--combobox input {
        width: calc(96.5% - 32px);
    }
    .footer-sec1 .widget {
        margin-bottom: 10px;
    }
    .aw-nav-menu #navbar ul li a {
        border-right: 1px solid #ccc;
        padding: 25px 9px 22px;
    }
    .aw-nav {
        margin-left: 0% !important;
    }
    .aw-nav-menu .aw-container #navbar .nav .new_yellow_cls a {
        padding-bottom: 18px !important;
        padding-top: 21px !important;
        width: auto !important;
        text-align: center;
        padding-left: 14px !important;
        padding-right: 15px !important;
    }
}
@media all and (min-width:1025px) and (max-width: 1169px){
    /*awais css$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
    .aw-nav-menu #navbar ul li a {
        padding: 25px 13px 22px;
    }
    .aw_yellow_btn {
        margin: 7px 0 0 !important;
    }
    .header-logo2{
        margin-left:0px;
    }
    /*awais css$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

    .top-links ul li {
        margin-left: 30px;
    }
    .nav-yellow-btn {
        margin: 17px 0 0;
    }
    .nav.navbar-nav {
        margin-left: 13px;
    }
    .norightpadding {
        padding-left: 0;
        padding-right: 0;
    }
    .noleftpadding {
        padding-left: 0;
        padding-right: 0;
    }
    .right-content-area .col-sm-4 .sort-listing .form-group--combobox select {
        padding-left: 8px !important;
        text-align: left !important;
        width: 91%;
    }
    .right-content-area h2{
        font-size: 25px;
    }
    .right-content-area h4 {
        font-size: 13px;
    }
    .form-group--combobox input {
        width: calc(96.5% - 32px);
    }
    .footer-sec1 .widget {
        margin-bottom: 10px;
    }
    /*.aw-nav-menu #navbar ul li a {
      border-right: 1px solid #ccc;
      padding: 25px 21px 22px !important;
      font-size:100%;
    }*/
    .aw-nav {
        margin-left: 3% !important;
    }
    .aw-nav-menu .aw-container #navbar .nav .new_yellow_cls a {
        padding-bottom: 18px !important;
        padding-top: 21px !important;
        width: auto !important;
        text-align: center;
        padding-left: 14px !important;
        padding-right: 15px !important;
    }
    .header-icon i{
        display:none;
    }
}
@media all and (min-width:901px) and (max-width: 1024px){
    .top-links ul li {
        margin-left: 30px;
    }
    /*.nav-yellow-btn {
      margin: 17px 0 0;
    }*/
    .nav.navbar-nav {
        margin-left: 13px;
    }
    .norightpadding {
        padding-left: 0;
        padding-right: 0;
    }
    .noleftpadding {
        padding-left: 0;
        padding-right: 0;
    }
    .right-content-area .col-sm-4 .sort-listing .form-group--combobox select {
        padding-left: 8px !important;
        text-align: left !important;
        width: 91%;
    }
    .right-content-area h2{
        font-size: 25px;
    }
    .right-content-area h4 {
        font-size: 13px;
    }
    .form-group--combobox input {
        width: calc(96.5% - 32px);
    }
    .footer-sec1 .widget {
        margin-bottom: 10px;
    }
    .nav-yellow-btn {
        float: left;
    }
    .ficon1 > img {
        height: auto;
    }
    .nav-yellow-btn {
        display: none;
        float: left;
    }
    .navbar-nav > li > a {
        font-size: 15px;
        padding: 16px 18px 17px;
    }
    .all_form_top_icon img {
        height: auto;
        width: 13%;
    }
    .footer-links {
        text-align: center;
    }
    .copy-write-text{
        margin-bottom: 5px;
    }
    .top-links ul li {
        margin-left: 6px;
        float: none;
    }
    .top-links {
        padding-top: 0;
    }
    .float-right {
        float: right;
    }
    /**/
    .outer-list-post .col-lg-4 {
        float: left;
        width: 38%;
    }
    .outer-list-post .col-lg-6.marg-icon-sec {
        float: left;
        width: 61%;
    }
    .pro-icon-sec {
        overflow: hidden;
    }
    .pro-icon-sec .row {
        float: left;
        width: 50%;
    }
    .product-pric-sec {
        border-top: 1px solid;
        clear: both;
        padding: 5px 0;
    }
    .product-pric-sec span {
        float: left;
    }
    .product-pric-sec > a {
        display:none;
    }
    .prict-text2 {
        float: left;
        margin-right: 15px;
        margin-left: 15px;
    }
    .prict-text3.yellow_prict_text3 {
        float: left;
    }
    .prict-text4 {
        float: left;
        margin-left: 15px;
    }
    .prict-text4 span {
        margin-right: 10px;
    }
    .prict-btn {
        display: none;
    }
    .prict-text3 {
        float: left;
        padding-top: 0;
    }
    .noleftpadding {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .norightpadding {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .search-form-left a {
        padding: 10px 6px 14px 20px;
    }
    .outer-list-post .col-lg-2 {
        overflow: hidden;
    }

    .home_all_form_top_icon img {
        height: auto;
        width: 15%;
    }
    .home-search-btn2 a {
        font-size: 14px;
    }
    .header-logo2 {
        margin-top: 30px;
    }
    .inner-home-content-area .slick-prev.slick-arrow.slick-disabled, .inner-home-content-area .slick-prev.slick-arrow{
        left: -31px !important;
    }
    .inner-home-content-area .slick-next.slick-arrow.slick-disabled, .inner-home-content-area .slick-next.slick-arrow {
        right: -31px !important;
    }
    .inner-gray-sec .slick-prev.slick-arrow.slick-disabled, .inner-gray-sec .slick-prev.slick-arrow{
        left: 81%;
    }
    .home-slct1 .form-group--combobox select {
        padding-right: 37px;
    }
    .gray_slides img{
        width: 101%;
    }
    .thum_img.thumbnail > img {
        height: auto;
    }
    .ptitle_info {
        font-size: 11px;
    }
    .pprice_info > span{
        font-size: 9px;
    }
    .inner_home_thum_sec.inner_home_thum_sec1 {
        min-height: 225px;
        padding-top: 8px !important;
    }
    .inner_home_thum_sec2 {
        min-height: 230px;
        overflow: hidden;
        padding-top: 12px;
    }
    .gray_slider_outer {
        padding-bottom: 30px;
    }
    .inner-home-content-area .flip-slider-img > img {
        width: 97%;
    }
    .thum_product_info {
        padding: 7px 0;
    }
    .form-group--combobox select {
        padding-right: 38px;
    }
    /***************Awais***************/
    .aw-nav-home-page .aw-container #navbar ul li .index2-aw-buton{
        display:none;
    }
    .aw_yellow_btn{
        margin-top:10px !important;
        margin-left:20px !important;
        margin-right:15px;
    }
    .aw-nav{
        margin-left:0px !important;
    }
    .aw_yellow_btn a{
        padding-top:15px !important;
        padding-bottom:15px !important;
        padding-right:10px !important;
        padding-left:10px !important;
    }
    .aw-container .navbar-header{
        margin-top:11px;
    }
    .aw_yellow_btn{
        display:block;
    }
    .home-slider-sec{
        padding:0 0 45px !important;
    }
    .left-area {
        padding: 25px 25px 114px !important;
    }
    .contact-buton a {
        font-size: 15px;
    }
    .header-links{
        margin:0px;
    }
    /*.slick-next.slick-arrow {
      right: 160px !important;
    }
    .slick-prev {
      left: 160px !important;
    }*/
    .header-links{
    }
    .user-icon {
        margin:0px;
    }
    .contact-buton {
        display: block;
        margin-top: 10px;
    }
    .aw-nav-menu .aw-container #navbar .nav .new_yellow_cls a {
        display: none;
    }
    .aw-nav-menu #navbar ul li a {
        border-right: 1px solid #ccc;
        padding: 27px 9px 22px;
    }
    /*.aw-nav {
        margin-left:3% !important;
    }*/
}
@media (max-width: 980px){
    /***************Awais***************/
    /*.slick-prev {
      left: 100px !important;
    }
    .slick-next.slick-arrow {
      right: 100px !important;
    }*/
    .aw-slider .container .col-sm-12 .single-item .slick-prev {
        background-size: 85% auto;
        left: 85px !important;
        top: 90px;
    }
    .aw-slider .container .col-sm-12 .single-item .slick-next {
        background-size: 85% auto;
        right: 70px !important;
        top: 90px;
    }
    .checkbox-label {
        padding-left: 37px !important;
    }
    .search-form-left a {
        padding: 14px 0 13px 0px;
    }
    .half-section {
        width: 100%;
    }
    .second-half-section {
        width: 100%;
    }
    /***************Awais***************/
}
@media all and (min-width:769px) and (max-width: 900px){

    .top-links ul li {
        margin-left: 30px;
    }
    .top-links ul li{
        float:none !important;
    }
    .nav-yellow-btn {
        margin: 17px 0 0;
    }
    .nav.navbar-nav {
        margin-left: 13px;
    }
    .norightpadding {
        padding-left: 0;
        padding-right: 0;
    }
    .noleftpadding {
        padding-left: 0;
        padding-right: 0;
    }
    .right-content-area .col-sm-4 .sort-listing .form-group--combobox select {
        padding-left: 8px !important;
        text-align: left !important;
        width: 91%;
    }
    .right-content-area h2{
        font-size: 25px;
    }
    .right-content-area h4 {
        font-size: 13px;
    }
    .form-group--combobox input {
        width: calc(96.5% - 32px);
    }
    .footer-sec1 .widget {
        margin-bottom: 10px;
    }
    .nav-yellow-btn {
        float: left;
    }
    .ficon1 > img {
        height: auto;
    }
    .nav-yellow-btn {
        display: none;
        float: left;
    }
    .navbar-nav > li > a {
        font-size: 15px;
        padding: 16px 18px 17px;
    }
    .all_form_top_icon img {
        height: auto;
        width: 13%;
    }
    .footer-links {
        text-align: center;
    }
    .copy-write-text{
        margin-bottom: 5px;
    }
    .top-links ul li {
        margin-left: 6px;
        float: none !important;
    }
    .top-links {
        padding-top: 0;
    }
    .float-right {
        float: right;
    }
    .right-content-area .col-sm-4 .sort-listing .form-group--combobox select {
        font-size: 9px;
        padding-left: 8px !important;
        text-align: left !important;
        width: 100%;
    }
    .copy-write-text {
        text-align: center;
    }
    .form-group--combobox input {
        width: calc(98.5% - 34px);
    }
    .outer-list-post .col-lg-6 {
        float: left;
        width: 65%;
    }
    .outer-list-post .col-lg-2 {
        float: left;
        padding-bottom: 15px;
        padding-top: 15px;
        width: 30%;
    }
    .pro-icon-sec {
        overflow: hidden;
    }
    .left-page-form p {
        color: #ff6600;
        font-size: 13px;
    }
    .pro-icon-sec .row {
        float: left;
        width:60%;
    }
    .pro-icon-sec .row .col-lg-6 {
        float: none;
        margin-bottom: 10px;
        margin-top: 5px;
        font-size: 13px;
        width: auto;
    }
    .product-detail-sec {
        padding-bottom: 15px;
        padding-left: 30px;
        padding-top: 15px;
    }

    .aw-nav-menu #navbar ul li a {
        padding: 27px 6px 22px !important;
    }
    .aw-nav {
        margin-left: 5px !important;
    }
    .home_all_form_top_icon img {
        height: auto;
        width: 15%;
    }
    .slider-form-sec .form-group--combobox select {
        padding-right: 38px;
    }
    .gender-sec label {
        font-size: 8px;
    }
    .reset-pass > a {
        font-size: 11px;
    }
    .home-search-btn a {
        font-size: 11px;
        padding: 14px 0 14px 10px;
    }
    .home-search-btn2 a {
        font-size: 10px;
        padding: 14px 0 14px 10px;
    }
    .inner-home-content-area .flip-slider-img > img {
        width: 97%;
    }
    .inner-home-content-area .slick-next.slick-arrow {
        right: -24px;
    }
    .inner-home-content-area .slick-next.slick-arrow {
        right: -24px;
    }
    .inner-home-content-area .slick-prev.slick-arrow {
        left: -32px;
    }
    .inner-gray-sec .outer_sider_one {
        width: 100%;
    }
    .pro_thumnail_outer_sec {
        width: 100%;
    }
    .inner_home_thum_sec.inner_home_thum_sec1 {
        min-height: 330px;
        margin-top: 20px;
    }
    .inner_home_thum_sec2 {
        min-height: 330px;
    }
    .header-logo2 {
        margin-top: 30px;
    }
    /***************Awais***************/
    .aw-container .navbar-header {
        padding: 13px 0;
        text-align: center;
    }
    .aw-container .navbar-header .navbar-brand {
        float: none;
    }
    .aw-nav-menu .aw-container .navbar-header {
        width: 100%;
        padding-left:20px;
    }
    .aw-nav-menu .aw-container #navbar {
        background-color: rgb(226, 227, 228);
        float: left;
        margin-top: 13px;
        padding-left: 20px;
        width: 100%;
    }
    .aw-nav-menu .aw-container #navbar ul li .aw_yellow_btn {
        display: inline-block;
        margin-left: 0 !important;
        margin-top: 0;
    }
    .aw-container{
        padding-left:0px !important;
    }
    .aw-nav-menu .aw-container #navbar ul {

        margin-left: 0 !important;
    }
    .aw-nav-home-page .aw-container #navbar ul li a {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .left-area {
        text-align: center;
    }
    .left-area {
        padding: 25px 25px 379px !important;
    }
    .contact-buton a{
        font-size:14px;
    }
    /*.slick-prev {
      left: 100px !important;
    }*/

    .user-icon {
        margin:0;
    }
    .aw-nav-menu .aw-container #navbar .nav .new_yellow_cls a {
        display: none;
    }
    .aw-nav-menu #navbar ul li a {
        border-right: 1px solid #ccc;
        padding: 27px 17px 22px !important;
    }
    .aw-nav {
        margin-left:3% !important;
    }
    /***************Awais***************/
}
@media all and (max-width:768px){
    .new_yellow_cls a{
        display:none !important;
    }
    .aw-container .navbar-header .navbar-toggle{
        margin-right: 45px !important;
    }
    .top-links ul li {
        margin-left: 30px;
    }
    .nav-yellow-btn {
        margin: 17px 0 0;
    }
    .nav.navbar-nav {
        margin-left: 0;
    }
    .norightpadding {
        padding-left: 0;
        padding-right: 0;
    }
    .noleftpadding {
        padding-left: 0;
        padding-right: 0;
    }
    .right-content-area .col-sm-4 .sort-listing .form-group--combobox select {
        padding-left: 8px !important;
        text-align: left !important;
        width: 91%;
    }
    .right-content-area h2{
        font-size: 25px;
    }
    .right-content-area h4 {
        font-size: 13px;
    }
    .form-group--combobox input {
        width: calc(96.5% - 32px);
    }
    .footer-sec1 .widget {
        margin-bottom: 10px;
    }
    .nav-yellow-btn {
        float: left;
    }
    .ficon1 > img {
        height: auto;
    }
    .nav-yellow-btn {
        display: none;
        float: left;
    }
    .navbar-nav > li > a {
        font-size: 15px;
        padding: 16px 18px 17px;
    }
    .all_form_top_icon img {
        height: auto;
        width: 13%;
    }
    .footer-links {
        text-align: center;
    }
    .copy-write-text{
        margin-bottom: 5px;
    }
    .top-links ul li {
        margin-left: 6px;
        float: none;
    }
    .top-links {
        padding-top: 0;
    }
    .float-right {
        float: right;
    }
    .right-content-area .col-sm-4 .sort-listing .form-group--combobox select {
        font-size: 9px;
        padding-left: 8px !important;
        text-align: left !important;
        width: 100%;
    }
    .copy-write-text {
        text-align: center;
    }
    .form-group--combobox input {
        width: calc(98.5% - 34px);
    }
    .outer-list-post .col-lg-6{
        float: left;
        width: 65%;
    }
    .product-detail-sec {
        padding-bottom: 15px;
        padding-left: 20px;
        padding-top: 15px;
    }
    .outer-list-post .col-lg-2 {
        float: left;
        width: 30%;
        padding-top:15px;
        padding-bottom:15px;
    }
    .product-pric-sec{
        padding-top:15px;
        padding-bottom:15px;
    }
    .left-page-form p {
        color: #ff6600;
        font-size: 12px;
    }
    .pro-icon-sec {
        font-size: 12px;
        overflow: hidden;
    }
    .pro-icon-sec .row {
        float: left;
        width: 59%;
    }
    .pro-icon-sec .col-lg-6 {
        float: none;
        margin-bottom: 10px;
        width: auto;
    }
    .prict-text2 {
        margin-top: 40px;
    }
    .footer-sec2, .footer-sec1{
        overflow:hidden;
    }


    .aw-nav-menu #navbar ul li a {
        padding: 27px 10px 22px !important;
    }
    .aw-nav {
        margin-left: 5px !important;
    }
    .inner-gray-sec .outer_sider_one {
        width: 100%;
    }
    .pro_thumnail_outer_sec {
        width: 100%;
    }
    .inner_home_thum_sec.inner_home_thum_sec1 {
        min-height: 330px;
        margin-top: 20px;
    }
    .inner_home_thum_sec2 {
        min-height: 330px;
    }
    .header-logo2 {
        margin-top: 30px;
    }
    .home-page-super-text .col-lg-6.col-sm-6.col-sm-12 {
        width: 100%;
    }
    .home-slider-sec {
        background-position: center top;
        background-size: 100% 78%;
    }
    .home_slider_text {
        padding: 50px 0 0;
    }
    .inner-home-content-area .flip-slider-img > img {
        width: 96%;
    }
    .inner-home-content-area .slick-prev.slick-arrow {
        left: -20px;
    }
    .home-search-btn {
        margin: 10px 0;
    }
    /***************Awais***************/

    .aw-container .navbar-header {
        padding:2px 0 10px 0;
        text-align: center;
    }
    .aw-container .navbar-header .navbar-brand {
        float: none;
    }
    .aw-nav-menu .aw-container .navbar-header {
        width: 100%;
        padding-left:20px;
    }
    .aw-nav-menu .aw-container #navbar {
        background-color: rgb(226, 227, 228);
        float: left;
        margin-top: 13px;
        padding-left: 20px;
        width: 100%;
    }
    .aw-nav-menu .aw-container #navbar ul li .aw_yellow_btn {
        display: inline-block;
        margin-left: 0 !important;
        margin-top: 0;
    }
    .aw-nav-menu .aw-container #navbar ul {
        float: left !important;
        margin-left: 0 !important;
    }
    .aw-container{
        padding-left:0px !important;
    }
    .user-icon{
        margin:0 !important;
    }
    .contact-buton a {
        font-size: 12px;
    }
    .footerr-content a {
        display: block;
    }
    .left-area{
        text-align:center;
        padding-bottom:379px !important;
    }
    .footerr-content{
        margin-bottom:10px;
    }
    .right-bttom{
        margin-bottom:10px;
    }
    /***************Awais***************/
}
@media all and (min-width:641px) and (max-width:767px){
    /***************Awais***************/
    .aw-nav-menu .aw-container .navbar-header a {
        display: inline-block;
        float: none;
        margin-left: 34%;
    }
    .aw-nav-menu .aw-container .navbar-header button {
        margin-right: 25% !important;
    }
    .aw-nav-menu .aw-container .navbar-header{
        text-align:center;
    }
    .aw-nav-menu #navbar ul li a{
        border:none !important;
    }
    .index2-aw-buton {
        padding: 0 !important;
        width: 100%;
    }
    .aw-nav-menu #navbar ul{
        width:100%;
        margin-right:0px;
        text-align:center;
    }
    .aw-nav-menu #navbar{
        margin-right:0px;
        margin-left:0px;
        padding-right:10px;
        padding-left:7px !important;
    }
    .aw-container #navbar ul{
        float:none !important;
    }
    .aw-container #navbar ul li a {
        padding-left: 15px !important;
    }
    .index2-aw-buton {
        margin-left: 0 !important;
        padding-left: 10px;
        padding-right: 40px;
    }
    .col-build-2,.col-build-3,.col-build-4,.col-build-5,.col-build-6 {
        border-bottom: 2px dashed #ccc;
        width: 100%;
        text-align: center;
    }
    .post-data {
        margin-bottom: 10px;
    }
    .left-head-section span:first-child{
        display:block;
        text-align:center;
        width: 100%;
    }
    .left-area {
        margin-bottom: 10px;
        padding-bottom: 45px !important;
    }
    .left-btoom {
        text-align: center !important;
    }
    .bottom-content h3{
        text-align:center;
    }
    .right-content {
        text-align: center !important;
    }
    .right-content > div {
        border-bottom: 2px dashed #ccc;
    }
    .half-section {
        float: left;
        width: 50%;
    }
    .col-aw-3,.col-aw-4,.col-aw-5,.col-aw-6 {
        float: left;
        width: 50%;
    }
    .footer-icon-sec {
        padding-left: 15px;
    }
    /***************Awais***************/
    .aw-nav-home-page .aw-container #navbar ul{
        margin-left:0px !important;
    }
    .top-links{
        float:none !important;
        text-align:center !important;
    }
    .aw-header-liniks{
        text-align:center !important;
    }
    .norightpadding, .noleftpadding{
        padding-left: 0;
        padding-right: 0 ;
    }
    .right-content-heading {
        min-height: 150px;
        overflow: initial !important;
    }
    .right-content-area .col-sm-4 {
        text-align: left;
    }
    .right-content-area .col-sm-4 .sort-listing .form-group--combobox select {
        width: 100%;
    }
    .copy-write-text {
        text-align: center;
    }
    .flag-sec {
        text-align: center;
    }
    .top-links {
        display: inline-block;
        float: none;
        overflow: hidden;
        padding-top: 13px;
    }
    .navbar-header button {
        background: #333 none repeat scroll 0 0 !important;
    }
    .form-group--combobox input {
        width: calc(98.5% - 34px);
    }
    .product-image-sec {
        margin: 0 0 10px;
    }
    .pro-icon-sec .row .col-lg-6 {
        float: none;
        margin-bottom: 10px;
        margin-top: 5px;
        width: auto;
    }
    .pro-icon-sec {
        overflow: hidden;
    }
    .prict-text2 {
        margin: 42px 0 0;
    }
    .prict-text3 {
        padding-top: 10px;
    }
    .prict-text3.yellow_prict_text3 {
        margin: 7px 0;
    }
    .footer-sec1 .widget {
        margin-bottom: 20px;
    }
    .footer-links {
        margin: 10px 0 0;
        text-align: center;
    }
    #navbar {
        padding: 0;
    }
    .nav-yellow-btn {
        display: block;
        float: none;
        text-align: center;
    }
    .nav-yellow-btn a{
        background: #ff6600 none repeat scroll 0 0;
        color: #fff;
        display: block;
        padding: 20px 35px !important;
    }


    .outer-list-post .col-lg-6{
        float: left;
        width: 65%;
    }
    .product-detail-sec {
        padding-bottom: 15px;
        padding-left: 30px;
        padding-top: 15px;
    }
    .outer-list-post .col-lg-2 {
        float: left;
        width: 30%;
        padding-top:15px;
        padding-bottom:15px;
    }
    .product-pric-sec{
        padding-top:15px;
        padding-bottom:15px;
    }
    .left-page-form p {
        color: #ff6600;
        font-size: 12px;
    }
    .groupslct1 {
        width: 100%;
    }
    .top-links.float-right {
        display: block;
        text-align: center;
    }
    .top-links.float-right > ul {
        display: inline-block;
    }
    .pro-icon-sec .row {
        float: left;
        width: 52%;
    }
    .aw-nav-menu{
        overflow:hidden;
    }

}
@media all and (min-width:481px) and (max-width:640px){
    .norightpadding, .noleftpadding{
        padding-left: 0;
        padding-right: 0 ;
    }
    .right-content-heading {
        min-height: 170px;
        overflow: initial !important;
    }
    .right-content-area .col-sm-4 {
        text-align: left;
    }
    .right-content-area .col-sm-4 .sort-listing .form-group--combobox select {
        width: 100%;
    }
    .copy-write-text {
        text-align: center;
    }
    .flag-sec {
        text-align: center;
    }
    .top-links {
        display: block;
        float: none;
        overflow: hidden;
        padding-top: 13px;
        text-align: center;
    }
    .product-detail-sec {
        padding-bottom: 15px;
        padding-left: 30px;
        padding-top: 15px;
    }
    .product-detail-sec > p {
        margin-top: 6px;
    }
    .navbar-header button {
        background: #333 none repeat scroll 0 0 !important;
    }
    .form-group--combobox input {
        width: calc(98.5% - 34px);
    }
    .product-image-sec {
        margin: 0 0 10px;
    }
    .pro-detail-text2 {
        margin: 20px 0 0;
    }
    .pro-icon-sec .row .col-lg-6 {
        margin-bottom: 0;
        margin-top: 10px;
    }
    .prict-text2 {
        margin: 10px 0;
    }
    .prict-text3.yellow_prict_text3 {
        margin: 7px 0;
    }
    .footer-sec1 .widget {
        margin-bottom: 20px;
    }
    .footer-links {
        margin: 10px 0 0;
        text-align: center;
    }
    .top-links ul li {
        margin-left: 23px;
    }
    .top-links.float-right > ul {
        display: inline-block;
    }
    #navbar {
        padding: 0;
    }
    .nav-yellow-btn {
        display: block;
        float: none;
        text-align: center;
    }
    .nav-yellow-btn a {
        background: #ff6600 none repeat scroll 0 0;
        color: #fff;
        display: block;
        padding: 20px 13px;
    }
    .groupslct1 {
        width: 100%;
    }
    .outer_row .col-sm-9 {
        padding-left: 0;
        padding-right: 0;
    }
    .flip-slider-img img {
        height: auto;
        width: 94%;
    }
    .inner-home-content-area .slick-prev.slick-arrow {
        left: -13px;
    }
    .gray_slides img {
        height: auto !important;
        width: 100% !important;
    }
    .inner_home_thum_sec {
        float: left;
        margin: 0 !important;
        min-height: auto !important;
        width: 50%;
    }
    .inner_home_thum_sec1, .inner_home_thum_sec2{
        margin-top: 30px !important;
    }
    .inner-thumnail-sec {
        margin-bottom: 30px;
    }
    .aw-nav-menu{
        overflow:hidden;
    }
    .top-links {
        float: none !important;
    }
    .home_all_form_top_icon img {
        height: auto;
        width: 15%;
    }
    .aw_yellow_btn {
        margin-left: 0px !important;
    }
    /***************Awais***************/
    .aw-nav-menu .aw-container .navbar-header a {
        display: inline-block;
        float: none;
        margin-left: 20%;
    }
    .aw-nav-menu .aw-container .navbar-header button {
        margin-right: 25% !important;
    }
    .aw-nav-menu .aw-container .navbar-header{
        text-align:center;
    }
    .aw-nav-menu #navbar ul li a{
        border:none !important;
    }
    .index2-aw-buton {
        padding: 0 !important;
        width: 100%;
    }
    .aw-nav-menu #navbar ul{
        width:100%;
        margin-right:0px;
        text-align:center;
    }
    .aw-nav-menu #navbar{
        margin-right:0px;
        margin-left:0px;
        padding-right:10px;
        padding-left:7px !important;
    }
    .aw-container #navbar ul{
        float:none !important;
    }
    .aw-container #navbar ul li a {
        padding-left: 15px !important;
    }
    .index2-aw-buton {
        margin-left: 0 !important;
        padding-left: 10px;
        padding-right: 40px;
    }
    /*.slick-prev {
      background-size: 70% auto !important;
      left: 116px !important;
      top: 81px !important;
    }*/
    .footer-icon-sec {
        padding-left: 15px;
    }
    .left-head-section span:first-child {
        display: block;
        width: 100%;
    }
    .left-area {
        padding-bottom: 55px !important;
    }
    /*.slick-next.slick-arrow{
        background-size: 70% auto !important;
    }*/
    .col-aw-3 {
        float: left;
        width: 50%;
    }
    .footerr-content {
        margin-bottom: 10px;
    }
    .col-aw-4 {
        float: left;
        width:50%;
    }
    .col-aw-5 {
        float: left;
        width: 50%;
    }
    .col-aw-6 {
        float: left;
        width: 50%;
    }
    .right-bttom{
        margin-bottom:10px;
    }
    .half-section{
        width:45% !important;
        float:left;
    }
    .second-half-section{
        width:45% !important;
        float:left;
    }
    .left-contact {
        text-align: center;
    }
    .right-content{
        text-align:center !important;
    }
    .right-content div {
        border-bottom: 2px dashed #ccc;
    }
    .post-sec {
        border-bottom: 2px dashed #ccc;
        text-align: center;
    }
    .inner-right-area {
        margin-top: 20px;
    }
    .user-icon{
        margin:0px;
    }
    .col-build-2 {
        width: 100%;
        margin-bottom: 20px;
    }
    .col-build-3 {
        margin-bottom: 20px;
        width: 100%;
    }
    .col-build-4 {
        width: 100%;
        margin-bottom: 20px;
    }
    /***************Awais***************/
}
@media all and (min-width:320px) and (max-width:480px){
    .norightpadding, .noleftpadding{
        padding-left: 0;
        padding-right: 0 ;
    }
    .right-content-heading {
        min-height: 190px;
        overflow: initial !important;
    }
    .right-content-area .col-sm-4 {
        text-align: left;
    }
    .right-content-area .col-sm-4 .sort-listing .form-group--combobox select {
        width: 100%;
    }
    .copy-write-text {
        text-align: center;
    }
    .flag-sec {
        text-align: center;
    }
    .top-links {
        float: none !important;
        text-align: center;
    }
    .navbar-header button {
        background: #333 none repeat scroll 0 0 !important;
    }
    .form-group--combobox input {
        width: calc(97.5% - 34px);
    }
    .product-image-sec {
        margin: 0 0 10px;
    }
    .pro-detail-text2 {
        margin: 20px 0 0;
    }
    .pro-icon-sec .row .col-lg-6 {
        margin-bottom: 0;
        margin-top: 10px;
    }
    .prict-text2 {
        margin: 80px 0 0;
    }
    .prict-text3.yellow_prict_text3 {
        margin: 7px 0;
    }
    .footer-sec1 .widget {
        margin-bottom: 20px;
    }
    .footer-links {
        margin: 10px 0 0;
        text-align: center;
    }
    .top-links ul li {
        float: none;
        margin-left: 0;
    }
    .top-links.float-right > ul {
        display: inline-block;
    }
    .all_form_top_icon img {
        height: auto;
        width: 15%;
    }
    .inner-snumber-sec h3 {
        font-size: 44px;
    }
    .inner-snumber-sec span {
        font-size: 21px;
    }
    #navbar {
        padding: 0;
    }
    .nav-yellow-btn {
        display: block;
        float: none;
        text-align: center;
    }
    .nav-yellow-btn a {
        background: #ff6600 none repeat scroll 0 0;
        color: #fff;
        display: block;
        padding: 20px 13px;
    }
    .groupslct1 {
        width: 100%;
    }
    .right-content-area {
        margin-top: 10px;
    }
    .outer_row > .col-sm-9 {
        padding-left: 0;
        padding-right: 0;
    }
    .pro-icon-sec .row {
        float: none;
        margin-bottom: 10px;
        width: auto;
    }
    .flip-slider-img {
        text-align: center !important;
    }
    .flip-slider-img > img {
        display: inline-block !important;
    }
    .inner-home-content-area .slick-prev.slick-arrow {
        left: -14px !important;
        z-index: 9999 !important;
    }
    .fs-title, .fs-title_km, .fs-date, .fs-date{
        text-align: center;
    }
    .inner-gray-sec .slick-prev.slick-arrow.slick-disabled {
        left: 70% !important;
    }
    .inner-gray-sec .slick-prev.slick-arrow {
        left: 70%;
    }
    .ptitle_info {
        float: left;
        width: 50%;
    }
    .pprice_info {
        float: right;
        width: 50%;
    }
    .inner-thumnail-sec {
        margin-bottom: 35px;
    }
    .home_all_form_top_icon img {
        height: auto;
        width: 15%;
    }
    .aw-nav-menu{
        overflow: hidden;
    }
    .header-logo2 {
        margin-top: 10px;
    }
    .home_slider_text h1 {
        font-size: 20px;
    }
    .aw_yellow_btn {
        margin-left: 0px !important;
    }
    /***************Awais***************/
    .aw-nav-menu .aw-container .navbar-header a {
        display: inline-block;
        float: none;
        margin-left: 10%;
    }
    .aw-nav-menu .aw-container .navbar-header button {
        margin-right: 5% !important;
    }
    .aw-nav-menu .aw-container .navbar-header{
        text-align:center;
    }
    .aw-nav-menu #navbar ul li a{
        border:none !important;
    }
    .index2-aw-buton {
        padding: 0 !important;
        width: 100%;
    }
    .aw-nav-menu #navbar ul{
        width:100%;
        margin-right:0px;
        text-align:center;
    }
    .aw-nav-menu #navbar{
        margin-right:0px;
        margin-left:0px;
        padding-right:10px;
        padding-left:7px !important;
    }
    .aw-container #navbar ul{
        float:none !important;
    }
    .aw-container #navbar ul li a {
        padding-left: 15px !important;
    }
    .index2-aw-buton {
        margin-left: 0 !important;
        padding-left: 10px;
        padding-right: 40px;
    }
    .aw-slider .container .col-sm-12 .single-item .slick-prev {
        left: 45px !important;
        top: 60px;
    }
    .aw-slider .container .col-sm-12 .single-item .slick-next {
        right: 30px !important;
        top: 60px;
    }
    .right-bttom{
        margin-bottom:10px;
    }
    .post-sec {
        border-bottom: 2px dashed #ccc;
        margin-bottom: 10px;
        text-align:center;
    }
    .left-contact {
        text-align: center;
    }
    .right-content div {
        border-bottom: 2px dashed #ccc;
    }
    .right-content{
        text-align:center !important;
    }
    .footerr-content {
        margin-bottom: 10px;
    }
    /*.slick-prev.slick-arrow{
        background-size:60% !important;
    }
    .slick-next.slick-arrow{
        background-size:60% !important;
    }
    .slick-prev {
      left: 40px !important;
      top: 35px !important;
    }*/
    .post-data {
        margin-bottom: 25px;
    }
    .left-area {
        padding-bottom: 55px !important;
    }
    .left-btoom {
        text-align: center;
    }
    .bottom-content{
        margin-top:20px;
    }
    .footer-icon-sec {
        padding-left: 20px;
    }
    .left-head-section span:first-child {
        display: block;
        width: 100%;
    }
    /*.slick-next.slick-arrow {
      right: 15px !important;
      top: 35px;
    }*/
    .col-build-2 {
        width: 100%;
    }
    .col-build-3 {
        width: 100%;
    }
    .col-build-4 {
        width: 100%;
    }
    .user-icon{
        margin:0px;
    }
    /***************Awais***************/
}
@media all and (min-width:320px) and (max-width:400px){
    .home_slider_text {
        padding: 155px 0 0 !important;
    }
    .product-detail-sec {
        padding-left: 0;
    }
    .pro-icon-sec .row {
        float: none;
        width: auto;
    }
    .product-detail-sec > p {
        font-size: 12px;
        margin-bottom: 0;
        margin-top: 10px;
    }
    .home_all_form_top_icon img {
        height: auto;
        width: 15%;
    }
    .slider-form-sec {
        padding: 35px 10px;
    }
    .home-search-btn {
        margin: 10px 0 20px;
    }
    .aw_yellow_btn {
        margin-left: 0px !important;
    }
    /*AWais Css */
    .aw-container #navbar ul{
        float:none !important;
    }
    .aw-container #navbar ul li a {
        padding-left: 15px !important;
    }
    .index2-aw-buton {
        margin-left: 0 !important;
        padding-left: 10px;
        padding-right: 40px;
    }
    .aw-slider .container .col-sm-12 .single-item .slick-prev {
        background-size: 65% auto;
        left: 30px !important;
        top: 40px;
    }


    .aw-slider .container .col-sm-12 .single-item .slick-next {
        background-size: 65% auto;
        right: 10px !important;
        top: 40px;
    }
}

input[type="date"]::-webkit-inner-spin-button{
    display: none;
    -webkit-appearance: none;
}



/* Base for label styling */
.color_box [type="checkbox"]:not(:checked),
.color_box [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;

}
.color_box [type="checkbox"]:not(:checked) + label,
.color_box [type="checkbox"]:checked + label {
    position: relative;
    padding-top: 2px;
    padding-left: 6px;
    cursor: pointer;
    margin-bottom: 10px;
}

/* radio aspect */
.color_box [type="checkbox"]:not(:checked) + label:before,
.color_box  [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left:0; top: 2px;
    width: 28px; height: 28px;
    border: 1px solid #ff6600;
    background: blue;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
}


/* radio aspect */
.color_box_red [type="checkbox"]:not(:checked) + label:before,
.color_box_red  [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left:0; top: 2px;
    width: 28px; height: 28px;
    border: 1px solid #ff6600;
    background: red;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
}

/* radio aspect */
.color_box_green [type="checkbox"]:not(:checked) + label:before,
.color_box_green  [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left:0; top: 2px;
    width: 28px; height: 28px;
    border: 1px solid #ff6600;
    background: green;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
}

/* radio aspect */
.color_box_yellow [type="checkbox"]:not(:checked) + label:before,
.color_box_yellow  [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left:0; top: 2px;
    width: 28px; height: 28px;
    border: 1px solid #ff6600;
    background: yellow;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
}
/* radio aspect */
.color_box_black [type="checkbox"]:not(:checked) + label:before,
.color_box_black  [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left:0; top: 2px;
    width: 28px; height: 28px;
    border: 1px solid #ff6600;
    background: black;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
}

/* radio aspect */
.color_box_purple [type="checkbox"]:not(:checked) + label:before,
.color_box_purple  [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left:0; top: 2px;
    width: 28px; height: 28px;
    border: 1px solid #ff6600;
    background: purple;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
}
/* radio aspect */
.color_box_white [type="checkbox"]:not(:checked) + label:before,
.color_box_white  [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left:0; top: 2px;
    width: 28px; height: 28px;
    border: 1px solid #ff6600;
    background: white;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
}
/* radio aspect */
.color_box_orange [type="checkbox"]:not(:checked) + label:before,
.color_box_orange  [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left:0; top: 2px;
    width: 28px; height: 28px;
    border: 1px solid #ff6600;
    background: orange;
    color: #000;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
}
/* radio aspect */
.color_box_gray [type="checkbox"]:not(:checked) + label:before,
.color_box_gray  [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left:0; top: 2px;
    width: 28px; height: 28px;
    border: 1px solid #ff6600;
    background: gray;
    color: #000;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
}
/* radio aspect */
.color_box_metallic [type="checkbox"]:not(:checked) + label:before,
.color_box_metallic  [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left:0; top: 2px;
    width: 28px; height: 28px;
    border: 1px solid #ff6600;
    background: gray;
    color: #000;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
}
/* radio aspect */
.color_box_brown [type="checkbox"]:not(:checked) + label:before,
.color_box_brown  [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left:0; top: 2px;
    width: 28px; height: 28px;
    border: 1px solid #ff6600;
    background: brown;
    color: #000;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
}
.color_box_black{
    color: #ffffff;
}
.color_box_green {
    color: #ffffff;
}
.color_box {
    color: #ffffff;
}
.color_box_brown {
    color: #ffffff;
}
.color_box_yellow {
    color: #000000;
}
.color_box_white {
    color: #000000;
}


/* checked mark aspect */
.color_box [type="checkbox"]:not(:checked) + label:after,
.color_box [type="checkbox"]:checked + label:after {
    content: '■';
    position: absolute;
    top: -3px; left: 6px;
    font-size: 24px;
    transition: all .2s;
}
/* checked mark aspect changes */
.color_box [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
.color_box [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);

}
.color_box [type="checkbox"]:checked  {
    box-shadow: inset 0 1px 3px #ff6600;
}