<table class="table table-striped">

    <a href="#adverts/new" ng-if="adverts.length == 0"><button type="button" class="btn btn-primary">
        Добавить объявление
    </button>
    <a href="#adverts/new" ng-if="adverts[0].free > 0"><button type="button" class="btn btn-primary">
        Добавить объявление
    </button>
    <a href="#adverts/new" ng-if="adverts[0].free <= 0" style="text-decoration: none">Что бы снять ограничение
        добавьте пакет

    </a>

    <div class="modal fade" id="createModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">New filter</h4>
                </div>
                <div class="modal-body" ng-init="new_filter">

                    <div class="input-group">
                        <input type="text" ng-model="new_filter.name" class="form-control"  placeholder="Filter name">

                        <select ng-model="new_filter.type_value" ng-options="option.name for option in type_options" class="form-control">
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="addNewFilter()" >Create filter</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myUpdateLabel">Update filter</h4>
                </div>
                <div class="modal-body" ng-init="update_filter">

                    <div class="input-group">

                        <input type="hidden" ng-model="update_filter.id" class="form-control"  placeholder="Filter name">

                        <input type="text" ng-model="update_filter.name" class="form-control"  placeholder="Filter name">

                        <select ng-model="update_filter.type_value" ng-options="option.name for option in type_options" class="form-control">
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="_edit()" >Create filter</button>
                </div>
            </div>
        </div>
    </div>


    <thead>
    <tr>
        <th>id</th>
        <th>Desc</th>
        <th>Price</th>
        <th>Top</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Remove</th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="advert in adverts">
        <td>{{ advert.id }}</td>
        <td>{{ advert.description }}</td>
        <td>{{ advert.price + ' ' + advert.currency }}</td>
        <td ng-if="advert.service == 1">В топе</td>
        <td ng-if="advert.service == 0"><button type="button" class="btn btn-info btn-sm"   ng-click="setTop(advert)">Поднять в топ</button></td>
        <td><button type="button" class="btn btn-info btn-sm"   ng-click="show(advert)">Show</button></td>
        <td><button type="button" class="btn btn-warning btn-sm"  ng-click="showEdit(advert)">Edit</button></td>
        <td><button type="button" class="btn btn-danger btn-sm"   ng-click="_remove(advert)">Remove</button></td>

    </tr>
    </tbody>
</table>