<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,600,300,700'
      rel='stylesheet' type='text/css'>

<style>
    .filter-bg {
        width: 100%;
    }
</style>



<div style="float:left; display: inline-block">
    <div class="filter-bg">

        <label class="input-group" >Описание</label>
        <div class="row row_desc">
            <div class="col-lg-12">
                <div class="input-group">
                   <span class="input-group-addon">
                     <input type="checkbox" aria-label="...">
                 </span>
                    <textarea type="text" ng-model="advert.desc" class="form-control" aria-label="..."></textarea>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>

        <label class="input-group" >Цена</label>
        <div class="input-group">
            <input type="number" class="form-control" ng-model="advert.price" placeholder="Username" aria-describedby="basic-addon1">
        </div>

        <label class="input-group" >Валюта</label>
        <div class="input-group">
            <select  class="form-control" ng-model="advert.currency">
                <option value="1">RUB</option>
                <option value="2">EUR</option>
                <option value="3">USD</option>
            </select>
        </div>

        <label class="input-group" >Фильтры</label>
        <div class="filter">


            <div class="filter-form" ng-repeat="group in groups">
                <div class="filter-form" ng-repeat="filter in group.filters">

                    <div ng-if="filter.type_value == 10">

                        <div class="form-select">
                            <select ng-model="filter.__selected" ng-change="change(filter)">
                                <option  ng-repeat="prop_val in filter.prop_vals" value="{{ prop_val }}" >

                                    {{ prop_val.title }}

                                </option>
                            </select>
                        </div>
                        <div class="form-select">
                            <select ng-model="filter.selected" >
                                <option  ng-repeat="prop_val in filter.selected_sub.prop_vals" value="{{ prop_val.id }}">

                                    {{ prop_val.title }}

                                </option>
                            </select>
                        </div>

                    </div>

                    <div class="form-select" ng-if="filter.type_value == 4">

                        <select ng-model="filter.selected" ng-change="change(filter)">
                            <option  ng-repeat="prop_val in filter.prop_vals" value="{{ prop_val.id }}">

                                {{ prop_val.title }}

                            </option>
                        </select>


                    </div>
                    <div class="form-radio-group" ng-if="filter.type_value == 3">

                        <div   ng-repeat="prop_val in filter.prop_vals" value="{{ prop_val.id }}" class="form-radio">
                            <input type="radio"  ng-click="setCheckbox(filter, prop_val)" name="filter_{{ filter.name }}" class="form-checkbox" id="{{ prop_val.id }}" />
                            <label for="{{ prop_val.id }}">{{ prop_val.title }}</label>
                        </div>



                    </div>
                    <div ng-if="filter.type_value == 2">

                        <div class="form-radio" ng-repeat="prop_val in filter.prop_vals" >
                            <input type="checkbox"  ng-click="setCheckbox(filter, prop_val)" class="form-checkbox" id="{{ prop_val.id }}" />
                            <label for="{{ prop_val.id }}">{{ prop_val.title }}</label>
                        </div>


                    </div>
                    <div ng-if="filter.type_value == 1">




                        <div class="input-group">
                            <input id="pac-input" type="text" class="form-control" style="height: 40px" placeholder="{{ filter.name }} ">
                        <span class="input-group-btn">
                        <img ng-src="/assets/input_bg.png"></span>
                        </div><!-- /input-group -->

                    </div>

                </div>

                <div class="line"></div>
            </div>
        </div>
    </div>


</div>

<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
        <a href="#adverts"><button type="button" class="btn btn-warning" >Отмена</button></a>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-info" ng-click="create('def')">Создать</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-success" ng-click="create('top')">Поднять в топ</button>
    </div>
</div>