<select class="form-control form-control--combobox slct2" ng-class="{'no_valid' : filtr.valid}"  ng-model="filtr._selected" ng-change="action(filtr)"
        ng-options="item as item.title for item in filtr.prop_vals track by item.id">
    <option value="0">{{ filtr.default }}</option>
</select>