<%= form_for(@lang_value) do |f| %>
  <% if @lang_value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lang_value.errors.count, "error") %> prohibited this lang_value from being saved:</h2>

      <ul>
      <% @lang_value.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
