<p id="notice"><%= notice %></p>

<h1>Listing Lang Values</h1>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lang_values.each do |lang_value| %>
      <tr>
        <td><%= lang_value.value %></td>
        <td><%= link_to 'Show', lang_value %></td>
        <td><%= link_to 'Edit', edit_lang_value_path(lang_value) %></td>
        <td><%= link_to 'Destroy', lang_value, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lang value', new_lang_value_path %>
