
<nav class="navbar user-info-navbar" ng-class="{'mobile-is-visible': layoutOptions.userInfoNavVisible}" ng-click="mobileUserInfoToggle()" role="navigation"><!-- User Info, Notifications and Menu Bar -->

	<!-- Left links for user info navbar -->
	<ul class="user-info-menu left-links list-inline list-unstyled">

		<li class="hidden-sm hidden-xs">
			<a href="" ng-click="sidebarToggle()">
				<i class="fa-bars"></i>
			</a>
		</li>

		<li class="dropdown hover-line" on-toggle="updatePsScrollbars()">
			<a href="" class="dropdown-toggle" data-toggle="dropdown">
				<i class="fa-envelope-o"></i>
				<span class="badge badge-green">15</span>
			</a>

			<ul class="dropdown-menu messages" on-toggle="updatePsScrollbars()">
				<li>

					<ul class="dropdown-menu-list list-unstyled ps-scrollbar">

						<li class="active"><!-- "active" class means message is unread -->
							<a href="">
				<span class="line">
					<strong>Luc Chartier</strong>
					<span class="light small">- yesterday</span>
				</span>

				<span class="line desc small">
					This ain’t our first item, it is the best of the rest.
				</span>
							</a>
						</li>

						<li class="active">
							<a href="">
				<span class="line">
					<strong>Salma Nyberg</strong>
					<span class="light small">- 2 days ago</span>
				</span>

				<span class="line desc small">
					Oh he decisively impression attachment friendship so if everything.
				</span>
							</a>
						</li>

						<li>
							<a href="">
				<span class="line">
					Hayden Cartwright
					<span class="light small">- a week ago</span>
				</span>

				<span class="line desc small">
					Whose her enjoy chief new young. Felicity if ye required likewise so doubtful.
				</span>
							</a>
						</li>

						<li>
							<a href="">
				<span class="line">
					Sandra Eberhardt
					<span class="light small">- 16 days ago</span>
				</span>

				<span class="line desc small">
					On so attention necessary at by provision otherwise existence direction.
				</span>
							</a>
						</li>

						<!-- Repeated -->

						<li class="active"><!-- "active" class means message is unread -->
							<a href="">
				<span class="line">
					<strong>Luc Chartier</strong>
					<span class="light small">- yesterday</span>
				</span>

				<span class="line desc small">
					This ain’t our first item, it is the best of the rest.
				</span>
							</a>
						</li>

						<li class="active">
							<a href="">
				<span class="line">
					<strong>Salma Nyberg</strong>
					<span class="light small">- 2 days ago</span>
				</span>

				<span class="line desc small">
					Oh he decisively impression attachment friendship so if everything.
				</span>
							</a>
						</li>

						<li>
							<a href="">
				<span class="line">
					Hayden Cartwright
					<span class="light small">- a week ago</span>
				</span>

				<span class="line desc small">
					Whose her enjoy chief new young. Felicity if ye required likewise so doubtful.
				</span>
							</a>
						</li>

						<li>
							<a href="">
				<span class="line">
					Sandra Eberhardt
					<span class="light small">- 16 days ago</span>
				</span>

				<span class="line desc small">
					On so attention necessary at by provision otherwise existence direction.
				</span>
							</a>
						</li>

					</ul>

				</li>

				<li class="external">
					<a href="mailbox-main.html">
						<span>All Messages</span>
						<i class="fa-link-ext"></i>
					</a>
				</li>			</ul>
		</li>

		<li class="dropdown hover-line">
			<a href="" class="dropdown-toggle" data-toggle="dropdown">
				<i class="fa-bell-o"></i>
				<span class="badge badge-purple">7</span>
			</a>

			<ul class="dropdown-menu notifications">
				<li class="top">
					<p class="small">
						<a href="" class="pull-right">Mark all Read</a>
						You have <strong>3</strong> new notifications.
					</p>
				</li>

				<li>
					<ul class="dropdown-menu-list list-unstyled ps-scrollbar">
						<li class="active notification-success">
							<a href="">
								<i class="fa-user"></i>
				
				<span class="line">
					<strong>New user registered</strong>
				</span>
				
				<span class="line small time">
					30 seconds ago
				</span>
							</a>
						</li>

						<li class="active notification-secondary">
							<a href="">
								<i class="fa-lock"></i>
				
				<span class="line">
					<strong>Privacy settings have been changed</strong>
				</span>
				
				<span class="line small time">
					3 hours ago
				</span>
							</a>
						</li>

						<li class="notification-primary">
							<a href="">
								<i class="fa-thumbs-up"></i>
				
				<span class="line">
					<strong>Someone special liked this</strong>
				</span>
				
				<span class="line small time">
					2 minutes ago
				</span>
							</a>
						</li>

						<li class="notification-danger">
							<a href="">
								<i class="fa-calendar"></i>
				
				<span class="line">
					John cancelled the event
				</span>
				
				<span class="line small time">
					9 hours ago
				</span>
							</a>
						</li>

						<li class="notification-info">
							<a href="">
								<i class="fa-database"></i>
				
				<span class="line">
					The server is status is stable
				</span>
				
				<span class="line small time">
					yesterday at 10:30am
				</span>
							</a>
						</li>

						<li class="notification-warning">
							<a href="">
								<i class="fa-envelope-o"></i>
				
				<span class="line">
					New comments waiting approval
				</span>
				
				<span class="line small time">
					last week
				</span>
							</a>
						</li>
					</ul>
				</li>

				<li class="external">
					<a href="">
						<span>View all notifications</span>
						<i class="fa-link-ext"></i>
					</a>
				</li>			</ul>
		</li>

		<!-- Added in v1.2 -->
		<li class="dropdown hover-line language-switcher">
			<a href="" class="dropdown-toggle" data-toggle="dropdown">
				<img src="assets/images/flags/flag-uk.png" alt="flag-uk" />
				English
			</a>

			<ul class="dropdown-menu languages">
				<li>
					<a href="#">
						<img src="assets/images/flags/flag-al.png" alt="flag-al" />
						Shqip
					</a>
				</li>
				<li class="active">
					<a href="#">
						<img src="assets/images/flags/flag-uk.png" alt="flag-uk" />
						English
					</a>
				</li>
				<li>
					<a href="#">
						<img src="assets/images/flags/flag-de.png" alt="flag-de" />
						Deutsch
					</a>
				</li>
				<li>
					<a href="#">
						<img src="assets/images/flags/flag-fr.png" alt="flag-fr" />
						Fran&ccedil;ais
					</a>
				</li>
				<li>
					<a href="#">
						<img src="assets/images/flags/flag-br.png" alt="flag-br" />
						Portugu&ecirc;s
					</a>
				</li>
				<li>
					<a href="#">
						<img src="assets/images/flags/flag-es.png" alt="flag-es" />
						Espa&ntilde;ol
					</a>
				</li>
			</ul>
		</li>

	</ul>


	<!-- Right links for user info navbar -->
	<ul class="user-info-menu right-links list-inline list-unstyled">
		<li class="fullscreen" ng-show="isFullscreenSupported">
			<a href="" ng-click="goFullscreen()" title="Fullscreen">
				<i ng-class="{'fa-expand': ! isFullscreen, 'fa-compress': isFullscreen == true}"></i>
			</a>
		</li>

		<li class="search-form" ng-init="isFocused = false" ng-class="{focused: isFocused}"><!-- You can add "always-visible" to show make the search input visible -->

			<form name="userinfo_search_form" ng-submit="userinfo_search_form.$valid" novalidate>
				<input type="text" name="s" class="form-control search-field" placeholder="Type to search..." ng-blur="isFocused = false;" required />

				<button type="submit" class="btn btn-link" ng-click="isFocused = ! isFocused; setFocusOnSearchField();">
					<i class="linecons-search"></i>
				</button>
			</form>

		</li>

		<li class="dropdown user-profile">
			<a href="" class="dropdown-toggle" data-toggle="dropdown">
				<img src="assets/images/user-4.png" alt="user-image" class="img-circle img-inline userpic-32" width="28" />
				<span>
					John Smith
					<i class="fa-angle-down"></i>
				</span>
			</a>

			<ul class="dropdown-menu user-profile-menu list-unstyled">
				<li>
					<a href="#edit-profile">
						<i class="fa-edit"></i>
						New Post
					</a>
				</li>
				<li>
					<a href="#settings">
						<i class="fa-wrench"></i>
						Settings
					</a>
				</li>
				<li>
					<a href="#profile">
						<i class="fa-user"></i>
						Profile
					</a>
				</li>
				<li>
					<a href="#help">
						<i class="fa-info"></i>
						Help
					</a>
				</li>
				<li class="last">
					<a rel="nofollow" data-method="delete" href="/users/sign_out">
						<i class="fa-lock"></i>
						Logout
					</a>
				</li>
			</ul>
		</li>

		<li>
			<a href="" ng-click="chatToggle();" data-toggle="chat">
				<i class="fa-comments-o"></i>
			</a>
		</li>

	</ul>

</nav>