<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @image.title %>
</p>

<%= image_tag @image.image.url %>
<%= image_tag @image.image.url(:medium) %>
<%= image_tag @image.image.url(:thumb) %>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
