<!DOCTYPE html>
<html ng-app="auto">
<head>
  <title>Auto</title>
  <%= stylesheet_link_tag    'css/fonts/linecons/css/linecons.css', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'css/fonts/fontawesome/css/font-awesome.min.css', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'css/bootstrap.css', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'css/xenon-core.css', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'css/xenon-forms.css', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'css/xenon-components.css', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'css/xenon-skins.css', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'css/custom.css', 'data-turbolinks-track' => true %>


  <%= javascript_include_tag 'jquery.js', 'data-turbolinks-track' => false %>



  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'bootstrap.min.js', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'angular/angular.min.js', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'angular-route/angular-route.min.js', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'angular-resource/angular-resource.min.js', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'angular-file-upload/dist/angular-file-upload.min.js', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'bower_components/tinycolor/tinycolor', 'data-turbolinks-track' => false %>

  <%= csrf_meta_tags %>

  <script>
      var appHelper = {
          // Vars (paths without trailing slash)
          templatesDir: '/assets/admin_app/tpls',
          assetsDir: '/assets/admin_app/assets',

          // Methods
          templatePath: function(view_name)
          {
              return this.templatesDir + '/' + view_name + '.html';
          },

          assetPath: function(file_path)
          {
              return this.assetsDir + '/' + file_path;
          }
      };



  </script>

</head>
<body>

<%= yield %>

 <%= javascript_include_tag 'admin_app/js/angular-ui/angular-ui-router.min.js', 'data-turbolinks-track' => false %>
<%= javascript_include_tag 'admin_app/js/angular-ui/ui-bootstrap-tpls-0.11.2.min.js', 'data-turbolinks-track' => false %>
<%= javascript_include_tag 'admin_app/js/angular/angular-cookies.min.js', 'data-turbolinks-track' => false %>
<%= javascript_include_tag 'admin_app/js/oc-lazyload/ocLazyLoad.min.js', 'data-turbolinks-track' => false %>
<%= javascript_include_tag 'admin_app/js/angular-fullscreen.js', 'data-turbolinks-track' => false %>
<%= javascript_include_tag 'admin_app/assets/js/TweenMax.min.js', 'data-turbolinks-track' => false %>
<%= javascript_include_tag 'admin_app/assets/js/joinable.js', 'data-turbolinks-track' => false %>
<%= javascript_include_tag 'admin_app/assets/js/resizeable.js', 'data-turbolinks-track' => false %>


<%= javascript_include_tag 'admin_app/js/app.js', 'data-turbolinks-track' => false %>
<%= javascript_include_tag 'admin_app/js/controllers.js', 'data-turbolinks-track' => false %>
<%= javascript_include_tag 'admin_app/js/directives.js', 'data-turbolinks-track' => false %>
<%= javascript_include_tag 'admin_app/js/factory.js', 'data-turbolinks-track' => false %>
<%= javascript_include_tag 'admin_app/js/services.js', 'data-turbolinks-track' => false %>

<%= javascript_include_tag 'admin_app/js/xenon-custom.js', 'data-turbolinks-track' => false %>

</body>
</html>
