<!DOCTYPE html >
<html  >
<head>
  <title>Auto</title>






  <%= csrf_meta_tags %>
</head> 




<%= yield %>


<!-- Bottom Scripts -->


<!-- JavaScripts initializations and stuff -->


</body>
</html>
