<!DOCTYPE html>
<html ng-app="auto_client">
<head>
  <title>Auto</title>

  <%= stylesheet_link_tag    'bootstrap.min', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'admin_app/assets/js/dropzone/css/dropzone.css', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'jquery.min.js', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'bootstrap.min.js', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'angular/angular.min.js', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'angular-route/angular-route.min.js', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'angular-resource/angular-resource.min.js', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'angular-google-maps/dist/angular-google-maps.js', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'lodash/lodash.js', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'client_public/index.js', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'slick-carousel/slick/slick.js', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'angular-slick-carousel/dist/angular-slick.min.js', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'admin_app/js/oc-lazyload/ocLazyLoad.min.js', 'data-turbolinks-track' => false %>
  <%= stylesheet_link_tag    '1816221023myCasLoginView', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'admin_app/assets/js/dropzone/dropzone.min.js', 'data-turbolinks-track' => false %>

  <link rel="stylesheet" href="/assets/client.css?a3">
  <%= stylesheet_link_tag    'detail', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'css/xenon-forms.css', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin_app/js/xenon-custom.js', 'data-turbolinks-track' => false %>

  <%= stylesheet_link_tag    'last/aw-responsive', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'auth', 'data-turbolinks-track' => true %>



  <script>
      var appHelper = {
          // Vars (paths without trailing slash)
          templatesDir: '/assets/admin_app/tpls',
          assetsDir: '/assets/admin_app/assets',

          // Methods
          templatePath: function(view_name)
          {
              return this.templatesDir + '/' + view_name + '.html';
          },

          assetPath: function(file_path)
          {
              return this.assetsDir + '/' + file_path;
          }
      };
  </script>



  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>

<%= javascript_include_tag 'admin_app/js/directives.js', 'data-turbolinks-track' => false %>

</body>
</html>
